<apex:component controller="VCC_AssessmentController" allowDML="true" >
    <apex:pagemessages id="rensave"/>
    <apex:attribute name="objectRec" type="sObject"  required="true" description="Object Record" assignTo="{!obj}"/>
    <apex:attribute name="queryFields" type="String[]" description="Values for Assessment" assignTo="{!lstQueryFieldValue}"/>
    <apex:attribute name="returnURL" type="String" description="Return URL" assignTo="{!retURL}"/>
    <apex:attribute name="readOnly" type="Boolean" description="Displays page in read only mode"/>
    
    <apex:actionFunction name="populateQuestions" action="{!populateQuestions}" reRender="noAssessment,showAssessmnet"  status="loading" /> 
    <apex:actionStatus id="loading">
        <apex:facet name="start">
            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;height: 100%;opacity:0.65;width:100%;"> 
                <div class="waitingHolder" style="top: 74.2px; width: 91px;">
                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                    <span class="waitingDescription">{!$Label.CL00011}</span>
                </div>
            </div>
        </apex:facet>
    </apex:actionStatus>
    <apex:outputtext value="{!populateAssessment}" />
    <!----------------------- New/Edit ---------------------------------------------------------------->
   
        <apex:pageBlock id="showAssessmnet"  title="Assessment">
        <script>
            function done()
            {
                window.open('','_self',''); 
               window.top.close(); 
            }
        </script>
        <apex:pageBlockButtons location="bottom">
            <apex:commandButton value="{!$Label.CL00017}" title="Please save as draft" action="{!doSave}"  status="loading" rendered="{!(NOT(readOnly) && NOT(IsORF))}" reRender="rensave,rensaveBtm"/>
            
            <apex:commandButton value="{!$Label.CL00017}" action="{!doSaveDraft}"  status="loading" rendered="{!(NOT(readOnly) && IsORF)}" reRender="rensave,rensaveBtm"/>
            <apex:commandButton value="{!$Label.CLFEB14PRM01}" action="{!doSubmit}"  status="loading" rendered="{!(NOT(readOnly) && IsORF)}" reRender="rensave,rensaveBtm"/>           
            <apex:commandButton action="{!doCancel}" value="{!$Label.CL00023}" rendered="{!NOT(readOnly)}" />
            <apex:commandButton value="Done" onClick="javascript:done()" rendered="{!readOnly}" />
            <!-- &nbsp;&nbsp;&nbsp;<apex:outputText style="margin-left:0;font-style: italic;color:green;" value="{!$Label.CLFEB15PRM15}" /> -->
            
        </apex:pageBlockButtons>    
                        
        <apex:pageBlockSection columns="1" >
            
            <apex:pageBlockSectionItem rendered="{!assessmentCount > 2}">
           
                <apex:outputLabel >{!$Label.CLSEP12SLS07}</apex:outputLabel>
                <apex:selectList value="{!SelectedAssment}" disabled="{!if(or(obj.id!=null,readOnly),true,false)}" onchange="populateQuestions();" multiselect="false" size="1">
                    <apex:selectOptions value="{!AssmentOptions}"/>
                </apex:selectList>
            </apex:pageBlockSectionItem>      
            <apex:pageBlockSectionItem rendered="{!(AssmentData.size != 0)}"> 
                <apex:pageblockTable value="{!AssmentData}" var="wraper" columns="2"> 
                    <apex:column width="1%" style="vertical-align:text-align:top;">
                        <apex:outputText value="*" style="text-align:right;color:red; font-style:bold;font-size:16pt;" rendered="{!wraper.question.Required__c}" />
                    </apex:column>
                    <apex:column headerValue="{!$Label.CLSEP12SLS09}" style="padding-left:0px !important;">
                        <b>Question</b>{!wraper.question.Sequence__c}:&nbsp; 
                        <apex:outputText value="{!wraper.question.QuestionDescription__c}" /> &nbsp;&nbsp; 
                        <apex:outputText value="({!wraper.QuestionHelpText})" style="font-style: italic;color:green;" rendered="{!if((wraper.question.AnswerType__c != $Label.CLOCT13PRM10 && wraper.QuestionHelpText !=null),true,false)}"/>   
                        <br />
                        <apex:outputPanel rendered="{!if(wraper.question.AnswerType__c = $Label.CLOCT13PRM10,true,false)}">
                            <!--<apex:inputtext value="{!wraper.response.ResponseText__c}" size="80" style="height:40px;" rendered="{!NOT(readOnly)}"/>-->
                            <apex:inputtextArea value="{!wraper.response.ResponseText__c}" cols="50" rows="3" richText="false" rendered="{!NOT(readOnly)}"/>
                            <apex:outputtext value="{!wraper.response.ResponseText__c}" rendered="{!readOnly}"/>
                            
                        </apex:outputPanel>  
                         <apex:outputPanel rendered="{!if(wraper.question.AnswerType__c = $Label.CLOCT13PRM12,true,false)}">
                            <apex:selectCheckboxes value="{!wraper.lstSelectedAnswer}" layout="pageDirection" disabled="{!readOnly}" styleClass="dataRow odd last">
                                <apex:selectOptions value="{!wraper.pickListOptions}" />                                
                            </apex:selectCheckboxes>
                            <apex:outputText escape="false" value="   [{!wraper.AnswerHelpText}]" style="margin-left:25px;color:green;" rendered="{!wraper.AnswerHelpText !=null}"/>
                        </apex:outputPanel> 
                        <apex:outputPanel rendered="{!if(wraper.question.AnswerType__c = $Label.CLOCT13PRM11,true,false)}">
                            <apex:selectList styleClass="answerselect" id="Select" value="{!wraper.selAnswer}" multiselect="false" size="1" disabled="{!readOnly}" >
                                <apex:selectOptions value="{!wraper.pickListOptions}" />            
                            </apex:selectList> 
                            <br /><br />
                            <apex:outputText escape="false" value="   [{!wraper.AnswerHelpText}]" style="margin-left:2px;color:green;" rendered="{!wraper.AnswerHelpText !=null}"/> 
                            
                        </apex:outputPanel>
                            <apex:outputPanel rendered="{!if(wraper.question.AnswerType__c = $Label.CLOCT13PRM29,true,false)}" styleClass="dataRow odd last">
                            <apex:selectRadio value="{!wraper.selAnswer}" disabled="{!readOnly}" layout="pageDirection">
                                <apex:selectOptions value="{!wraper.pickListOptions}"/>
                            </apex:selectRadio>
                            <apex:outputText escape="false" value="   [{!wraper.AnswerHelpText}]" style="margin-left:25px;color:green;" rendered="{!wraper.AnswerHelpText !=null}"/>
                             </apex:outputPanel>                           
                        <br /><br />  
                    </apex:column>   
                </apex:pageblockTable>
             </apex:pageBlockSectionItem>     
         </apex:pageBlockSection>
         <!-- <apex:pageBlockSection columns="1">
            <apex:outputLabel />                 
         </apex:pageBlockSection> -->         
    </apex:pageBlock>   
    <apex:pageBlock >  
        <apex:pageBlockSection columns="1">
            <apex:outputText style="float:center; margin-left:0;font-style: italic;color:green;" value="{!$Label.CLFEB15PRM15}" escape="false" />
        </apex:pageBlockSection>
    </apex:pageBlock>   
    <apex:pagemessages id="rensaveBtm"/>
</apex:component>