<apex:component id="headerComponent" controller="FieloEE.ProgramController" access="global" layout="none">
    <apex:attribute Name="layout" description="" required="false" type="FieloEE__ProgramLayout__c" />
    
    <apex:variable var="menuType" value="" />
    <apex:variable var="menuType" value="nav-pills" rendered="{!layout.FieloEE__Menu__c == 'pills'}" />
    <apex:variable var="menuType" value="nav-tabs" rendered="{!layout.FieloEE__Menu__c == 'tabs'}" />
    
    <apex:variable var="color" value="{!layout.FieloEE__ColorFont02__c}"/>
    <apex:variable var="color" value="000000" rendered="{!ISNULL(layout.FieloEE__ColorFont02__c)}"/>
    <apex:variable var="logo" value="{!IF(LEFT(layout.FieloEE__Logo__c,3) == '00P', URLFOR($Action.Attachment.Download, layout.FieloEE__Logo__c), IF(LEFT(layout.FieloEE__Logo__c,3) == '015', URLFOR($Action.Document.Download, layout.FieloEE__Logo__c), URLFOR($Resource.FieloEE__Templates, layout.FieloEE__Logo__c)))}"/>
    <apex:variable var="logo" value="{!URLFOR($Resource.FieloEE__images, 'logo/fielo-'+ color +'.png')}" rendered="{!ISNULL(layout.FieloEE__Logo__c)}"/>
    <div class="blockDiv" style="width: 100%; position: fixed; height: 100%; top: 0; left: 0; background-color: #FFFFFF; z-index: 9999; display: block;"></div>
    <div class="container">
        <div class="row-fluid logoBar heightBar">
            <div class="span3">
                <apex:outputLink value="{!URLFOR('/')}" styleClass="imgLogoA">
                    <img id="imgLogo" class="imgLogo" src="{!logo}"/>
                </apex:outputLink>
            </div>
            <div class="span9">
                <div class="pull-right">
                    <FieloEE:Menu section="Top" customPage="{!program.FieloEE__CustomPage__c}" classMenu="topMenu"/>
                </div>
            </div>
        </div>
        <!-- Desktop & Tablet -->
        <div class="row-fluid programBar">
            <div class="programMemberHead hidden-phone clearfix">
                <div class="programName pull-left">
                    {!program.Name}
                </div>
                
                <!--
                <div class="globalSearchContainer pull-left">
                    <c:Fielo_GlobalSearch />
                </div>
                -->
                
                <div class="memberInfo pull-right">
                    <c:Fielo_Welcome rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}"/>
<!--                     <FieloEE:Welcome rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}" /> -->
<!--                     <c:Fielo_PointsExpiring rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}" /> -->
<!--                     <FieloEE:ShoppingCart rendered="{!AND(NOT(ISPICKVAL($User.UserType,'Guest')), program.FieloEE__ShoppingCart__c)}"/> -->
                </div>
                <!-- <FieloEE:Menu section="Top" customPage="{!program.FieloEE__CustomPage__c}" classMenu="topMenu"/> -->
            </div>
        </div>
        <div class="row-fluid menuBarMain heightBar">
            <!-- Menu -->
            <div class="navbar" id="headerMenu">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".mainMenu">
                            <span class="icon-align-justify"></span>
                        </a>
                        <ul class="nav partnerShipNav">
                            <li>
                                <a href="{!$Site.prefix}/apex/Fielo_PageCustom">
                                    Home
                                </a>
                            </li>
                            <li class="divider-vertical"></li>
                        </ul>
                        <FieloEE:Menu section="Main" customPage="{!program.FieloEE__CustomPage__c}" navType="{!menuType}" classMenu="mainMenu" Divider="true"  DividerType="divider-vertical"/>
                    </div>
                </div>
            </div>
            <!-- Phone 
            <div class="headTools visible-phone">
                <div><FieloEE:Welcome rendered="{!NOT(ISPICKVAL($User.UserType,'Guest'))}" /></div>
                <div style="margin:10px 5px; text-align:right;">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".mainMenu"><span class="icon-align-justify"></span></a>
                    <FieloEE:Menu section="Main" customPage="{!program.FieloEE__CustomPage__c}" navType="{!menuType}" classMenu="mainMenu"/>
                </div>
            </div>
            -->
        </div>
        <div class="row-fluid breadcrumbsBar heightBar">
            <div class="breadContent">
                <c:Fielo_BreadCrumb programName="{!program.Name}"/>
            </div>
        </div>
    </div>  
    <style>
        @font-face { 
            font-family: "sel";
            src: url("{!URLFOR($Resource.fielo_fonts, 'serounded-lig-webfont.eot')}"); /* IE9 Compat Modes */
            src: url("{!URLFOR($Resource.fielo_fonts, 'serounded-lig-webfont.eot?#iefix')}") format('embedded-opentype'),
                 url("{!URLFOR($Resource.fielo_fonts, 'serounded-lig-webfont.woff')}") format('woff'),
                 url("{!URLFOR($Resource.fielo_fonts, 'serounded-lig-webfont.ttf')}")  format('truetype');
            font-weight: normal;
            font-style: normal;
             }
        @font-face {
            font-family: "seli";
            src: url("{!URLFOR($Resource.fielo_fonts, 'serounded-ligit-webfont.eot')}"); /* IE9 Compat Modes */
            src: url("{!URLFOR($Resource.fielo_fonts, 'serounded-ligit-webfont.eot?#iefix')}") format('embedded-opentype'),
                 url("{!URLFOR($Resource.fielo_fonts, 'serounded-ligit-webfont.woff')}") format('woff'),
                 url("{!URLFOR($Resource.fielo_fonts, 'serounded-ligit-webfont.ttf')}")  format('truetype');
            font-weight: normal;
            font-style: italic; 
        }
        @font-face { 
            font-family: "seb"; 
            src: url("{!URLFOR($Resource.fielo_fonts, 'serounded-bol-webfont.eot')}"); /* IE9 Compat Modes */
            src: url("{!URLFOR($Resource.fielo_fonts, 'serounded-bol-webfont.eot?#iefix')}") format('embedded-opentype'),
                 url("{!URLFOR($Resource.fielo_fonts, 'serounded-bol-webfont.woff')}") format('woff'),
                 url("{!URLFOR($Resource.fielo_fonts, 'serounded-bol-webfont.ttf')}")  format('truetype');
            font-weight: bold; 
            font-style: normal; }
        @font-face { 
            font-family: "sebi"; 
            src: url("{!URLFOR($Resource.fielo_fonts, 'serounded-bolit-webfont.eot')}"); /* IE9 Compat Modes */
            src: url("{!URLFOR($Resource.fielo_fonts, 'serounded-bolit-webfont.eot?#iefix')}") format('embedded-opentype'),
                 url("{!URLFOR($Resource.fielo_fonts, 'serounded-bolit-webfont.woff')}") format('woff'),
                 url("{!URLFOR($Resource.fielo_fonts, 'serounded-bolit-webfont.ttf')}")  format('truetype');
            font-weight: bold; font-style: italic; }
        @font-face { font-family: "sem";
            src: url("{!URLFOR($Resource.fielo_fonts, 'serounded-med-webfont.eot')}"); /* IE9 Compat Modes */ 
            src: url("{!URLFOR($Resource.fielo_fonts, 'serounded-med-webfont.eot?#iefix')}") format('embedded-opentype'),
                 url("{!URLFOR($Resource.fielo_fonts, 'serounded-med-webfont.woff')}") format('woff'),
                 url("{!URLFOR($Resource.fielo_fonts, 'serounded-med-webfont.ttf')}")  format('truetype');
                 font-weight: 500; font-style: normal; }
        @font-face { font-family: "semi"; 
            src: url("{!URLFOR($Resource.fielo_fonts, 'serounded-medit-webfont.eot')}"); /* IE9 Compat Modes */
            src: url("{!URLFOR($Resource.fielo_fonts, 'serounded-medit-webfont.eot?#iefix')}") format('embedded-opentype'),
                 url("{!URLFOR($Resource.fielo_fonts, 'serounded-medit-webfont.woff')}") format('woff'),
                 url("{!URLFOR($Resource.fielo_fonts, 'serounded-medit-webfont.ttf')}")  format('truetype');
                 font-weight: 500; font-style: italic; }
        
        a:hover { color: #42B4E6 !important; }
/* Header */
        header.container { height: 170px !important; width: 980px; font-family: sem !important; }
        header > .container { width: auto !important; }
        .heightBar { height: 30px !important; padding-left: 150px; padding-right: 150px; width: auto !important; }

        header .nav li.divider-vertical { display: block !important; height: 28px; border-left: none !important; margin: 0px; }
        header .nav li.divider-vertical:last-child { display: none !important; }
        header .nav li a { padding: 4px 10px !important; }
        header .nav > li:first-child > a { padding-left: 0px !important; }
        header .nav > li:last-child > a { padding-right: 0px !important; }
        header .nav > li > a:hover { background: none !important; color: #42B4E6 !important; }

        header .logoBar { background: #212121; }
        header .logoBar .imgLogoA { display: block; height: 19px; padding-top: 4px; }
        header .logoBar .imgLogoA .imgLogo { height: 100% !important; }
        header .logoBar .topMenu { font-size: 12px !important; }
        header .logoBar .topMenu .nav li:last-child { margin-right: 0px !important; }
        header .logoBar .topMenu .nav li.dropdown > a { color: #FFFFFF !important; }
        header .logoBar .topMenu .nav li.dropdown ul li { width: 100%; }


        header .programBar { height: 80px; padding-left: 150px; padding-right: 150px; width: auto !important; }
        header .programBar .programName { font-size: 22px; padding-top: 22px; line-height: normal; margin-right: 20px !important; }
        header .programBar .globalSearchContainer { margin-top: 28px !important; }
        header .programBar .memberInfo { width: 200px; }

        header .menuBarMain { background: #009530; }
        header .menuBarMain #headerMenu { position: relative; }
        header .menuBarMain #headerMenu .mainMenu li a { font-size: 12px !important; padding: 4px 14px !important; font-family: sem !important; }
        header .menuBarMain #headerMenu .partnerShipNav li:first-child a { padding-left: 0px !important; font-family: seb !important; }
        header .menuBarMain #headerMenu ul li a:hover { background: none !important; cursor: pointer !important; color: #FFFFFF !important; }
        header .menuBarMain #headerMenu .nav.partnerShipNav li.divider-vertical:last-child { display: block !important; }
        header .menuBarMain #headerMenu .mainMenu .pull-right li:last-child > a { padding-right: 0px !important; }
        header .menuBarMain #headerMenu .mainMenu .nav li.dropdown ul.dropdown-menu li.divider { display: none !important; }
        header .menuBarMain #headerMenu .mainMenu .nav li.dropdown ul.dropdown-menu li a:hover { background: none !important; cursor: pointer !important; color: #42B4E6 !important; }

        header .breadcrumbsBar { background: #9FA0A4; }
        header .breadcrumbsBar .breadContent { padding-top: 5px !important; font-family: sem !important; font-size: 12px !important; line-height: normal; }
        header .breadcrumbsBar .breadContent .breadcrumb { padding: 0px !important; border-radius: 0px !important; background: 0px !important; margin: 0px !important; border: none !important; }
/* END Header */

/* Body */
        body { font-size: 14px !important; font-family: sel !important;}

        .bodyContainer { width: 980px; padding-top: 0px !important; }
        .bodyContainer > .container-fluid { padding-right: 150px; padding-left: 150px; padding-top: 15px; }

    /* Page Title */
        .homeTitle, .menuTitle, .componentTitle { font-size: 30px !important; font-family: sem !important; color: #FFFFFF !important; line-height: normal !important; }

        .homeTitle { text-align: center; height: 163px; }
        .homeTitle .titilePage { padding: 60px 0px 0px !important; }
        .homeTitle .subTitilePage {}
    /* END Page Title */
    
    /* Catalog and News GRID */
        .Grid { background: #FFFFFF; }
    /* END Catalog and News GRID */
/* END Body */

    </style>  
    <script type="text/javascript">
        $(document).ready(function(){
            $('header .menuBarMain #headerMenu .mainMenu .nav').addClass('pull-right');
            $('header .menuBarMain #headerMenu .mainMenu').prepend($('header .partnerShipNav'));
            $('.blockDiv').hide('fast');
        });
    </script>
 
 <!--[if lt IE 9]>
    <style>
    .progress,    
    .progress .bar,
    .progress-sucess .bar,
    .dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-submenu:focus>a, 
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus,
.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)" !important;
    }
     </style>
<![endif]--> 

</apex:component>