<apex:component controller="Fielo_CSSController" >
   
    <apex:variable var="bg_back" value="{!IF(LEFT(layout.FieloEE__BackgroundId__c,3)         == '00P', URLFOR($Action.Attachment.Download, layout.FieloEE__BackgroundId__c),          IF(LEFT(layout.FieloEE__BackgroundId__c,3)       == '015', URLFOR($Action.Document.Download, layout.FieloEE__BackgroundId__c),        URLFOR($Resource.FieloEE__Templates, layout.FieloEE__BackgroundId__c)))}"/>
    <apex:variable var="bg_head" value="{!IF(LEFT(layout.FieloEE__headerBackgroundId__c,3)   == '00P', URLFOR($Action.Attachment.Download, layout.FieloEE__headerBackgroundId__c),    IF(LEFT(layout.FieloEE__headerBackgroundId__c,3) == '015', URLFOR($Action.Document.Download, layout.FieloEE__headerBackgroundId__c),  URLFOR($Resource.FieloEE__Templates, layout.FieloEE__headerBackgroundId__c)))}"/>
    <apex:variable var="bg_body" value="{!IF(LEFT(layout.FieloEE__BodyBackgroundId__c,3)     == '00P', URLFOR($Action.Attachment.Download, layout.FieloEE__BodyBackgroundId__c),      IF(LEFT(layout.FieloEE__BodyBackgroundId__c,3)   == '015', URLFOR($Action.Document.Download, layout.FieloEE__BodyBackgroundId__c),    URLFOR($Resource.FieloEE__Templates, layout.FieloEE__BodyBackgroundId__c)))}"/>
    <apex:variable var="bg_foot" value="{!IF(LEFT(layout.FieloEE__FooterBackgroundId__c,3)   == '00P', URLFOR($Action.Attachment.Download, layout.FieloEE__FooterBackgroundId__c),    IF(LEFT(layout.FieloEE__FooterBackgroundId__c,3) == '015', URLFOR($Action.Document.Download, layout.FieloEE__FooterBackgroundId__c),  URLFOR($Resource.FieloEE__Templates, layout.FieloEE__FooterBackgroundId__c)))}"/>
    <apex:variable var="bg_logo" value="{!IF(LEFT(layout.FieloEE__Logo__c,3)                 == '00P', URLFOR($Action.Attachment.Download, layout.FieloEE__Logo__c),                  IF(LEFT(layout.FieloEE__Logo__c,3)               == '015', URLFOR($Action.Document.Download, layout.FieloEE__Logo__c),                URLFOR($Resource.FieloEE__Templates, layout.FieloEE__Logo__c)))}"/>
    
    <apex:variable var="backAtt" rendered="{!layout.FieloEE__BackgroundAttribute__c == '100%'}" value="background-size:100%" />
    <apex:variable var="backAtt" rendered="{!layout.FieloEE__BackgroundAttribute__c != '100%'}" value="background-repeat:{!layout.FieloEE__BackgroundAttribute__c}" />
    <apex:variable var="headAtt" rendered="{!layout.FieloEE__HeaderBackgroundAttribute__c == '100%'}" value="background-size:100%" />
    <apex:variable var="headAtt" rendered="{!layout.FieloEE__HeaderBackgroundAttribute__c != '100%'}" value="background-repeat:{!layout.FieloEE__HeaderBackgroundAttribute__c}" />
    <apex:variable var="bodyAtt" rendered="{!layout.FieloEE__BodyBackgroundAttribute__c == '100%'}" value="background-size:100%" />
    <apex:variable var="bodyAtt" rendered="{!layout.FieloEE__BodyBackgroundAttribute__c != '100%'}" value="background-repeat:{!layout.FieloEE__BodyBackgroundAttribute__c}" />
    <apex:variable var="footAtt" rendered="{!layout.FieloEE__FooterBackgroundAttribute__c == '100%'}" value="background-size:100%" />
    <apex:variable var="footAtt" rendered="{!layout.FieloEE__FooterBackgroundAttribute__c != '100%'}" value="background-repeat:{!layout.FieloEE__FooterBackgroundAttribute__c}" />
    
    <style>
    
    /* Background */
        html,body   { height:100%; font-family:{!layout.FieloEE__Font__c}; font-size:14px; }
        body{
            padding:0;
            background-color:#{!layout.FieloEE__Color01__c};
            background-image:url({!bg_back});
            {!backAtt};
        }
    /* END Background */
    
    
    i        { border:1px solid transparent; }
    a        { text-shadow:none; }
    a:hover  { text-decoration: none; }
    
    .control-group label  { margin-top:0; }
    .requiredInput        { border-left:3px solid #cc0000; padding-left:3px; margin-left:-6px; }
    .btnGreen        { background:#008a52; padding:8px 12px 6px; color:#ffffff; font-weight:normal; text-decoration:none; }
    .btnGreen:hover  { background:#9dcc4e; color:#ffffff; }
    
    /* Header */
        header {
            position:relative;
            height:110px;
            background-color:#{!layout.FieloEE__Color02__c};
            background-image:url({!bg_head});
            {!bg_head};
            color:#{!layout.FieloEE__ColorFont02__c};
        }
        
        header.fullsize {  }
        header.fixed    { position:fixed; top:0; width:100%; z-index:100; }
        
        header a        { color:#{!layout.FieloEE__color05__c}; }
        header a:hover  { color:#{!layout.FieloEE__color06__c}; }
        
        header .container   { position:relative; }
        header .headTools   { position:absolute; top:5px; right:5px; }
        header .pointsBadge { background:none; }
        #imgLogo    { margin-left:5px; }
    /* END Header */
    
    /* Top Menu */
        .topMenu ul             { margin:0; }
        .topMenu ul li          { float:left; margin-right:5px; }
        .topMenu ul li a        { color:#{!layout.FieloEE__color05__c}; }
        .topMenu ul li a:hover  { background:none; color:#{!layout.FieloEE__color06__c}; }
    /* END Top Menu */
    
    /* Main Menu */
        .mainMenu ul li a       { color:#{!layout.FieloEE__color05__c} !important; }
        
        .mainMenu ul li a:hover ,
        .mainMenu li.active a ,
        .mainMenu li.open a.dropdown-toggle ,
        .mainMenu li.open ul li.active a ,
        .mainMenu li.open ul li a:hover     { background-image:none !important; background-color:#{!layout.FieloEE__color06__c} !important; color:#{!layout.FieloEE__colorFont06__c} !important; }
        .mainMenu li.open ul li a           { background-color:#ffffff !important; color:#111111 !important; }
        
        header .navbar                                { position:absolute; bottom:0px; margin:0; }
        header .navbar .navbar-inner                  { background:transparent; border-color:transparent; box-shadow:none; padding:0; min-height:0px; }
        header .navbar .navbar-inner .nav > li > a,
        header .navbar .navbar-inner .nav > li > span { text-shadow: none !important; box-shadow: none !important; }
    /* END Main Menu */
    
    ul.dropdown-menu                { background-color:#ffffff !important; }
    ul.dropdown-menu li a           { color:#111111 !important; }
    ul.dropdown-menu > li > a:hover { background-color:#dedede !important; background-image:none !important; color:#111111 !important; }
    
    /* Footer */
        footer {
            position:relative;
            height:80px;
            background-color:#{!layout.FieloEE__Color04__c};
            background-image:url({!bg_foot});
            {!bg_foot};
        }
        
        footer.fullsize {  }
        footer.fixed    { position:fixed; bottom:0; width:100%; z-index:100; }
        
        footer table          { margin:0 0 0 auto; }
        footer table .powered { font-size:0.73em; text-transform:lowercase; color:#{!layout.FieloEE__ColorFont04__c}; }
        footer table img      { border: none; }
        footer .contactTeamContainer    { display:none; visibility:hidden; }
    /* END Footer */
    
    .bodyContainer{
        min-height:100%;
        height:auto;
        margin:0 auto;
        padding-top:20px;
        background-color:#{!layout.FieloEE__Color03__c};
        background-image:url({!bg_body});
        {!backAtt};
        color:#{!layout.FieloEE__ColorFont03__c};
    }
    .bodyContainer.headfixed    { margin-top:110px; }
    .bodyContainer.footfixed    { padding-bottom:80px; }
    
    /* subMenu */
        .subMenu li                   { padding:3px 15px; background: none; border-color:#{!layout.FieloEE__Color09__c}; }
        .subMenu li a                 { color:#{!layout.FieloEE__ColorFont09__c}; background: none !important; }
        .subMenu li.active, 
        .subMenu li:hover, 
        .subMenu li a:hover           { background-color:#{!layout.FieloEE__Color10__c}; border-color:#{!layout.FieloEE__Color10__c}; }
        .subMenu li.active a, 
        .subMenu li a:hover           { color:#{!layout.FieloEE__ColorFont10__c}; }
        .subMenu ul li:first-of-type  { border-radius:4px 4px 0 0; }
        .subMenu ul li:last-of-type   { border-radius:0 0 4px 4px; }
        .subMenu .divider             { display:none; }
        .subMenu i, 
        .subMenu .dropdown-menu,
        .subMenu .divider { display:none; visibility:hidden; }
    /* END subMenu */
    
    /* Landing */
        .landing .image     { position:relative; text-align:center; }
        .landing .image .title    { position:absolute; width:170px; top:40%; left:50%; margin-left:-85px; font-size:1.5em; line-height:25px; color:#ffffff; }
        .landing .description     { padding:10px 0; color:#999999; text-align:center; }
        .landing .link      { position:relative; height:60px; }
        .landing .link a    { position:absolute; width:100px; left:50%; margin-left:-50px; }
    /* END Landing */
    
    .navbar-fixed-top, .navbar-fixed-bottom { margin: 0px !important; }
    .nav .divider-vertical:last-child       { display: none !important; }
    .badgesTable          {}
    .badgesTable .image   { width:30px; }
    .badgesTable .name    { padding-left:10px; }
    .badgesTable .points  { text-align:right; }
    
    /* Graph */
        .graph         { padding-bottom:20px; border-bottom:1px solid #cccccc; }
        .graph .title  { margin:20px 0 10px; font-size:1.3em; color:#008a52; }
    /* END Graph */
    
    /* Points Badge */
        .pointsBadge { background-color:#{!layout.FieloEE__Color11__c}; color:#{!layout.FieloEE__ColorFont11__c} !important; }
    /* END Points Badge */
    
    /* CMS */
    .section      {  }
    .subsection   {  }
    .component    { margin-bottom:20px; }
    /* END CMS */
    
    /* Titles */
        .menuTitle       { font-size:1.7em; text-transform:uppercase; }
        .menuDescription { font-size:1.1em; margin-bottom:20px; }
        .componentTitle  { font-size:1.5em; margin-bottom:10px; }
    /* END Titles */
    
    /* Component Bar */
        .component-bar                                   { font-size:0.9em; font-weight:normal; text-transform:none; text-shadow: none !important; background-color:#{!layout.FieloEE__Color07__c}; border-color:#{!layout.FieloEE__Color07__c}; color:#{!layout.FieloEE__ColorFont07__c} !important; background-image:none; }
        .component-bar a                                 { text-shadow: none !important; color:#{!layout.FieloEE__ColorFont07__c} !important; }
        .component-bar .pagination a                     { color: #000000 !important; }
        .component-bar li.active a                       { background-color:#{!layout.FieloEE__Color08__c} !important; color:#{!layout.FieloEE__ColorFont08__c} !important; }
        .dropdown.visible-desktop.open a.dropdown-toggle { background:#{!layout.FieloEE__Color07__c} !important; }
        .component-bar .dropdown-menu a                  { text-shadow: none !important; color:#111111 !important; }
        
        .component-bar .pagination                    { margin: 10px; }
        .component-bar .pagination .disabled a, 
        .component-bar .pagination .disabled a:hover  { background-color:#ffffff; color:#000000; }
    /* End Component Bar */
    
    /* Redemption view */
        .redemption         { position:relative; }
        .redemption .qant   { font-size:1.4em; }
        .redemption .name   { font-size:2em; font-weight:bold; }
        .redemption .points { position:absolute; right:0; top:0; }
        .redemption .pdf    { position:absolute; right:0; bottom:0; font-size:2em; }
    /* END Redemption view */
    
    /* Banner */
        .carousel > .carousel-control > i { font-size: 0.6em; }
        .bannerColumn .item, .bannerRow .item    { position:relative; }
        .banner-text     { position:absolute; top:50%; margin-top:-10px; height:20px; width:100%; text-align:center; }
        .bannerColumn .item { margin-bottom:20px; }
    /* Banner */

    /* Tables */
        .table thead th { background-color:#{!layout.FieloEE__Color07__c}; color:#{!layout.FieloEE__ColorFont07__c}; }
        .table thead th a       { color:#ffffff; }
        .table thead th a:hover { text-decoration:underline; }
        .table tbody tr { background-color:#ffffff; }
        .back1          { background-color: #F9F9F9; }
        .back2          { background-color: #F9F9F9; }
        .back3          { background-color: transparent !important; }
        .back4          { background-color: transparent !important; }
    /* END Tables */
    
    /* Categories Component */
        .categories .nav-list                { border-radius: 4px 4px 4px 4px; background-color:#{!layout.FieloEE__Color09__c}; border-color:#{!layout.FieloEE__Color09__c}; }
        .categories .nav-list a              { padding:7px 20px; font-size:0.9em; text-shadow:none; color:#{!layout.FieloEE__ColorFont09__c}; }
        .categories .nav-list a:hover        { background-color:#{!layout.FieloEE__Color10__c}; border-color:#{!layout.FieloEE__Color10__c}; color:#{!layout.FieloEE__ColorFont10__c}; }
        .categories .nav-list .active a      { background-color:#{!layout.FieloEE__Color10__c}; border-color:#{!layout.FieloEE__Color10__c}; color:#{!layout.FieloEE__ColorFont10__c}; }
        .categories .nav-list li.nav-header  { border-radius: 4px 4px 4px 4px; padding: 11px 20px; box-shadow: none !important; }
    /* END Categories Component */
    
    /* Layouts */
        .gridLiContainer { position:relative; }
        .Grid a          { color:#000000; }
        .Grid a:hover    { color:#{!layout.FieloEE__Color11__c}; }
        .Grid .item          { overflow:auto; background-color:#ffffff; padding: 4px; line-height: 20px; border: 1px solid #ddd; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055); -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055); box-shadow: 0 1px 3px rgba(0,0,0,0.055); -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; }
        .Grid .tag_image     { position:absolute; top:-10px; right:-10px; }
        .Grid .AttachmentId__c,     .Grid .FieloEE__AttachmentId__c      { margin-top:10px; margin-bottom:10px; text-align:center; }
        .Grid .AttachmentId__c img, .Grid .FieloEE__AttachmentId__c img  { max-width:100%; } 
        .Grid .LikeButton    { float:left; padding:10px; }
        .Grid .WishButton    { float:right; padding:10px; }
        .Grid .PointsCant__c, .Grid .FieloEE__PointsCant__c { margin-bottom:10px; text-align:center; }
        .Grid .pagination li { font-size:0.8em; }
        
        a.socialOn         { color:#{!layout.FieloEE__Color11__c}; }
        a.socialOn:hover   { color:#CCCCCC !important; }
        a.socialOff        { color:#CCCCCC !important; }
        a.socialOff:hover  { color:#000000 !important; }
        
        .contentfeed .pagination             { margin:0; }
        .catalog small.pull-right            { margin-top:-30px; }
        .catalog.Grid .Name                  { text-align:center; }
        .contentfeed.Grid .ExtractText__c, .contentfeed.Grid .FieloEE__ExtractText__c    { margin-top:10px; font-size:0.8em; }
        
        .List .image div, .List .Image__c div, .List .FieloEE__Image__c div{ position:relative; width:80px; text-align:center; }
        .List .Image__c img, .List .FieloEE__Image__c img                  { width:100px; }
        .List .tag_image                     { position:absolute !important; top:-20px; left:-30px; }
        .List .hiddenRow                     { padding:0 !important; border:none !important; }
        .List .hiddenRow .detail             { border-top:1px dashed #cccccc; }
        
        .contentfeed .carousel .carousel-control ,
        .catalog .carousel .carousel-control    { visibility:hidden; display:none; }
        
        .Tabs .nav-tabs                  { margin:0; }
        .Tabs .nav-tabs li               { position:relative; }
        .Tabs .tab-content               { border:1px solid #dddddd; border-top:none; background-color:#ffffff; }
        .Tabs .tabs-left .tab-content    { border:1px solid #dddddd; border-left:none; background-color:#ffffff; }
        .Tabs .tabs-right .tab-content   { border:1px solid #dddddd; border-right:none; background-color:#ffffff; }
        .Tabs .tabs-below .tab-content   { border:1px solid #dddddd; border-bottom:none; background-color:#ffffff; }
        .Tabs .nav-tabs .Image__c, .Tabs .nav-tabs .FieloEE__Image__c            { text-align:center; }
        .Tabs .nav-tabs .Image__c img, .Tabs .nav-tabs .FieloEE__Image__c img    { max-width:50px; }
        
        .detail                                                                      { position:relative; overflow:auto; padding:10px; }
        .detail .PublishDate__c, .detail .FieloEE__PublishDate__c                    { float:left;  min-height:20px; margin-bottom:10px; width:50%; font-size:0.8em; }
        .detail .Category__c, .detail .FieloEE__Category__c                          { float:right; min-height:20px; margin-bottom:10px; width:50%; font-size:0.8em; text-align:right; text-transform:uppercase; }
        .detail .Image__c, .detail .FieloEE__Image__c                                { float:left; width:200px; }
        .detail .Body__c, .detail .FieloEE__Body__c                                  { float:left; width:380px; margin-left:20px; margin-bottom:10px; }
        .detail .ExternalLink__c, .detail .FieloEE__ExternalLink__c                  { float:right; font-size:0.8em; }
        .detail .ExternalLink__c a, .detail .FieloEE__ExternalLink__c a              { color:#666666; }
        .detail .ExternalLink__c a:hover, .detail .FieloEE__ExternalLink__c a:hover  { color:#dddddd; }
        .detail .LikeButton            { float:left; padding:10px; }
        .detail .WishButton            { float:right; padding:10px; }
        
        .Tabs .detail .Name, .Tabs .detail .Title__c, .Tabs .detail .FieloEE__Title__c    { padding:1px 5px; font-size:1.4em; color:#cccccc; border-bottom:1px dotted #cccccc; }
        .pagination { position:relative;}
    /* End Layouts */
        
    
                

                

                /* Profile Component*/
                    .memberViewComponent .thumbnailLiContainer { margin: 0px; }
                    .memberViewComponent .thumbnailLiContainer .thumbnail img { border:1px solid #D8D8D8; height: 150px; width: 150px; }
                    .memberViewComponent .memberView .control-group { border-top: 1px solid #DDDDDD; margin: 0 !important; padding: 10px !important;}
                    .memberViewComponent .memberView .control-group .controls span{ padding-top: 5px !important; display: block;}
                    .memberViewComponent .memberView .control-group .controls .dateInput {padding-top: 0px !important;}
                    .memberViewComponent .memberView .control-group .controls .dateFormat {display: none !important;} 
                    .memberViewComponent .memberView .control-group input, .memberView .control-group select {margin-bottom: 0px !important;}
                    .memberViewComponent .mobileContainerInfo img {  border:1px solid #D8D8D8; height: 150px; width: 150px; }
                /* END Profile Component*/

                /* Comments Component */
                    /* General */
                        .commentsList { color: #{!JSINHTMLENCODE(layout.FieloEE__ColorFont06__c)}; background: {!IF(JSINHTMLENCODE(layout.FieloEE__Color06__c) != '', '#'+JSINHTMLENCODE(layout.FieloEE__Color06__c), 'transparent')}; }
                        .commentsList .commentPost{ margin: 0px; color: #{!JSINHTMLENCODE(layout.FieloEE__ColorFont07__c)}; background: {!IF(JSINHTMLENCODE(layout.FieloEE__Color07__c) != '', '#'+JSINHTMLENCODE(layout.FieloEE__Color07__c), 'transparent')}; }
                        .commentsList .commentItem { border-top: 1px solid #FFFFFF; margin: 0px; }
                        .commentsList .reportAbuseBtn { font-size: 10px; }
                    /* END General */
                    /* Comments Media */
                        .commentsList .commentItem .media img { border:1px solid #D8D8D8; height: 50px; width: 50px; }
                        .commentsList .commentPost .media img { border:1px solid #D8D8D8; height: 100px; width: 100px; }
                        .commentsList .commentItem .media,
                        .commentsList .commentPost .media { padding: 20px 5px 20px 0px; }
                        .commentsList .commentItem .media .memberFullName,
                        .commentsList .commentPost .media .memberFullName { font-weight: bold; font-size: 14px; }
                        .commentsList .commentItem .media .commentDate,
                        .commentsList .commentPost .media .commentDate { font-size: 12px; }
                    /* END Comments Media */
                    /* Comment Body */
                        .commentsList .commentItem .commentBody,
                        .commentsList .commentPost .commentBody { padding: 20px 0px; }
                        .commentsList .commentPost .commentBody .commentAbuse { display: none; }
                        .commentsList .commentPost .commentBody textarea { resize:vertical; }
                    /* END Comment Body */
                /* END Comments Component */
            /* END Body */

            
        /* END Standard Style */
        
        
        
        
        
        
    /***** DEPRECATE *****/
    
    /* 
    Modal Login 
    
    .panelActionsBtn { text-align: left; }
    #loginDivModal .modal-footer { padding-bottom: 10px; text-align: left;}
    #forgotDivModal { display: none; }
    #forgotDivModal .modal-footer { padding-bottom: 10px; }
    .forgotPasswordForm { margin-top: 20px; }
    .forgotPasswordForm .actionsBtn { text-align: right; }
    
    End Modal Login
    
    

    .rating { unicode-bidi: bidi-override; direction: rtl; }
    .rating > .star { display: inline-block; position: relative; width: 12px; cursor: pointer; font-size: 18px;}
    .rating > .star:hover:before, .rating > .star:hover ~ .star:before { content: "\2605"; position: absolute; top:-2px; left:-8px;}

    .mLeftyy0 {margin-left: 0px !important;}
    .mTop10 {margin-top: 10px;}
    .marTB10 {margin: 10px 0px;}

    .padding0 {padding: 0px; }
    .padding20 {padding: 20px; }

    .dateInput {font-size:14px;}
    */
    
    
    
    
    
    /***** RESPONSIVE DESIGN *****/
    
    /* Landscape phones and down */
        @media only screen and (max-width: 480px){
            html,body   { font-size:12px; }
            .catalogComponent .thumbnails li          { margin-bottom:0; }
            .catalogComponent .thumbnail              { position:relative; border-top:none; border-left:none; border-right:none; border-radius:0; display:table; width:100%; text-align:left; }
            .catalogComponent .thumbnail .image       { display:table-cell; width:60px; height:60px; padding:5px 20px; overflow:hidden; }
            .catalogComponent .thumbnail .image img   { width:60px; }
            .catalogComponent .thumbnail .caption     { display:table-cell; vertical-align:top; }
            .catalogComponent .thumbnail .caption .div_name   { margin-top:10px; height:20px !important; }
            .catalogComponent .thumbnail .caption .div_points { position:absolute; top:15px; right:20px; }
            .catalogComponent .thumbnail .caption .wishlike   { position:absolute; bottom:15px; right:20px; width:50px !important; margin:0 auto !important; }
            .catalogComponent .thumbnail .caption .div_description    { display:block !important; font-size:11px; width:140px; }
            .catalogComponent .tag_image      { display:none; }
            .catalogComponent .div_image img  { width:120px; }
            .catalogComponent .div_info               { width:100% !important; overflow:auto; }
            .catalogComponent .div_info .div_image    { float:left; margin-right:10px; }
            .catalogComponent .input-append input     { width:60px; }
        }
    /* END Landscape phones and down */
    /* Mobile */
        @media only screen and (max-width: 979px){
            html,body   { font-size:10px; }
            .header {margin: 0px !important;}
            .container  { padding:0 10px; }
            
            .back1 {background-color: #F9F9F9 !important;}
            .back2 {background-color: transparent !important;}
            .back3 {background-color: #F9F9F9 !important;}
            .back4 {background-color: none !important;}
            
            .memberView {width: 95% !important;}
            .memberView .control-group {float: none !important; width: auto !important;}
            .memberView .control-group strong {float: left !important; padding-top: 5px !important; width: auto !important;}
            .memberView .control-group .controls {float: right !important; width: auto !important; padding-right: 20px;}
        }
    /* END Mobile */
    
    
    
    .breadContent ul li:first-child {text-shadow:none;}
    .breadContent ul li.active a {font-weight:bold;}
    
    /***** CUSTOM CSS *****/
            
    /* Custom CSS */
        <apex:outputText value="{!layout.FieloEE__CSS__c}" escape="false"/>
    /* END Custom CSS */
    
    
    </style>
    
    
    
    
    
    <!-- x <= Internet Explorer 8 -->
        <!--[if lte IE 8]>
            <style>
                body { padding-top: 40px !important; }
                .navbar-inner { filter: alpha(opacity=100); opacity: 100; }
                .fieloLogo { left: 0px !important; }
                .mainMenuTopBar .fieloMainMenu ul li button, 
                .mainMenuTopBar .fieloMainMenu ul li button span { padding: 5px 4px !important; }
                .mainMenuTopBar .fieloMainMenu ul,
                .mainMenuTopBar .fieloSocialMenu ul { margin-right: 0px !important; }
                .mainMenuTopBar .fieloSocialMenu ul li a { padding: 7px 0px !important; }
                
                .fieloLenguageMenu > ul > .active > a { background: transparent !important; background-color: transparent !important;}
                
                .demoBtn { padding-top: 0px !important; }
                
                .bannerHome .carousel .carousel-indicators { top: 300px !important; }
                .bannerHome .infoHome { padding: 0px 5px !important; margin: 0px 5px !important; top: 320px !important; }
                .bannerHome .infoHome .arrowList i { font-size: 1em !important; margin: 0px !important; padding: 0px !important; }
                .bannerHome .infoHome .span11 { margin: 0px !important; }
                .bannerHome .infoHome .media img { width: 45px !important; }
                
                .newsListImages .mediaList .media { padding-top: 0px !important; }
                .newsListImages .mediaList .media img { width: 65px !important; }
                
                .newsList .accordion-group .accordion-heading .accordion-toggle a img { width: 45px !important; }

            </style>
        <![endif]-->
   <!-- x <= Internet Explorer 8 -->
    
    <!--[if IE 9]>
        <style>
            .navbar-inner { filter: alpha(opacity=100); opacity: 100; }
            .searcherButton { padding-top: 10px !important; padding-bottom: 9px !important; }
        </style>
    <![endif]-->
    
    
    
    
    
    <script>
        $(document).ready(function() {
            $('footer ul li a').eq(4).attr('target', '_Blank')
            $('footer ul li a').eq(5).attr('target', '_Blank')
            //Run this script only for IE
            if (navigator.appName === "Microsoft Internet Explorer") {
                $("input[type=text]").each(function() {
                    var p;
                    // Run this script only for input field with placeholder attribute
                    if (p = $(this).attr('placeholder')) {
                        // Input field's value attribute gets the placeholder value.
                        $(this).val(p);
                        $(this).css('color', 'gray');
                        // On selecting the field, if value is the same as placeholder, it should become blank
                        $(this).focus(function() {
                            if (p === $(this).val()) {
                                return $(this).val('');
                            }
                        });
                        // On exiting field, if value is blank, it should be assigned the value of placeholder
                        $(this).blur(function() {
                            if ($(this).val() === '') {
                                return $(this).val(p);
                            }
                        });
                    }
                });
                $("input[type=password]").each(function() {
                    var e_id, p;
                    if (p = $(this).attr('placeholder')) {
                        e_id = $(this).attr('id');
                        // change input type so that the text is displayed
                        document.getElementById(e_id).type = 'text';
                        $(this).val(p);
                        $(this).focus(function() {
                            // change input type so that password is not displayed
                            document.getElementById(e_id).type = 'password';
                            if (p === $(this).val()) {
                                return $(this).val('');
                            }
                        });
                        $(this).blur(function() {
                            if ($(this).val() === '') {
                                document.getElementById(e_id).type = 'text';
                                $(this).val(p);
                            }
                        });
                    }
                });
                $('form').submit(function() {
                    //Interrupt submission to blank out input fields with placeholder values
                    $("input[type=text]").each(function() {
                        if ($(this).val() === $(this).attr('placeholder')) {
                            $(this).val('');
                        }
                    });
                    $("input[type=password]").each(function() {
                        if ($(this).val() === $(this).attr('placeholder')) {
                            $(this).val('');
                        }
                    });
                });
            }
            
            /*
            var messages = document.getElementsByClassName('message');
            for (var i = 0; i < messages.length; i++) { 
                if(messages[i].className.indexOf('confirm') != -1) {
                    messages[i].className = 'alert alert-success marTB10';
                }
                if(messages[i].className.indexOf('error') != -1) {
                    messages[i].className = 'alert alert-error marTB10';
                }
                if(messages[i].className.indexOf('fatal') != -1) {
                    messages[i].className = 'alert alert-error marTB10';
                }
                if(messages[i].className.indexOf('info') != -1) {
                    messages[i].className = 'alert alert-info marTB10';
                }
                if(messages[i].className.indexOf('warning') != -1) {
                    messages[i].className = 'alert marTB10';
                }
            }
            */
            
            /*BugFix Submenu Unclickable (Check for a new version of Bootstrap)*/
                $('body').on('touchstart.dropdown', '.dropdown-menu', function (e) { e.stopPropagation(); });
            /*END BugFix Submenu Unclickable*/
            
            $('.bodyContainer').css({ 'min-height': $(window).height() - $('header').height() - $('footer').height() - 20});
        });
    
        $(window).resize(function(){
            $('.bodyContainer').css({ 'min-height': $(window).height() - $('header').height() - $('footer').height() - 20});
        });            
    
        if((navigator.userAgent.toString().toLowerCase().indexOf("safari") != -1) || (navigator.userAgent.toString().toLowerCase().indexOf("chrome") != -1)){
            $('.searcherButton').css({
                'padding-top': '7px',
                'padding-bottom': '7px'
            });
        }
    </script>
</apex:component>