<apex:component >
<footer>
    <span id="j_id0:SiteTemplate:j_id1499">

        <div class="footer-container deployed">
            <div class="footer-pusher"/>

            <div class="container clearfix">
                <div class="pull-right">

                    <div class="nav-collapse collapse menubar socialMenu ">
                        <ul aria-labelledby="dLabel" class="nav " id="menuSocialElements" role="menu">

                        </ul>
                    </div>
                 &nbsp;
                </div>
            </div>
            <div class="footer-bottom-bar">
                <div class="container">
                    <div class="clearfix">
                        <div class="pull-left">
                            <img class="foot_logo" src="/collaboration/resource/Page_files/foot_logo.png"/>
                            </div>
                            <div class="pull-right">

                                <div class="nav-collapse collapse menubar footerMenu ">
                                    <ul aria-labelledby="dLabel" class="nav " id="menuFooterElements" role="menu">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </span>
    
    <div class="container">
        <div class="clearfix">
            <div class="pull-left">
                <div class="nav-collapse collapse menubar footerMenu ">
                    <ul role="menu"  class="nav " aria-labelledby="dLabel" id="menuFooterElements">
                    </ul>
                </div>
            </div>
            <div class="pull-right">
                <div class="nav-collapse collapse menubar socialMenu ">
                    <ul role="menu" class="nav " aria-labelledby="dLabel" id="menuSocialElements">
                        <script>
                        </script>                               
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>  
</apex:component>