<apex:component >

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://www.schneider-electric.ru/product-resource/partners/jquery.cookie.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="https://partner.schneider-electric.com/partners/resource/1444969361000/PRMExtHeaderFooter/PRMHeaderFooter.js"></script>
<script  type="text/javascript" async="" src="https://partner.schneider-electric.com/partners/resource/1444969361000/PRMExtHeaderFooter/bootstrap.min.js"></script>

<link href="https://partner.schneider-electric.com/partners/resource/1444969361000/PRMExtHeaderFooter/PRM.css" rel="stylesheet" type="text/css"/>
<link href="https://partner.schneider-electric.com/partners/resource/1443773460000/FieloCSS_all/FieloCSS-all.min.css" rel="stylesheet" type="text/css"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet"/>


<style>
@font-face{
font-family:"font-lig";
src:url("/collaboration/resource/Page_files/fielo_fonts/arial-rounded-lat-ext-lig.woff") format("woff"), url("/collaboration/resource/Page_files/fielo_fonts/arial-rounded-lat-ext-lig.ttf") format("truetype");
}
@font-face{
font-family:"font-med";
src: url("/collaboration/resource/Page_files/fielo_fonts/arial-rounded-lat-ext-cyr-reg.woff") format("woff"), url("/collaboration/resource/Page_files/fielo_fonts/arial-rounded-lat-ext-cyr-reg.ttf") format("truetype");
}
@font-face{
font-family:"font-bol";
src: url("/collaboration/resource/Page_files/fielo_fonts/arial-rounded-lat-ext-cyr-bold.woff") format("woff"), url("/collaboration/resource/Page_files/fielo_fonts/arial-rounded-lat-ext-cyr-bold.ttf") format("truetype");
}  

legend
    {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
        display:table;
        color: #ffffff;
        font-size: 40px;
        line-height: 50px;
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: 980px;
        padding: 20px 30px !important;
        white-space: normal;
        text-transform: uppercase;
        text-align: center;
        border: none;
        width: auto;
    } 

/* Default background */
html { background: url("/collaboration/resource/Page_files/BGDefault.jpg"); }
</style>
                  


<header class="fixed">
    <div class="container">
        <div class="row-fluid" style="margin-top:5px">
            <div id="homeLogoURL" class="span3" >
            </div>
            
            <div class="span9 headerBlock" style="position:relative; height:105px;">
                <table style="margin:0 0 0 auto">
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <div class="nav-collapse collapse menubar topMenu ">
                                    <ul aria-labelledby="dLabel" class="nav " id="headerMenuTop" role="menu">
                                            
                                    </ul>
                                </div>              
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div>
                </div>
                
                <div class="navbar" id="headerMenu">
                    <div class="navbar-inner">
                        <div class="container">
                            <a class="btn btn-navbar" data-target=".mainMenu" data-toggle="collapse">
                                <span class="icon-align-justify"></span>
                            </a>
                            <div class="nav-collapse collapse menubar mainMenu ">
                                <ul aria-labelledby="dLabel" class="nav " id="headerMenuElements" role="menu">
                                          
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>         
    </div>
</header>

<form name="commonForm" id="id_CommonForm">
    <input id="id_contactIdForm" type="hidden" name="contactid" value="{!$User.ContactId}" />
    <input id="id_restHeaderFooterURL" type="hidden" name="mybaseurl" value="{!$Label.CLOCT15CF031}" />
</form>  
   

</apex:component>