<apex:component controller="VFC_SRV_MYFSSiteSelecitonController">
<script type="text/javascript" src="{!URLFOR($Resource.SRV_myFS, 'js/cookies.js')}"></script>
<script>
$( document ).ready(function() {

    var userFirstName = getCookie('UsrFirstname');
    var userLastName = getCookie('UsrLastname');
 //   alert('userFirstName '+userFirstName );
  //  alert('userLastName '+userLastName );
   // if(document.cookie.indexOf('userFirstName ') == -1 || document.cookie.indexOf('userLastName ') == -1) {
       if( (userFirstName == null || userFirstName =='' ) && (userLastName == null || userLastName =='')) { 
        // alert('external');
       }
       else{
           document.getElementById("UserText").innerHTML=  ' ( ' + userFirstName + ' ' + userLastName + ' )' ;
           document.getElementById("logoheader").href = '/myfieldservices/apex/VFP_SRV_MyFSCustomLanding?UId='+'{!userId}';
           document.getElementById("logoheadermobile").href = '/myfieldservices/apex/VFP_SRV_MyFSCustomLanding?UId='+'{!userId}';
           document.getElementById("switchaccount").href = '/myfieldservices/apex/VFP_SRV_MyFSCustomLanding?UId='+'{!userId}';
           //document.getElementById("dashboard").href = '/myfieldservices/apex/VFP_SRV_MYFSSiteSelecitonPage?Params={!UltimateParentAccount}&Country={!SelectedCountry}&Site={!site}&UId={!userId}';
           //document.getElementById("schudule").href = '/myfieldservices/apex/VFP_SRV_MYFSSchedulePage?Params={!UltimateParentAccount}&Country={!SelectedCountry}&Site={!site}&UId={!userId}';
           //document.getElementById("installation").href = '/myfieldservices/apex/VFP_SRV_MYFSTreeView?Params={!UltimateParentAccount}&Country={!SelectedCountry}&Site={!site}&UId={!userId}';
           //document.getElementById("documents").href = '/myfieldservices/apex/VFP_SRV_MYFSDocumentsPage?Params={!UltimateParentAccount}&Country={!SelectedCountry}&Site={!site}&UId={!userId}';
           $("a[href='/myfieldservices/apex/VFP_SRV_MYFSSiteSelecitonPage?Params={!UltimateParentAccount}&Country={!SelectedCountry}&Site={!site}']").attr('href', '/myfieldservices/apex/VFP_SRV_MYFSSiteSelecitonPage?Params={!UltimateParentAccount}&Country={!SelectedCountry}&UId={!userId}&Site={!site}');
           $("a[href='/myfieldservices/apex/VFP_SRV_MYFSSchedulePage?Params={!UltimateParentAccount}&Country={!SelectedCountry}&Site={!site}']").attr('href', '/myfieldservices/apex/VFP_SRV_MYFSSchedulePage?Params={!UltimateParentAccount}&Country={!SelectedCountry}&UId={!userId}&Site={!site}');
           $("a[href='/myfieldservices/apex/VFP_SRV_MYFSTreeView?Params={!UltimateParentAccount}&Country={!SelectedCountry}&Site={!site}']").attr('href', '/myfieldservices/apex/VFP_SRV_MYFSTreeView?Params={!UltimateParentAccount}&Country={!SelectedCountry}&UId={!userId}&Site={!site}');
           $("a[href='/myfieldservices/apex/VFP_SRV_MYFSDocumentsPage?Params={!UltimateParentAccount}&Country={!SelectedCountry}&Site={!site}']").attr('href', '/myfieldservices/apex/VFP_SRV_MYFSDocumentsPage?Params={!UltimateParentAccount}&Country={!SelectedCountry}&UId={!userId}&Site={!site}');
           
            $("a[href='/myfieldservices/apex/VFP_SRV_MYFsPersonalInformationPage?Params={!UltimateParentAccount}&Country={!SelectedCountry}']").attr('href', '/myfieldservices/apex/VFP_SRV_MYFsPersonalInformationPage?Params={!UltimateParentAccount}&Country={!SelectedCountry}&UId={!userId}');
            $("a[href='/myfieldservices/apex/VFP_SRV_MyFSChangePassword?Params={!UltimateParentAccount}&Country={!SelectedCountry}&Site={!site}']").attr('href', '/myfieldservices/apex/VFP_SRV_MyFSChangePassword?Params={!UltimateParentAccount}&Country={!SelectedCountry}&Site={!site}&UId={!userId}');

        //  alert('internal');
       }
     
   // }
});
</script>
<apex:attribute name="currentMenuItem" description="This is the menu item that is currently selected." type="String" required="false"/>
<script type='text/javascript' src='//tagmanager.schneider-electric.com/myfs/configuration-stat.js'></script>
<div class="header-container">
<div id="menu-mobile"></div>
<div class="header-content">
    <ul class="main-menu"><li><a id="logoheadermobile" class="logo-header" href="/myfieldservices/apex/VFP_SRV_MyFSCustomLanding" title=""><img src="{!URLFOR($Resource.SRV_myFS,'css/img/logo.png')}" alt=""/></a></li>
        <li>
            <ul class="level1">
                <li id="dashboard"><a href="/myfieldservices/apex/VFP_SRV_MYFSSiteSelecitonPage?Params={!UltimateParentAccount}&Country={!SelectedCountry}&Site={!site}" title="{!$Label.CLSRVMYFS_MENU_HOMEPAGE}" class="{!IF(currentMenuItem == $Label.CLSRVMYFS_MENU_HOMEPAGE, $Label.CLSRVMYFS_MENU_ACTIVE_STYLE, '')}">{!$Label.CLSRVMYFS_MENU_HOMEPAGE}</a></li>
               <li id="schudule"><a href="/myfieldservices/apex/VFP_SRV_MYFSSchedulePage?Params={!UltimateParentAccount}&Country={!SelectedCountry}&Site={!site}"  title="{!$Label.CLSRVMYFS_MENU_SCHEDULE}" class="{!IF(currentMenuItem == $Label.CLSRVMYFS_MENU_SCHEDULE, $Label.CLSRVMYFS_MENU_ACTIVE_STYLE, '')}">{!$Label.CLSRVMYFS_MENU_SCHEDULE}</a></li>
               
                <li id="installation"><a href="/myfieldservices/apex/VFP_SRV_MYFSTreeView?Params={!UltimateParentAccount}&Country={!SelectedCountry}&Site={!site}" title="{!$Label.CLSRVMYFS_MENU_INSTALLATION}" class="{!IF(currentMenuItem == $Label.CLSRVMYFS_MENU_INSTALLATION, $Label.CLSRVMYFS_MENU_ACTIVE_STYLE, '')}">{!$Label.CLSRVMYFS_MENU_INSTALLATION}</a></li>
                <li id="documents"><a href="/myfieldservices/apex/VFP_SRV_MYFSDocumentsPage?Params={!UltimateParentAccount}&Country={!SelectedCountry}&Site={!site}" title="{!$Label.CLSRVMYFS_MENU_DOCUMENTS}" class="{!IF(currentMenuItem == $Label.CLSRVMYFS_MENU_DOCUMENTS, $Label.CLSRVMYFS_MENU_ACTIVE_STYLE, '')}">{!$Label.CLSRVMYFS_MENU_DOCUMENTS}</a></li>
            </ul></li>
        <li class="profil-name">
            <ul class="level1"><li><span>{!$user.firstname} {!$User.lastname}</span><span id="UserText"></span>
                    <ul class="dropdown-profil">
                        <li><a href="/myfieldservices/apex/VFP_SRV_MYFsPersonalInformationPage?Params={!UltimateParentAccount}&Country={!SelectedCountry}" title="" style="background-image: url({!URLFOR($Resource.SRV_myFS,'css/img/profil-icon.png')}); ">{!$Label.CLSRVMYFS_MENU_SEE_PROFILE}</a></li>
                        <li><a href="/myfieldservices/apex/VFP_SRV_MyFSChangePassword?Params={!UltimateParentAccount}&Country={!SelectedCountry}&Site={!site}" title="" style="background-image: url({!URLFOR($Resource.SRV_myFS,'css/img/password-icon-grey.png')}); ">{!$Label.SRV_MyFs_ChangePassword}</a></li>
                        <li id="switch-account"><a id="switchaccount" href="/myfieldservices/apex/VFP_SRV_MyFSCustomLanding" title="" style="background-image: url({!URLFOR($Resource.SRV_myFS, 'css/img/switch-account-icon.png')}); ">{!$Label.CLSRVMYFS_MENU_SWITCH_ACCOUNT}</a></li>
                        <li><a href="{!$Site.Prefix}/apex/VFP_SRV_MyFs_LogoutPage" title="" style="background-image: url({!URLFOR($Resource.SRV_myFS,'css/img/logout-icon.png')}); ">{!$Label.CLSRVSIGNOFF}</a></li>
                       
                    </ul></li>
            </ul></li>
        <li><a class="hamburger-button" href="#" title=""><span class="icon-hamburger"></span></a></li>
        <li class="trail-on">
        <!--<a href="'#" title="">{!$Label.CLSRVMYFS_TITLE_MY_FIELD_SERVICES}</a>-->
        <a id="logoheader" class="logo-header" href="/myfieldservices/apex/VFP_SRV_MyFSCustomLanding" title=""><img src="{!URLFOR($Resource.SRV_myFS,'css/img/logo.png')}" alt=""/></a>
        </li>
        <li><a href="#" title="" class="profil-button">{!$Label.CLSRVMYFS_PROFILE}</a></li>
    </ul></div></div>
<script type='text/javascript'>pageStatInjection();</script>
</apex:component>