<apex:component >
 <style>
     .Footercls{
            width: 100%;
            bottom: 0px;
            position: fixed;
            background-color: #48b948;
            height: 64px;
            z-index: 100;
     }
     
     .imagecls{
       float: left;
    margin-left: 50px;
    height: 32px;
    margin-top: 15px;
    max-width: 100%;
    vertical-align: middl
     }
    
#footer{
width :100%;
bottom:0px;
position:absolute;
top: 1200px;
}



</style>
  
 <div id="footer">  
  <div  class="Footercls">
   <div style="margin-left: 9%;">
         <a href= "{!($Label.CL_IDMS_Header)}" id="imgLogoA" target="_blank">  
          <img class="imagecls" id="imgLogo" src="{!$Resource.SElogo}" />  
         </a>  
        </div>
  </div>
 </div> 
  
</apex:component>