<apex:page standardController="Initiatives__c" renderAs="{!RenPDF}" extensions="ConnectInitiativeHealthStatusController" tabStyle="Connect_Initiative_Health_Status__tab">
<head>
  <style>
    @page {
      size:A4 landscape;
    }
  </style> 
</head> 
<apex:pageBlock >
<apex:form id="frmInitiativeHealthStatus"> 
<table style="padding-left:{!IF(RenPDF!='',"400px","0px")}">
<tr>
<td>
<apex:image id="ConnectTxt" value="{!$Resource.ConnectTextImage}" width="100"/>
</td>
<td>
<apex:OutputText value="   Dashboard - {!Quarter} - {!Year}"   style="font:Times New Roman;font-size:18px;font-weight:bold;color:#59ab47;"></apex:OutputText>
</td>
</tr>
</table>
<table>
<tr>
<td>
<apex:OutputText value="Filter By: " rendered="{!IF(RenPDF='',true,false)}" style="font:Times New Roman;font-size:12px;font-weight:Normal" ></apex:OutputText>
<apex:selectList id="FilterList" value="{!Year}" rendered="{!IF(RenPDF='',true,false)}"  size="1" style="border-width:1px">
   <apex:selectOptions Value="{!FilterList}"/>
   <apex:actionSupport event="onchange" action="{!YearChange}" />
  </apex:selectList>
  <apex:selectList id="FilterQuarter" Value="{!Quarter}" rendered="{!IF(RenPDF='',true,false)}" size="1" style="border-width:1px;">
   <apex:selectOptions Value="{!FilterQuarter}"/>
   <apex:actionSupport event="onchange" action="{!QuarterChange}"/>
   </apex:selectList>
</td>
<td style="padding-left:850px">
<apex:commandButton value="Export to PDF" action="{!RenderPDF}"/>
</td>
</tr>
</table>
<table align="center" style="padding-top:50px">
<tr>
  
 <td> 
 <!-- Panel Grid for Blue -->

 <apex:outputpanel style="border-style:solid;border-color:#00bdf4;border-width:3px;border-radius:15px;width=100px;height:{!IF(RenPDF='',"130px","130px")}" layout="block" >
 <table> 
 <tr>
 <td>
  <apex:image id="Blue" value="{!$Resource.ConnecttoCustomersPuzzlePiece}" width="120" style="padding-left:0px;padding-top:{!IF(RenPDF='',"0px","0px")}"/>
  </td>
  <td>
  <table>
  <tr>
  <td style="padding-left:10px;padding-top:10px">
    <apex:image id="Partner" value="{!$Resource.Connect_Partner_Excellence}"/>
    <apex:image id="img9" value="{!PE_Health}" style="padding-left:10px"/>
  </td>
  </tr>
  <tr>
  <td style="padding-left:10px;padding-top:10px">
  <apex:image id="Solution" value="{!$Resource.Connect_Solution_Excellence}"/>
  <apex:image id="img11" value="{!SE_Health}" style="padding-left:10px"/>
  </td>
  </tr>
  <tr>
  <td style="padding-left:10px;padding-top:10px">
   <apex:image id="Tailored" value="{!$Resource.Connect_Tailored}"/>
   <apex:image id="img12" value="{!TSC_Health}" style="padding-left:10px"/>
  </td>
</tr>
  </table>
  </td>
 </tr>
  </table>
 </apex:outputpanel>
 </td>
  <td>
 <!-- Panel Grid for Red -->
 <apex:outputpanel style="border-style:solid;border-color:#c12554;border-width:3px;layout:block;border-radius: 15px;width=100px;height:{!IF(RenPDF='',"130px","130px")}" layout="block" >  
 <table>
 <tr>
 <td>
  <apex:image id="Fuchsia" value="{!$Resource.ConnectPeopleFuchsiaPuzzle}" width="120" style="padding-left:0px;padding-top:{!IF(RenPDF='',"0px","0px")}"/>
  </td>
  <td>
  <table>
  <tr>
  <td style="padding-left:10px;padding-top:10px">
   <apex:image id="Leader" value="{!$Resource.Connect_Engaging_Leader}"/>
   <apex:image id="img1" value="{!EL_Health}" style="padding-left:10px"/>
  </td>
  </tr>
  <tr>
  <td style="padding-left:10px;padding-top:10px">
  <apex:image id="Individual" value="{!$Resource.Connect_Engaging_Individual}"/>
  <apex:image id="img2" value="{!EI_Health}" style="padding-left:10px"/>
  </td>
  </tr>
  <tr>
  <td style="padding-left:10px;padding-top:10px">
   <apex:image id="Workplace" value="{!$Resource.Connect_Engaging_Workplace}"/>
   <apex:image id="img3" value="{!EW_Health}" style="padding-left:10px"/>
  </td>
</tr>
  </table>
  </td>
 </tr>
  </table>
</apex:outputpanel>
</td>
</tr>
<tr>
<td>
 <!-- Panel Grid for Green -->
<apex:outputpanel style="border-style:solid;border-color:#59ab47;border-width:3px;layout:block;border-radius:15px;width=100px;height:{!IF(RenPDF='',"130px","130px")}" layout="block">
 <table>
 <tr>
 <td>
  <apex:image id="Green2" value="{!$Resource.ConnectforEfficiencyGreenPuzzlePiece}" width="120" style="padding-left:0px;padding-top:{!IF(RenPDF='',"0px","0px")}"/>
  </td>
  <td>
<table>
  <tr>
  <td style="padding-left:10px;padding-top:10px">   
  </td>
  </tr>
  <tr>
  <td style="padding-left:10px;padding-top:30px">
  <apex:image id="Operational" value="{!$Resource.Connect_Operational}"/>
<apex:image id="img7" value="{!OE_Health}" style="padding-left:10px"/>
  </td>
  </tr>
  <tr>
  <td style="padding-left:10px;padding-top:10px">   
  </td>
</tr>
  </table>
</td>
  </tr>
  </table>
</apex:outputpanel>
</td>
<td>
<!-- Panel Grid for Orange -->
 <apex:outputpanel style="border-style:solid;border-color:#f7941d;border-width:3px;layout:block;border-radius:15px;width=100px;height:{!IF(RenPDF='',"130px","130px")}" layout="block">
 <table>
 <tr>
 
 <td>
  <apex:image id="Orange" value="{!$Resource.ConnectEverywhereOrangePuzzlePiece}" width="120" style="padding-left:0px;padding-top:{!IF(RenPDF='',"0px","0px")}"/>
  </td>
  <td>
<table>
  <tr>
  <td style="padding-left:10px;padding-top:10px">   
  </td>
  </tr>
  <tr>
  <td style="padding-left:10px;padding-top:30px">
  <apex:image id="Workplace1" value="{!$Resource.Connect_Responsible_Everywhere}"/>
  <apex:image id="img10" value="{!RE_Health}" style="padding-left:10px"/>
  </td>
  </tr>
  <tr>
  <td style="padding-left:10px;padding-top:10px">   
  </td>
</tr>
  </table>
</td>
  </tr>
  </table>
</apex:outputpanel>
</td>
</tr>
 </table>
</apex:form>
</apex:pageBlock>
</apex:page>