<apex:page standardController="Cascading_KPI_Target__c" extensions="ConnectTargetDashboardCountryController" renderAs="{!renPDF}" tabStyle="Country_Target_Dashboard__tab">
    <head>
        <style>
            @page
            {
                size:A4 landscape;
            }
        </style> 
    </head>
    <apex:form >
        <apex:pageBlock >
            <table>
                <tr>
                    <td>
                        <apex:OutputText value="Filter By: " rendered="{!IF(renPDF='',true,false)}" style="font:Times New Roman;font-size:12px;font-weight:Normal"/>    
                        <apex:selectList id="FilterList" rendered="{!IF(renPDF='',true,false)}" value="{!Country}" size="1" style="border-width:1px">
                            <apex:selectOptions Value="{!FilterList}" /> 
                            <apex:actionSupport event="onchange" action="{!FilterChange}"/>  
                        </apex:selectList>                        
                    </td>
                    <td>
                   <apex:selectList id="FilterYear" rendered="{!IF(RenPDF='',true,false)}" value="{!Years}" size="1" style="border-width:1px">
                    <apex:selectOptions Value="{!FilterYear}" /> 
                    <apex:actionSupport event="onchange" action="{!YearChange}"/> 
                    </apex:selectList>
                    </td>
                    <td>
                      <apex:selectList id="FilterQuarter" Value="{!Quarter}" rendered="{!IF(RenPDF='',true,false)}" size="1" style="border-width:1px;">
                       <apex:selectOptions Value="{!FilterQuarter}"/>
                       <apex:actionSupport event="onchange" />
                       </apex:selectList>
                   </td>
                </tr>
                <!--
                <tr>                    
                    <td style="padding-left:{!IF(renPDF='',"800px","0px")}">
                        <apex:commandButton value="Export to PDF" action="{!renderPDF}"/>
                    </td>  
                   </tr>
                   -->
            </table>
            
            <!--<table style="padding-left:{!IF(renPDF='',"400px","200px")}">-->
            <table align="center">
                <tr>
                    <td>
                        <apex:image id="ConnectTxt" value="{!$Resource.ConnectTextImage}" width="100"/> 
                    </td>
                    <td>
                        <apex:outputtext value=" Scorecard - {!Country} - {!Quarter} {!Years}" style="color:#59ab47;font-size:20px;font-weight:bold"/>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <apex:outputtext value="Please select a Country to view the data" style="color:#59ab47;font-size:14px;font-weight:bold" rendered="{!IF((Country == ''),true, false)}"/>


                        <apex:outputtext value="No Data available for the selected option or you do not have permission to view the data, Please select a different option or contact the System Administrator" style="color:#59ab47;font-size:14px;font-weight:bold" rendered="{!IF((Country != '') && (Connect.empty) && (ConnectToCustomers.empty && ConnectEverywhere.empty && ConnectPeople.empty && ConnectForEfficiency.empty) && (GPE.empty),true, false)}"/>
                    </td>
                </tr>
            </table> 
           <!-- <table style="padding-left:{!IF(renPDF='',"850px","700px")}">
            <tr>
            <td>
            <apex:panelgrid style="border-style:solid;border-color:#59ab47;border-width:2px;width:250px;height:{!IF(renPDF='',"20px","50px")}" rendered="{!IF((Country != ''),true, false)}">                                                  
              <apex:outputText value="Legend:" style="font-size:11px;padding-left:10px;font-weight:bold"/> 
              <apex:outputText value="X / Y ............. Target / Actual (units)" style="font-size:11px;padding-left:10px;font-weight:bold;padding-left:30px"/> 
           </apex:panelgrid>
            </td>
            </tr>
            </table>  
            -->         
            
            <table align="left" style="width:{!IF(renPDF='',"100%","80%")}">
             <tr>
                    <td>
                        <!-- Panel Grid for Connect -->
                        <apex:outputpanel rendered="{!IF((Connect.empty),false, true)}" style="border-style:solid;border-color:#B0B0B0;border-width:3px;border-radius:15px;height:{!IF(renPDF='',"80px","100px")};width:{!IF(renPDF="","1250px","1000px")}" layout="block">
                            <table style="width:{!IF(renPDF='',"100%","80%")}">
                                <tr>
                                    <td>
                                        <table style="padding-left:0px">
                                            <tr>
                                                <td>
                                                    <apex:image id="Connect" value="{!$Resource.Connect_Main}" width="{!IF(renPDF='',"70px","90px")}" style="padding-left:0px;padding-top:{!IF(renPDF='',"0px","0px")}"/>    
                                                </td>
                                                <td> 
                                                <table style="padding-top:{!IF(renPDF='',"10px","0px")};padding-left:0px;">
                                                <apex:repeat value="{!Connect}" var="CC" first="0" rows="2">
                                                <tr>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:100px">                                              
                                                           <apex:outputpanel layout="block" style="border-style:solid;border-color:#B0B0B0;border-width:2px;width:300px;height:25px;" >                                                  
                                                            <!--<apex:outputText value="{!CC.kpiName}" style="font-size:16px;padding-left:10px"/> -->
                                                            <apex:outputlink value="/{!CC.kpiid}" target="_blank" style="font-size:16px;padding-left:0px">{!CC.KPIName}</apex:outputlink>
                                                            </apex:outputpanel>
                                                 </td>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:70">               
                                                 <apex:outputpanel layout="block" style="border-style:solid;border-color:#B0B0B0;border-width:2px;width:220px;height:25px;" >  
                                                            <apex:outputText value="{!CC.target}" style="font-size:16px;padding-left:0px"/>
                                                            </apex:outputpanel>                                         
                                                    </td>
                                                    <td style="padding-top:{!IF(renPDF='',"0px","0px")};">               
                                                    <apex:outputpanel layout="block" style="border-style:solid;border-color:#B0B0B0;border-width:2px;width:30px;height:25px;text-align:center" >  
                                                    <apex:outputText value="{!CC.um}" style="font-size:16px;padding-left:0px;"/>
                                                    </apex:outputpanel>                                         
                                                    </td>
                                                   </tr>
                                                   
                                                    </apex:repeat>  
                                                   </table>                                             
                                                </td> 
                                                
                                                <td> 
                                                <table style="padding-top:{!IF(renPDF='',"0px","0px")};padding-left:0px;">
                                                <apex:repeat value="{!Connect}" var="CC" first="2" rows="2">
                                                <tr>
                                                 <td style="padding-top:{!IF(renPDF='',"5px","0px")};width:100px">                                              
                                                            <apex:outputpanel layout="block" style="border-style:solid;border-color:#B0B0B0;border-width:2px;width:300px;height:25px;" >                                          
                                                            <!--<apex:outputText value="{!CC.kpiName}" style="font-size:16px;padding-left:0px"/> -->
                                                            <apex:outputlink value="/{!CC.kpiid}" target="_blank" style="font-size:16px;padding-left:0px">{!CC.KPIName}</apex:outputlink>
                                                            </apex:outputpanel>
                                                 </td>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:100px">               
                                                      <apex:outputpanel layout="block" style="border-style:solid;border-color:#B0B0B0;border-width:2px;width:220px;height:25px;" >  
                                                            <apex:outputText value="{!CC.target}" style="font-size:16px;padding-left:0px"/>
                                                            </apex:outputpanel>                                         
                                                    </td>
                                                    <td style="padding-top:{!IF(renPDF='',"5px","0px")};">               
                                                    <apex:outputpanel layout="block" style="border-style:solid;border-color:#B0B0B0;border-width:2px;width:30px;height:25px;" >  
                                                    <apex:outputText value="{!CC.um}" style="font-size:16px;padding-left:0px"/>
                                                    </apex:outputpanel>                                         
                                                    </td>
                                                   </tr>
                                                   
                                                    </apex:repeat>  
                                                   </table>                                             
                                                </td>  
                                                
                                                <td> 
                                                <table style="padding-top:{!IF(renPDF='',"0px","0px")};padding-left:0px;">
                                                <apex:repeat value="{!Connect}" var="CC" first="4" rows="2">
                                                <tr>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:100px">                                              
                                                           <apex:outputpanel layout="block" style="border-style:solid;border-color:#B0B0B0;border-width:2px;width:300px;height:25px;" >                                                  
                                                           <!--<apex:outputText value="{!CC.kpiName}" style="font-size:16px;padding-left:0px"/> -->
                                                           <apex:outputlink value="/{!CC.kpiid}" target="_blank" style="font-size:16px;padding-left:0px">{!CC.KPIName}</apex:outputlink>
                                                            </apex:outputpanel>
                                                 </td>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:100px">               
                                                  <apex:outputpanel layout="block" style="border-style:solid;border-color:#B0B0B0;border-width:2px;width:220px;height:25px;" >  
                                                     <apex:outputText value="{!CC.target}" style="font-size:16px;padding-left:0px"/>
                                                     </apex:outputpanel>                                         
                                                    </td>
                                                    <td style="padding-top:{!IF(renPDF='',"5px","0px")};">               
                                                    <apex:outputpanel layout="block" style="border-style:solid;border-color:#B0B0B0;border-width:2px;width:30px;height:25px;" >  
                                                    <apex:outputText value="{!CC.um}" style="font-size:16px;padding-left:0px"/>
                                                    </apex:outputpanel>                                         
                                                    </td>
                                                   </tr>
                                                   
                                                    </apex:repeat>  
                                                   </table>                                             
                                                </td>                                                            
                                                                                                                            
                                            </tr>
                                        </table>    
                                    </td>
                                </tr>
                            </table>
                        </apex:outputpanel>
                    </td>
                    </tr>
                <tr>
                    <td>
                        <!-- Panel Grid for Blue -->
                        <apex:outputpanel rendered="{!IF((ConnectToCustomers.empty),false, true)}" style="border-style:solid;border-color:#00bdf4;border-width:3px;border-radius:15px;width:{!IF(renPDF='',"1250px","1000px")};height:{!IF(renPDF="","175px","160px")}" layout="block" >
                            <table style="width:{!IF(renPDF='',"100%","80%")}">
                                <tr>
                                    <td>
                                        <table style="padding-left:0px">
                                            <tr>
                                                <td>
                                                    <apex:image id="Blue" value="{!$Resource.ConnecttoCustomersPuzzlePiece}" width="{!IF(renPDF='',"70px","90px")}" style="padding-left:0px;padding-top:{!IF(renPDF='',"40px","0px")}"/>    
                                                </td>
                                                <td> 
                                                <table style="padding-top:{!IF(renPDF='',"0px","0px")};padding-left:0px;">
                                                <apex:repeat value="{!ConnectToCustomers}" var="CC" first="0" rows="5">
                                                <tr>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:100px">                                              
                                                            <apex:outputpanel layout="block" style="border-style:solid;border-color:#00bdf4;border-width:2px;width:300px;height:25px;" >                                          
                                                            <!--<apex:outputText value="{!CC.kpiName}" style="font-size:16px;padding-left:0px"/> -->
                                                            <apex:outputlink value="/{!CC.kpiid}" target="_blank" style="font-size:16px;padding-left:0px">{!CC.KPIName}</apex:outputlink>
                                                            </apex:outputpanel>
                                                 </td>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:100px">               
                                                <apex:outputpanel layout="block" style="border-style:solid;border-color:#00bdf4;border-width:2px;width:220px;height:25px;" >                                          
                                                            <apex:outputText value="{!CC.target}" style="font-size:16px;padding-left:0px"/>
                                                            </apex:outputpanel>                                         
                                                    </td>
                                                    <td style="padding-top:{!IF(renPDF='',"0px","0px")};">               
                                                    <apex:outputpanel layout="block" style="border-style:solid;border-color:#00bdf4;border-width:2px;width:30px;height:25px;text-align:center" >                                          
                                                    <apex:outputText value="{!CC.um}" style="font-size:16px;padding-left:0px"/>
                                                    </apex:outputpanel>                                         
                                                    </td>
                                                   </tr>
                                                   
                                                    </apex:repeat>  
                                                   </table>                                             
                                                </td>
                                               <td> 
                                                <table style="padding-top:{!IF(renPDF='',"0px","10px")};padding-left:0px;width:200px">
                                                <apex:repeat value="{!ConnectToCustomers}" var="CC" first="5" rows="5">
                                                <tr>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:100px">                                              
                                                            <apex:outputpanel layout="block" style="border-style:solid;border-color:#00bdf4;border-width:2px;width:300px;height:25px;" >                                          
                                                            <!--<apex:outputText value="{!CC.kpiName}" style="font-size:16px;padding-left:0px"/> -->
                                                            <apex:outputlink value="/{!CC.kpiid}" target="_blank" style="font-size:16px;padding-left:0px">{!CC.KPIName}</apex:outputlink>
                                                            </apex:outputpanel>
                                                 </td>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:100px">               
                                                <apex:outputpanel layout="block" style="border-style:solid;border-color:#00bdf4;border-width:2px;width:220px;height:25px;" >                                          
                                                            <apex:outputText value="{!CC.target}" style="font-size:16px;padding-left:0px"/>
                                                            </apex:outputpanel>                                         
                                                    </td>
                                                    <td style="padding-top:{!IF(renPDF='',"0px","0px")};">               
                                                    <apex:outputpanel layout="block" style="border-style:solid;border-color:#00bdf4;border-width:2px;width:30px;height:25px;text-align:center" >                                          
                                                    <apex:outputText value="{!CC.um}" style="font-size:16px;padding-left:0px"/>
                                                    </apex:outputpanel>                                         
                                                    </td>
                                                   </tr>
                                                    </apex:repeat>  
                                                   </table>                                             
                                                </td>
                                                <td> 
                                                <table style="padding-top:{!IF(renPDF='',"0px","10px")};padding-left:10px;width=200px">
                                                <apex:repeat value="{!ConnectToCustomers}" var="CC" first="11" rows="3">
                                                <tr>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:100px">                                              
                                                            <apex:outputpanel layout="block" style="border-style:solid;border-color:#00bdf4;border-width:2px;width:300px;height:25px;" >                                          
                                                            <!--<apex:outputText value="{!CC.kpiName}" style="font-size:16px;padding-left:0px"/> -->
                                                            <apex:outputlink value="/{!CC.kpiid}" target="_blank" style="font-size:16px;padding-left:0px">{!CC.KPIName}</apex:outputlink>
                                                            </apex:outputpanel>
                                                 </td>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:100px">               
                                                <apex:outputpanel layout="block" style="border-style:solid;border-color:#00bdf4;border-width:2px;width:220px;height:25px;" >                                          
                                                            <apex:outputText value="{!CC.target}" style="font-size:16px;padding-left:0px"/>
                                                            </apex:outputpanel>                                         
                                                    </td>
                                                    <td style="padding-top:{!IF(renPDF='',"0px","0px")};">               
                                                    <apex:outputpanel layout="block" style="border-style:solid;border-color:#00bdf4;border-width:2px;width:30px;height:25px;text-align:center" >                                          
                                                    <apex:outputText value="{!CC.um}" style="font-size:16px;padding-left:0px"/>
                                                    </apex:outputpanel>                                         
                                                    </td>
                                                   </tr>
                                                    </apex:repeat>  
                                                   </table>                                             
                                                </td>                                                                                                                                
                                            </tr>
                                        </table>    
                                    </td>
                                </tr>
                            </table>
                        </apex:outputpanel>
                    </td>
                    </tr>
                   <tr>
                    <td>
                        <!-- Panel Grid for Orange -->
                        <apex:outputpanel rendered="{!IF((ConnectEverywhere.empty)&& ((GPE.empty) || (Not(GPE.empty) && Years='2014') ),false, true)}" style="border-style:solid;border-color:#f7941d;border-width:3px;layout:block;border-radius:15px;width:{!IF(renPDF='',"1250px","1000px")};height:{!IF(renPDF="","110px","140px")}" layout="block">
                            <table>
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    <apex:image id="Orange" value="{!$Resource.ConnectEverywhereOrangePuzzlePiece}" width="{!IF(renPDF='',"70px","90px")}" style="padding-left:0px;padding-top:{!IF(renPDF='',"10px","0px")}"/>
                                                </td>                                                 
                                                 <td> 
                                                 
                                                <table style="padding-top:{!IF(renPDF='',"0px","0px")};padding-left:0px;width:200px">
                                                <apex:repeat value="{!GPE}" var="CC" first="0" rows="2">
                                                <tr>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:100px">                                              
                                                           <apex:outputpanel layout="block" style="border-style:solid;border-color:#f7941d;border-width:2px;width:300px;height:25px;" rendered="{!If(Years=='2013',True,False)}">                                          
                                                           <!--<apex:outputText value="{!CC.kpiName}" style="font-size:16px;padding-left:10px"/> -->
                                                           <apex:outputlink value="/{!CC.kpiid}" target="_blank" style="font-size:16px;padding-left:0px" rendered="{!If(Years=='2013',True,False)}">{!CC.KPIName}</apex:outputlink>
                                                            </apex:outputpanel>
                                                 </td>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:70px">               
                                                <apex:outputpanel layout="block" style="border-style:solid;border-color:#f7941d;border-width:2px;width:220px;height:25px;" rendered="{!If(Years=='2013',True,False)}" >                                          
                                                   <apex:outputText value="{!CC.target}" style="font-size:16px;padding-left:0px" rendered="{!If(Years=='2013',True,False)}"/>
                                                   </apex:outputpanel>                                         
                                                    </td>
                                                     <td style="padding-top:{!IF(renPDF='',"0px","0px")};">               
                                                    <apex:outputpanel layout="block" style="border-style:solid;border-color:#f7941d;border-width:2px;width:30px;height:25px;text-align:center" rendered="{!If(Years=='2013',True,False)}" >                                          
                                                    <apex:outputText value="{!CC.um}" style="font-size:16px;padding-left:0px" />
                                                    </apex:outputpanel>                                         
                                                    </td>
                                                   </tr>                                                   
                                                    </apex:repeat>  
                                                    <apex:repeat value="{!ConnectEverywhere}" var="CC" first="0" rows="3">
                                                    <tr>
                                                  <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:100px">                                              
                                                            <apex:outputpanel layout="block" style="border-style:solid;border-color:#f7941d;border-width:2px;width:300px;height:25px;" >                                          
                                                           <!--<apex:outputText value="{!CC.kpiName}" style="font-size:16px;padding-left:0px"/> -->
                                                           <apex:outputlink value="/{!CC.kpiid}" target="_blank" style="font-size:16px;padding-left:0px">{!CC.KPIName}</apex:outputlink>
                                                            </apex:outputpanel>
                                                 </td>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:70px">               
                                                 <apex:outputpanel layout="block" style="border-style:solid;border-color:#f7941d;border-width:2px;width:220px;height:25px;" >                                          
                                                            <apex:outputText value="{!CC.target}" style="font-size:16px;padding-left:0px"/>
                                                            </apex:outputpanel>                                         
                                                    </td>
                                                    <td style="padding-top:{!IF(renPDF='',"0px","0px")};">               
                                                    <apex:outputpanel layout="block" style="border-style:solid;border-color:#f7941d;border-width:2px;width:30px;height:25px;text-align:center" >                                          
                                                    <apex:outputText value="{!CC.um}" style="font-size:16px;padding-left:0px"/>
                                                    </apex:outputpanel>                                         
                                                    </td>
                                                   </tr>
                                                   
                                                    </apex:repeat>  
                                                   </table>                                             
                                                </td>
                                                <td> 
                                                <table style="padding-top:{!IF(renPDF='',"0px","10px")};padding-left:0px;">
                                                <apex:repeat value="{!GPE}" var="CC" first="2" rows="2">
                                                <tr>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:100px">                                              
                                                            <apex:outputpanel layout="block" style="border-style:solid;border-color:#f7941d;border-width:2px;width:300px;height:25px;"  rendered="{!If(Years=='2013',True,False)}">                                          
                                                            <!--<apex:outputText value="{!CC.kpiName}" style="font-size:16px;padding-left:0px"/> -->
                                                            <apex:outputlink value="/{!CC.kpiid}" target="_blank" style="font-size:16px;padding-left:0px" rendered="{!If(Years=='2013',True,False)}">{!CC.KPIName}</apex:outputlink>
                                                            </apex:outputpanel>
                                                 </td>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:70px">               
                                                 <apex:outputpanel layout="block" style="border-style:solid;border-color:#f7941d;border-width:2px;width:220px;height:25px;" rendered="{!If(Years=='2013',True,False)}">                                          
                                                  <apex:outputText value="{!CC.target}" style="font-size:16px;padding-left:0px" rendered="{!If(Years=='2013',True,False)}"/>
                                                   </apex:outputpanel>                                         
                                                    </td>
                                                     <td style="padding-top:{!IF(renPDF='',"0px","0px")};">               
                                                    <apex:outputpanel layout="block" style="border-style:solid;border-color:#f7941d;border-width:2px;width:30px;height:25px;text-align:center" rendered="{!If(Years=='2013',True,False)}" >                                          
                                                    <apex:outputText value="{!CC.um}" style="font-size:16px;padding-left:0px" rendered="{!If(Years=='2013',True,False)}"/>
                                                    </apex:outputpanel>                                         
                                                    </td>
                                                   </tr>                                                   
                                                    </apex:repeat>  
                                                <apex:repeat value="{!ConnectEverywhere}" var="CC" first="3" rows="2">
                                                <tr>
                                                 <td style="padding-top:{!IF(renPDF='',"5px","0px")};width:100px">                                              
                                                            <apex:outputpanel layout="block" style="border-style:solid;border-color:#f7941d;border-width:2px;width:300px;height:25px;" >                                          
                                                            <!--<apex:outputText value="{!CC.kpiName}" style="font-size:16px;padding-left:0px"/> -->
                                                            <apex:outputlink value="/{!CC.kpiid}" target="_blank" style="font-size:16px;padding-left:0px">{!CC.KPIName}</apex:outputlink>
                                                            </apex:outputpanel>
                                                  </td>
                                                 <td style="padding-top:{!IF(renPDF='',"5px","0px")};width:70px">               
                                                 <apex:outputpanel layout="block" style="border-style:solid;border-color:#f7941d;border-width:2px;width:220px;height:25px;" >                                          
                                                            <apex:outputText value="{!CC.target}" style="font-size:16px;padding-left:0px"/>
                                                            </apex:outputpanel>                                         
                                                    </td>
                                                     <td style="padding-top:{!IF(renPDF='',"0px","0px")};">               
                                                    <apex:outputpanel layout="block" style="border-style:solid;border-color:#f7941d;border-width:2px;width:30px;height:25px;text-align:center" >                                          
                                                    <apex:outputText value="{!CC.um}" style="font-size:16px;padding-left:0px"/>
                                                    </apex:outputpanel>                                         
                                                    </td>
                                                   </tr>
                                                   
                                                    </apex:repeat>  
                                                   </table>                                            
                                                </td>                                                                                      
                                           </tr>     
                                        </table>
                                    </td>
                                </tr>
                            </table>                                                                            
                        </apex:outputpanel>
                    </td>
                    </tr>
                    
                    <tr>
                    <td>
                        <!-- Panel Grid for Red -->
                        <apex:outputpanel rendered="{!IF((ConnectPeople.empty),false, true)}" style="border-style:solid;border-color:#c12554;border-width:3px;layout:block;border-radius:15px;width:{!IF(renPDF='',"1250px","1000px")};height:{!IF(renPDF="","80px","140px")}" layout="block" >
                            <table>
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    <apex:image id="Fuchsia" value="{!$Resource.ConnectPeopleFuchsiaPuzzle}" width="{!IF(renPDF='',"70px","90px")}" style="padding-left:0px;padding-top:{!IF(renPDF='',"0px","0px")}"/>                                                    
                                                </td>
                                                 <td> 
                                                <table style="padding-top:{!IF(renPDF='',"10px","0px")};padding-left:0px;width:200px">
                                                <apex:repeat value="{!ConnectPeople}" var="CC" first="0" rows="1">
                                                <tr>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:100px">                                              
                                                           <apex:outputpanel layout="block" style="border-style:solid;border-color:#c12554;border-width:2px;width:300px;height:25px;" >       
                                                           <!--<apex:outputText value="{!CC.kpiName}" style="font-size:16px;padding-left:0px"/> -->
                                                           <apex:outputlink value="/{!CC.kpiid}" target="_blank" style="font-size:16px;padding-left:0px">{!CC.KPIName}</apex:outputlink>
                                                            </apex:outputpanel>
                                                 </td>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:70px">               
                                                 <apex:outputpanel layout="block" style="border-style:solid;border-color:#c12554;border-width:2px;width:220px;height:25px;" >       
                                                            <apex:outputText value="{!CC.target}" style="font-size:16px;padding-left:0px"/>
                                                            </apex:outputpanel>                                         
                                                    </td>
                                                     <td style="padding-top:{!IF(renPDF='',"0px","0px")};">               
                                                    <apex:outputpanel layout="block" style="border-style:solid;border-color:#c12554;border-width:2px;width:30px;height:25px;text-align:center" >  
                                                    <apex:outputText value="{!CC.um}" style="font-size:16px;padding-left:0px"/>
                                                    </apex:outputpanel>                                         
                                                    </td>
                                                   </tr>                                                   
                                                    </apex:repeat>  
                                                   </table>                                                  
                                                </td>
                                               <td> 
                                                <table style="padding-top:{!IF(renPDF='',"10px","10px")};padding-left:10px;width:200px">
                                                <apex:repeat value="{!ConnectPeople}" var="CC" first="1" rows="1">
                                                <tr>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:100px">                                              
                                                           <apex:outputpanel layout="block" style="border-style:solid;border-color:#c12554;border-width:2px;width:300px;height:25px;" >       
                                                           <!--<apex:outputText value="{!CC.kpiName}" style="font-size:16px;padding-left:0px"/> -->
                                                           <apex:outputlink value="/{!CC.kpiid}" target="_blank" style="font-size:16px;padding-left:0px">{!CC.KPIName}</apex:outputlink>
                                                            </apex:outputpanel>
                                                 </td>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:70px">               
                                                 <apex:outputpanel layout="block" style="border-style:solid;border-color:#c12554;border-width:2px;width:220px;height:25px;" >       
                                                            <apex:outputText value="{!CC.target}" style="font-size:16px;padding-left:0px"/>
                                                            </apex:outputpanel>                                         
                                                    </td>
                                                     <td style="padding-top:{!IF(renPDF='',"0px","0px")};">               
                                                    <apex:outputpanel layout="block" style="border-style:solid;border-color:#c12554;border-width:2px;width:30px;height:25px;text-align:center" >  
                                                    <apex:outputText value="{!CC.um}" style="font-size:16px;padding-left:0px"/>
                                                    </apex:outputpanel>                                         
                                                    </td>
                                                   </tr>                       
                                                    </apex:repeat>  
                                                   </table>                                                
                                                </td>
                                                <td> 
                                                <table style="padding-top:{!IF(renPDF='',"10px","10px")};padding-left:10px;width:200px">
                                                <apex:repeat value="{!ConnectPeople}" var="CC" first="6" rows="3">
                                                <tr>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:100px">                                              
                                                           <apex:outputpanel layout="block" style="border-style:solid;border-color:#c12554;border-width:2px;width:300px;height:25px;" >       
                                                           <!--<apex:outputText value="{!CC.kpiName}" style="font-size:16px;padding-left:0px"/> -->
                                                           <apex:outputlink value="/{!CC.kpiid}" target="_blank" style="font-size:16px;padding-left:0px">{!CC.KPIName}</apex:outputlink>
                                                            </apex:outputpanel>
                                                 </td>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:70px">               
                                                 <apex:outputpanel layout="block" style="border-style:solid;border-color:#c12554;border-width:2px;width:220px;height:25px;" >       
                                                            <apex:outputText value="{!CC.target}" style="font-size:16px;padding-left:0px"/>
                                                            </apex:outputpanel>                                         
                                                    </td>
                                                     <td style="padding-top:{!IF(renPDF='',"0px","0px")};">               
                                                    <apex:outputpanel layout="block" style="border-style:solid;border-color:#c12554;border-width:2px;width:30px;height:25px;text-align:center" >  
                                                    <apex:outputText value="{!CC.um}" style="font-size:16px;padding-left:0px"/>
                                                    </apex:outputpanel>                                         
                                                    </td>
                                                   </tr>                       
                                                    </apex:repeat>  
                                                   </table>                                                
                                                </td>
                                                <td> 
                                                                                      
                                                </td>
                                               
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </apex:outputpanel>                    
                    </td>
                    </tr>
                    
                    <tr>
                    <td>
                        <!-- Panel Grid for Green -->
                        <apex:outputpanel rendered="{!IF((ConnectforEfficiency.empty),false, true)}" style="border-style:solid;border-color:#59ab47;border-width:3px;layout:block;border-radius:15px;width:{!IF(renPDF='',"1250px","1000px")};height:{!IF(renPDF="","80px","140px")}" layout="block" >
                            <table>
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    <apex:image id="Green2" value="{!$Resource.ConnectforEfficiencyGreenPuzzlePiece}" width="{!IF(renPDF='',"70px","90px")}" style="padding-left:0px;padding-top:{!IF(renPDF='',"0px","0px")}"/>                                                    
                                                </td>
                                                 <td> 
                                                <table style="padding-top:{!IF(renPDF='',"10px","10px")};padding-left:0px;width:200px">
                                                <apex:repeat value="{!ConnectforEfficiency}" var="CC" first="0" rows="3">
                                                <tr>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:100px">                                              
                                                           <apex:outputpanel layout="block" style="border-style:solid;border-color:#59ab47;border-width:2px;width:300px;height:25px;" >       
                                                           <!--<apex:outputText value="{!CC.kpiName}" style="font-size:16px;padding-left:0px"/> -->
                                                           <apex:outputlink value="/{!CC.kpiid}" target="_blank" style="font-size:16px;padding-left:0px">{!CC.KPIName}</apex:outputlink>
                                                            </apex:outputpanel>
                                                 </td>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:70px">               
                                                 <apex:outputpanel layout="block" style="border-style:solid;border-color:#59ab47;border-width:2px;width:220px;height:25px;" >       
                                                            <apex:outputText value="{!CC.target}" style="font-size:16px;padding-left:0px"/>
                                                            </apex:outputpanel>                                         
                                                    </td>
                                                     <td style="padding-top:{!IF(renPDF='',"0px","0px")};">               
                                                    <apex:outputpanel layout="block" style="border-style:solid;border-color:#59ab47;border-width:2px;width:30px;height:25px;text-align:center" >  
                                                    <apex:outputText value="{!CC.um}" style="font-size:16px;padding-left:0px"/>
                                                    </apex:outputpanel>                                         
                                                    </td>
                                                   </tr>                       
                                                    </apex:repeat>  
                                                   </table>                                           
                                                </td>
                                               <td> 
                                                <table style="padding-top:{!IF(renPDF='',"0px","10px")};padding-left:10px;width:200px">
                                                <apex:repeat value="{!ConnectforEfficiency}" var="CC" first="3" rows="3">
                                                <tr>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:100px">                                              
                                                           <apex:outputpanel layout="block" style="border-style:solid;border-color:#59ab47;border-width:2px;width:300px;height:25px;" >       
                                                           <!--<apex:outputText value="{!CC.kpiName}" style="font-size:16px;padding-left:0px"/> -->
                                                           <apex:outputlink value="/{!CC.kpiid}" target="_blank" style="font-size:16px;padding-left:0px">{!CC.KPIName}</apex:outputlink>
                                                            </apex:outputpanel>
                                                 </td>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:70px">               
                                                 <apex:outputpanel layout="block" style="border-style:solid;border-color:#59ab47;border-width:2px;width:220px;height:25px;" >       
                                                            <apex:outputText value="{!CC.target}" style="font-size:16px;padding-left:0px"/>
                                                            </apex:outputpanel>                                         
                                                    </td>
                                                     <td style="padding-top:{!IF(renPDF='',"0px","0px")};">               
                                                    <apex:outputpanel layout="block" style="border-style:solid;border-color:#59ab47;border-width:2px;width:30px;height:25px;text-align:center" >  
                                                    <apex:outputText value="{!CC.um}" style="font-size:16px;padding-left:0px"/>
                                                    </apex:outputpanel>                                         
                                                    </td>
                                                   </tr>             
                                                    </apex:repeat>  
                                                   </table>                                              
                                                </td>
                                                <td> 
                                                <table style="padding-top:{!IF(renPDF='',"10px","10px")};padding-left:10px;width:200px">
                                                <apex:repeat value="{!ConnectforEfficiency}" var="CC" first="3" rows="3">
                                                <tr>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:100px">                                              
                                                           <apex:outputpanel layout="block" style="border-style:solid;border-color:#59ab47;border-width:2px;width:300px;height:25px;" >       
                                                           <!--<apex:outputText value="{!CC.kpiName}" style="font-size:16px;padding-left:0px"/> -->
                                                           <apex:outputlink value="/{!CC.kpiid}" target="_blank" style="font-size:16px;padding-left:0px">{!CC.KPIName}</apex:outputlink>
                                                            </apex:outputpanel>
                                                 </td>
                                                 <td style="padding-top:{!IF(renPDF='',"0px","0px")};width:70px">               
                                                 <apex:outputpanel layout="block" style="border-style:solid;border-color:#59ab47;border-width:2px;width:220px;height:25px;" >       
                                                            <apex:outputText value="{!CC.target}" style="font-size:16px;padding-left:0px"/>
                                                            </apex:outputpanel>                                         
                                                    </td>
                                                     <td style="padding-top:{!IF(renPDF='',"0px","0px")};">               
                                                    <apex:outputpanel layout="block" style="border-style:solid;border-color:#59ab47;border-width:2px;width:30px;height:25px;text-align:center" >  
                                                    <apex:outputText value="{!CC.um}" style="font-size:16px;padding-left:0px"/>
                                                    </apex:outputpanel>                                         
                                                    </td>
                                                   </tr>             
                                                    </apex:repeat>  
                                                   </table>                                           
                                                </td>
                                                                                               
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </apex:outputpanel>    
                                                    
                    </td>
                </tr>

            </table>

<apex:OutputText value="Note:All KPIs are measured against the yearly target" style="padding-right:150px;color:#c12554;font-size:16px;font-weight:bold" rendered="{!IF((Country != ''),true, false)}"/>
        </apex:pageBlock>
    </apex:form> 
</apex:page>