<!-- ------------------------------------------------------------------------------------------------
    Author: Fielo Team (Elena J. Schwarzböck)
    Date: 22/06/2015
    Description:
    Related Components:
-------------------------------------------------------------------------------------------------- -->
<apex:page standardController="FieloEE__Component__c" extensions="FieloPRM_VFP_PartnerJourneyWidgetRLExten" sidebar="false" showHeader="false">
    
    <apex:panelGroup rendered="{!errorMessage != ''}">
        <apex:pageMessage summary="{!errorMessage}" severity="error" strength="3"/>
    </apex:panelGroup>
    
    <apex:form >
        <apex:pageBlock >

            <apex:pageBlockButtons location="top">
                <apex:commandLink value="{!$Label.FieloPRM_CL_46_NewContentFeed}" action="{!doNewCF}" target="_top" styleClass="btn"/>
            </apex:pageBlockButtons>

            <apex:pageBlockTable value="{!listCF}" var="cf">
                    <apex:column >
                        <apex:outputLink value="/{!cf.Id}/e?retURL={!comp.Id}" target="_top">{!$Label.FieloPRM_CL_48_Edit}</apex:outputLink>
                    </apex:column>
                    <apex:column >
                        <apex:commandLink value="{!$Label.FieloPRM_CL_47_Delete}" target="_top" action="{!doDelete}">
                            <apex:param value="{!cf.Id}" name="cfId" />  
                        </apex:commandLink>
                    </apex:column>
                    <apex:column headervalue="{!$Label.FieloPRM_CL_49_Title}"> 
                        <apex:outputLink value="/{!cf.Id}" target="_top">{!cf.FieloEE__Title__c}</apex:outputLink>
                    </apex:column>
                    <apex:column headervalue="{!$Label.FieloPRM_CL_50_Tag}">
                        <apex:outputLink value="/{!mapCFTags[cf.Id].Id}" target="_top">{!mapCFTags[cf.Id].Name}</apex:outputLink>
                    </apex:column>
                    <apex:column value="{!cf.FieloEE__Order__c}"/>
                    <apex:column value="{!cf.FieloEE__IsActive__c}"/>
            </apex:pageblocktable>

        </apex:pageblock>      
    </apex:form>
</apex:page>