<apex:page id="Page1" docType="html-5.0" controller="VFC_IDMS_Consumer_SocialLogin" action="{!autoLogin}" showHeader="false" sidebar="false" 
            standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" >

<body id="login">
      
          <apex:form id="Form1" forceSSL="TRUE" rendered="{!!redirectToApp}">
       
            <apex:pageBlock id="PB1" >
                  
                                
                <apex:inputHidden id="IDToken1" value="{!username}" required="true" />        
             
                <apex:inputHidden id="IDToken2" value="{!password}" required="true" />
                <apex:inputHidden id="startURL" value="{!startURL}" required="true" />

             </apex:pageblock> 
               
         </apex:form>  
         <apex:outputPanel id="redirect" rendered="{!redirectToApp}" >
       
               <script type="text/javascript">
                var howLongToWait = 0; //number of seconds to wait
                function startRedirect() {
                window.location = "{!JSENCODE(HTMLENCODE(appURL))}";
                }
                setTimeout('startRedirect()', howLongToWait * 1000);
                </script>
                 </apex:outputPanel>  
         
             
       

</body>


    
</apex:page>