<apex:page controller="PRM_UserMigrationController">
    <apex:stylesheet value="{!URLFOR($Resource.user_load, 'user_load/css/style.css')}" />
    <apex:sectionHeader id="uploadHeader" title="Contact Migration to Fielo Member / Community User"
        subtitle=""/>
    <apex:form id="uploadForm">
        <apex:pageBlock title="Configuration">
            <h3>Migartion Setting is set on
            <img src="http://www.translatorscafe.com/cafe/images/flags/{!$Label.PRM_UserMigration}.gif" />{!$Label.PRM_UserMigration}</h3>
            <div>
             *To change Selected Settings, go to the Custom Label PRM_UserMigration).<br/>
             **To change Settings for {!$Label.PRM_UserMigration}, go to the Custom Setting PRM_UserMigration)
            </div>
        </apex:pageBlock>
        <apex:pageBlock id="errorBlock" title="Error ! ! !" mode="edit" rendered="{!myUserMigrationSetting==null}">
        
        <div class="message errorM3" role="alert">
                <table border="0" cellpadding="0" cellspacing="0" class="messageTable" style="padding:0px;margin:0px;">
                    <tbody><tr valign="top">
                        <td>
                            <img alt="Errir" class="msgIcon" src="/s.gif" title="ERROR"/>
                        </td>
                        <td class="messageCell"><div class="messageText"><span style="color:#cc0000">
                                        <h4>Errors</h4></span><br/></div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><span>
                        <ul id="myErrorList" style="padding-left:10px;padding-top:0px;margin:0px">
                           No settings are defined for "{!$Label.PRM_UserMigration}". Go to manage Custom Setting PRM_UserMigration and add a new Settings with name={!$Label.PRM_UserMigration}
                        </ul></span>
                        </td>
                    </tr>
                </tbody></table>
            </div>
        </apex:pageBlock>
        <apex:pageBlock id="uploadBlock" title="Upload file" mode="edit" rendered="{!NOT(myUserMigrationSetting==null)}">
            <span id="hiddenErrorBox">
            <div class="message errorM3" role="alert">
                <table border="0" cellpadding="0" cellspacing="0" class="messageTable" style="padding:0px;margin:0px;">
                    <tbody><tr valign="top">
                        <td>
                            <img alt="Errir" class="msgIcon" src="/s.gif" title="ERROR"/>
                        </td>
                        <td class="messageCell"><div class="messageText"><span style="color:#cc0000">
                                        <h4>Errors</h4></span><br/></div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><span>
                        <ul id="myErrorList" style="padding-left:10px;padding-top:0px;margin:0px">
                           
                        </ul></span>
                        </td>
                    </tr>
                </tbody></table>
            </div>
            </span>
            User: <input type="checkbox" id="user" checked="checked"/><br/>
            Member: <input type="checkbox" id="member" checked="checked"/><br/>
            PermissionSet: <input type="checkbox" id="pset" checked="checked"/><br/>
            
            <apex:pageBlockSection title="Id File upload" columns="1"
                id="fileUpload">
                <input type="file" id="inputFile" name="files" />
                <div id="drop_zone">Drop your XLS file (only one column with no title that contain contact ids)</div>
                <pre id="out"></pre>
                
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
    <div id="loading"><apex:image style="margin-left: 85px;margin-top: 25px;" url="http://sierrafire.cr.usgs.gov/images/loading.gif"
        alt="loading" width="50" height="50" />
        <div style="margin-bottom:30px;padding-bottom:25px;"><p id="loadingStatus" style="text-align:center;">Loading...</p></div>
        </div>
    <div id="spu-bg"></div>
    <div id="result"></div>
    <apex:includeScript value="{!URLFOR($Resource.user_load, 'user_load/js/xls.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.user_load, 'user_load/js/shim.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.user_load, 'user_load/js/jszip.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.user_load, 'user_load/js/xlsx.js')}" />
    <script>
    //global variables
    Visualforce.remoting.timeout = 120000;
    var batchSize=50;
    var csvPart;
    var csvHeader;
    var JSONPart;
    var originalJSONPart;
    var fieldSeparator = '\uFEFF';
    var lineBreak = "\n";
    var JSONArray;
    
    var hideLoading = function() {
        document.getElementById('loading').style.display = 'none';
        document.getElementById('spu-bg').style.display = 'none';
    
    }
    var showLoading = function() {
        document.getElementById('loading').style.display = 'block';
        document.getElementById('spu-bg').style.display = 'block';
    }
    
    var showErrorBox = function(text) {
        var node = document.createElement("LI");
        var textnode = document.createTextNode(text);
        console.log(text);
        node.appendChild(textnode);
        document.getElementById("myErrorList").appendChild(node);
        document.getElementById("hiddenErrorBox").style.display = 'block';
    }
    var initErrorBox = function(text) {
        var myList = document.getElementById('myErrorList');
        myList.innerHTML = '';
        document.getElementById("hiddenErrorBox").style.display = 'none';
    }
    
    var Reflector = function(obj) {
        this.getProperties = function() {
            var properties = [];
            for (var prop in obj) {
                if (typeof obj[prop] != 'function') {
                    properties.push(prop);
                }
            }
            return properties;
        };
    }
    
    function clone(obj) {
        if (null == obj || "object" != typeof obj) return obj;
        var copy = obj.constructor();
        for (var attr in obj) {
            if (obj.hasOwnProperty(attr)) copy[attr] = obj[attr];
        }
        return copy;
    }
  
    /**
    Receive the hole data and preprocess by batchSize
    */
    function saveJSONAction() {
        JSONArray = JSONPart.splice(0, batchSize);
        console.log('JSONPart: ' + JSONPart);
        console.log('JSONArray length: ' + JSONArray.length);
        console.log('JSONPart length: ' + JSONPart.length);
        
        document.getElementById("loadingStatus").innerHTML = 'processing... '+JSONPart.length;
        if(document.getElementById("user").checked){
            if(JSONArray.length>0)
            {
                Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.PRM_UserMigrationController.migrateContacts}',
                 JSONArray,
                callbackJSON);
            }else{
                hideLoading();
            }
        }else{
            saveMember();
        }
    }
    
    function saveMember() {
        if(document.getElementById("member").checked){
            if(JSONArray.length>0)
            {
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.PRM_UserMigrationController.createFieloMember}',
                     JSONArray,
                    callbackSaveMember
            
                );
            }else{
                hideLoading();
            }
        }else{
            savePermissionSet();
        }
    }

    function savePermissionSet() {
        if(document.getElementById("pset").checked){
            if(JSONArray.length>0)
            {
                Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.PRM_UserMigrationController.addPermissionSet}',
                 JSONArray,
                callbackPermissionSet);
            }else{
                hideLoading();
            }
        }else{
            saveJSONAction();
        }
    }
    
    function callbackJSON(result, event) {
        if (event.status) {
            console.log(result);
            if (result ==null || result[0].indexOf('Fail') == 0) {
                showErrorBox(result[0]);
                hideLoadingAndBackgroundWithError();
            } else {
                for(var j=0;j<result.length;j++){
                    document.getElementById('result').innerHTML = document.getElementById('result').innerHTML +'<br/>' + result[j];
                }
                saveMember();
            }
        } else if (event.type === 'exception') {
            alert(event.message);
            hideLoadingAndBackgroundWithError(event.message);
        }
    }
    
    function callbackPermissionSet(result, event) {
        if (event.status) {
            console.log(result);
            if (result ==null || result[0].indexOf('Fail') == 0) {
                showErrorBox(result[0]);
                hideLoadingAndBackgroundWithError();
            } else {
                for(var j=0;j<result.length;j++){
                        document.getElementById('result').innerHTML = document.getElementById('result').innerHTML +'<br/>' + result[j];
                }
                if (JSONPart.length > 0) {
                     saveJSONAction();
                } else {
                    hideLoading();
                }
               
            }
        } else if (event.type === 'exception') {
            alert(event.message);
            hideLoadingAndBackgroundWithError(event.message);
        }
    }
    
    function callbackSaveMember(result, event) {
        if (event.status) {
            console.log(result);
            if (result ==null || result[0].indexOf('Fail') == 0) {
                showErrorBox(result[0]);
                hideLoadingAndBackgroundWithError();
            } else {
                for(var j=0;j<result.length;j++){
                        document.getElementById('result').innerHTML = document.getElementById('result').innerHTML +'<br/>' + result[j];
                }
                savePermissionSet();
            }
        } else if (event.type === 'exception') {
            alert(event.message);
            hideLoadingAndBackgroundWithError(event.message);
        }
    }
    
    
    
    function hideLoadingAndBackgroundWithError(result, event) {
        document.getElementById("out").innerHTML = ' Error' + result;
        hideLoading();
        document.getElementById("drop_zone").innerHTML = 'Re-import ?';
    
    }
    
    
    var rABS = typeof FileReader !== "undefined" && typeof FileReader.prototype !== "undefined" && typeof FileReader.prototype.readAsBinaryString !== "undefined";
    
    function fixdata(data) {
        var o = "",
            l = 0,
            w = 10240;
        for (; l < data.byteLength / w; ++l) o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w, l * w + w)));
        o += String.fromCharCode.apply(null, new Uint8Array(data.slice(o.length)));
        return o;
    }
    
    function to_json(workbook, isXLSX) {
        var result = {};
        workbook.SheetNames.forEach(function(sheetName) {
            var roa = isXLSX ? XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]) : XLS.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
            if (roa.length > 0) {
                result[sheetName] = roa;
            }
        });
        return result;
    }
    
    function to_csv(workbook, isXLSX) {
        var result = [];
        workbook.SheetNames.forEach(function(sheetName) {
            var csv = isXLSX ? XLSX.utils.sheet_to_csv(workbook.Sheets[sheetName], {
                FS: fieldSeparator
            }) : XLS.utils.sheet_to_csv(workbook.Sheets[sheetName], {
                FS: fieldSeparator
            });
            if (csv.length > 0) {
                result.push(csv);
            }
        });
        return result.join("\n");
    }
    
    function to_json(workbook) {
        var result = {};
        workbook.SheetNames.forEach(function(sheetName) {
            var roa = XLS.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
            if (roa.length > 0) {
                result[sheetName] = roa;
            }
        });
        return result;
    }
    
    
    function process_wb(wb, isXLSX) {
        var output = to_csv(wb, isXLSX);
        console.log('output length: ' + output.length);
        JSONPart = output.split(lineBreak);
        saveJSONAction();
    }
    
    
    
    function handleDragover(e) {
        e.stopPropagation();
        e.preventDefault();
        document.getElementById("drop_zone").style.border = '2px dashed green';
        e.dataTransfer.dropEffect = 'copy';
    }
    
    function handleDragleave(e) {
        document.getElementById("drop_zone").style.border = '2px solid #bbb';
    }
    
    var dropZone = document.getElementById('drop_zone');
    if (dropZone.addEventListener) {
        dropZone.addEventListener('dragover', handleDragover, false);
        dropZone.addEventListener('dragenter', handleDragover, false);
        dropZone.addEventListener('dragleave', handleDragleave, false);
        dropZone.addEventListener('drop', handleDrop, false);
    }
    document.getElementById('inputFile').addEventListener('change', handleDrop, false);
    
    
    
    function handleDrop(e) {
        e.stopPropagation();
        e.preventDefault();
        initErrorBox();
        var files;
        if (this.files) {
            files = this.files;
        } else {
            files = e.dataTransfer.files;
        }
        var f = files[0];
        var reader = new FileReader();
        var name = f.name;
        //Verify extension XLS or XLSX
        var parts = name.split(".");
        var extension = (parts[(parts.length - 1)]);
        reader.onload = function(e) {
            try {
                var data = e.target.result;
                var wb;
                if (extension.toLowerCase() == 'xls') {
                    if (rABS) {
                        wb = XLS.read(data, {
                            type: 'binary'
                        });
                    } else {
                        var arr = fixdata(data);
                        wb = XLS.read(btoa(arr), {
                            type: 'base64'
                        });
                    }
                    process_wb(wb, false);
                } else if (extension.toLowerCase() == 'xlsx') {
                    if (rABS) {
                        wb = XLSX.read(data, {
                            type: 'binary'
                        });
                    } else {
                        var arr = fixdata(data);
                        wb = XLSX.read(btoa(arr), {
                            type: 'base64'
                        });
                    }
                    process_wb(wb, true);
                } else {
                    throw "{$Label.Action_Step2_OnlySupportXLS_XLSX}";
                }
            } catch (Exception) {
                showErrorBox(Exception);
                hideLoadingAndBackgroundWithError();
            }
        };
        try {
            if (rABS) reader.readAsBinaryString(f);
            else reader.readAsArrayBuffer(f);
            showLoading();
        } catch (Exception) {
            showErrorBox(Exception);
            hideLoadingAndBackgroundWithError();
        }
    }
  </script>
    
</apex:page>