<apex:page standardController="SVMXC__Service_Order__c" extensions="SVMX_VF_ServiceQuoteFromEstimates" contenttype="{!contype}" renderAs="{!strDispTyp}" cache="true">
    <apex:pageMessages rendered="false">
        <apex:pageMessage rendered="false" strength="2" severity="error" title="{!REPTAG001}">
        </apex:pageMessage>
    </apex:pageMessages>
    
    <apex:stylesheet value="{!$Resource.SVMXVF_Resources1}" />

    <apex:variable var="m" value="{!$User.Alias}"/>

    <apex:repeat value="{!SVQFMEstimate}" var="svqfmerpt">
        
    <apex:panelGrid columns="2" cellpadding="0" columnClasses="colspan66" cellspacing="0" width="100%" border="0">
        <apex:outputText styleClass="fontbold19" style="font-family: Arial Unicode MS;" value="{!REPTAG003}"/>
        <apex:panelGroup id="theGroup" styleClass="left">
            <apex:image url="{!$Resource.SVMXC__SVMX_Logo}" />          
        </apex:panelGroup>           
    </apex:panelGrid>
    <br/><br/><br/><br/>
    
    <apex:panelGrid columns="4" cellpadding="0" cellspacing="0" style="border-bottom: hidden; font-family: Arial Unicode MS;" columnClasses="colspan20bgcol,colspan30,colspan20bgcol,colspan30" styleClass="font13" width="100%" border="1">
       <apex:outputText value="{!$ObjectType.SVMXC__Service_Order__c.fields.Name.Label}"/>
        <apex:outputText value="{!svqfmerpt.Name}"/>
        <apex:outputText value="Date:"/>
        <apex:outputText value="{!SVQEDate}"/>

        <apex:outputText value="{!$ObjectType.SVMXC__Service_Order__c.fields.SVMXC__Company__c.Label}"/>
        <apex:outputText value="{!svqfmerpt.SVMXC__Company__r.Name}"/>
        <apex:outputText value="{!$ObjectType.SVMXC__Service_Order__c.fields.SVMXC__Contact__c.Label}"/>
        <apex:outputText value="{!svqfmerpt.SVMXC__Contact__r.Name}"/>
    </apex:panelGrid>
    
    <apex:panelGrid columns="4" cellpadding="0" cellspacing="0" style="border-top: hidden; border-bottom: hidden; font-family: Arial Unicode MS;" columnClasses="colspan20bgcol,colspan30,colspan20bgcol,colspan30" rowClasses="line" styleClass="font13" width="100%" border="1">
        <apex:outputText styleClass="font13" value="{!REPTAG004}"/>
   <!--     <apex:outputText value="">
            {!svqfmerpt.SVMXC__Street__c}<br/>
            {!svqfmerpt.SVMXC__City__c}<br/>
            {!svqfmerpt.SVMXC__State__c}, {!svqfmerpt.SVMXC__Zip__c}<br/>
            {!svqfmerpt.SVMXC__Country__c}
        </apex:outputText> -->
        <apex:outputText value="">
            <apex:panelGrid columns="1" cellpadding="0" cellspacing="0" rowClasses="line15" styleClass="font13" style="margin:0px 2px; font-family: Arial Unicode MS;" width="100%" border="0">
                <apex:outputText value="{!$ObjectType.SVMXC__Service_Order__c.fields.SVMXC__Top_Level__c.Label}"/>
                <hr class="hr3" ></hr> 
                <apex:outputText value="{!$ObjectType.SVMXC__Service_Order__c.fields.SVMXC__Component__c.Label}"/>
            </apex:panelGrid>
        </apex:outputText>
        <apex:outputText value="">
            <apex:panelGrid columns="1" cellpadding="0" cellspacing="0" rowClasses="line15" styleClass="font13" width="100%" border="0" style="margin:0px 2px; font-family: Arial Unicode MS;">
                <apex:outputText value="{!svqfmerpt.SVMXC__Component__r.Name}"/>
                <hr class="hr3" ></hr> 
                <apex:outputText value="{!svqfmerpt.SVMXC__Component__r.SVMXC__Serial_Lot_Number__c}"/>
            </apex:panelGrid>
        </apex:outputText>
    </apex:panelGrid>
    
    <apex:panelGrid columns="4" cellpadding="0" cellspacing="0" style="border-top: hidden; font-family: Arial Unicode MS;" columnClasses="colspan20bgcol,colspan30,colspan20bgcol,colspan30" styleClass="font13" width="100%" border="1">
        <apex:outputText value="{!$ObjectType.SVMXC__Service_Order__c.fields.SVMXC__Problem_Description__c.Label}"/>
        <apex:outputText value="{!svqfmerpt.SVMXC__Problem_Description__c}"/>
        <apex:outputText value="{!$ObjectType.SVMXC__Service_Order__c.fields.SVMXC__Work_Performed__c.Label}"/>
        <apex:outputText value="{!svqfmerpt.SVMXC__Work_Performed__c}"/>

        <apex:outputText value="{!$ObjectType.SVMXC__Service_Order__c.fields.SVMXC__Configuration_Before__c.Label}"/>
        <apex:outputText value="{!svqfmerpt.SVMXC__Configuration_Before__c}"/>
        <apex:outputText value="{!$ObjectType.SVMXC__Service_Order__c.fields.SVMXC__Configuration_After__c.Label}"/>
        <apex:outputText value="{!svqfmerpt.SVMXC__Configuration_After__c}"/>

         <apex:outputText value="{!$ObjectType.SVMXC__Service_Order__c.fields.SVMXC__Customer_Failure_Feedback__c.Label}"/>
         <apex:outputText value="{!svqfmerpt.SVMXC__Customer_Failure_Feedback__c}"/>
         <apex:outputText value="{!$ObjectType.SVMXC__Service_Order__c.fields.SVMXC__Corrective_Action__c.Label}"/>
          <apex:outputText value="{!$ObjectType.SVMXC__Service_Order__c.fields.SVMXC__Corrective_Action__c.Label}"/>
    </apex:panelGrid>
    <br/>
    
    <apex:panelGrid columns="6" cellpadding="0" cellspacing="0" columnClasses="colspan12,colspan12,colspan12,colspan24,colspan30,colspan10" style="border-bottom: hidden; background-color:#D4D4D4; font-family: Arial Unicode MS;" styleClass="font13" width="100%" border="1">
        <apex:outputText value="{!$ObjectType.SVMXC__Service_Order_Line__c.fields.SVMXC__Line_Type__c.Label}"/>
        <apex:outputText value="{!$ObjectType.SVMXC__Service_Order_Line__c.fields.SVMXC__Activity_Type__c.Label}"/>
        <apex:outputText value="{!$ObjectType.SVMXC__Service_Order_Line__c.fields.SVMXC__Expense_Type__c.Label}"/>
        <apex:outputText value="{!$ObjectType.SVMXC__Service_Order_Line__c.fields.SVMXC__Product__c.Label}"/>
        <apex:outputText value="{!$ObjectType.SVMXC__Service_Order_Line__c.fields.SVMXC__Reference_Information__c.Label}"/>
        <apex:outputText value="{!$ObjectType.SVMXC__Service_Order_Line__c.fields.SVMXC__Actual_Quantity2__c.Label}"/>
    </apex:panelGrid>
    
    <apex:repeat value="{!SVQuoteDetails}" var="svqerptLine">
    <apex:panelGrid columns="6" cellpadding="0" cellspacing="0" columnClasses="colspan12,colspan12,colspan12,colspan24,colspan30,colspan10" style=" border-top: hidden; font-family: Arial Unicode MS;" styleClass="font13" width="100%" border="1">
        <apex:outputText value="{!svqerptLine.SVMXC__Line_Type__c}"/>
        <apex:outputText value="{!svqerptLine.SVMXC__Activity_Type__c}"/>
        <apex:outputText value="{!svqerptLine.SVMXC__Expense_Type__c}"/>
        <apex:outputText value="{!svqerptLine.SVMXC__Product__r.Name}"/>
        <apex:outputText value="{!svqerptLine.SVMXC__Reference_Information__c}"/>
        <apex:outputText value="{!svqerptLine.SVMXC__Actual_Quantity2__c}"/>
    </apex:panelGrid>
    
    </apex:repeat>
    </apex:repeat>
</apex:page>