<apex:page controller="testipaddress_prashanth_cont">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- <script>
$( document ).ready(function() {
    console.log( "ready!" );
    $.getJSON("https://freegeoip.net/json/", function (data) {
        var country = data.country_name;
        var ip = data.ip;
        alert(country);
        })
});

        
</script>-->

  <!-- Begin Default Content REMOVE THIS -->
  <h1>Congratulations</h1>
  This is your new Page: testipaddress_prashanth
  <!-- End Default Content REMOVE THIS -->
  -------------------------------------<br/>
  country : {!country} <br/>
  ip : {!ReturnValue} <br/>
  country from JS: {!ipFromCountry}
  <!--<apex:form id="ide">
    <apex:actionFunction name="jsFunction" action="{!assignCountryIP}" rendered="ide" oncomplete="alert('hi');">
        <apex:param value="country" name="country" assignTo="{!ipFromCountry }"/>
    </apex:actionFunction>
</apex:form>-->

  
</apex:page>