<apex:page controller="VFC04_SFETargetting">
<!--
    Author          : Daniel Measures (SFDC) 
    Date Created    : 18/10/2010
    Description     : Action parameter on entry creates Platforming Scoring records and re-directs to associated Individual Commercial Action Plan.
-->
<!--
Modification History
---------------------
Date : 2/10/2011
Author: Siddharatha Nagavarapu
Purpose: For the UAT improvement DEF -116

Date: Sep 2016
purpose: Added Locking and unlocking screen feature for Q3 2016 release
-->
     
    <script>
    <!--Load bar -->
    function lockScreen(){
        document.getElementById('loading').style.display='block';
        document.getElementById('Blanket').style.display='block';
    }

    function unlockScreen(Arg){      
        document.getElementById('loading').style.display='none';
        document.getElementById('Blanket').style.display='none';
    } 
  
    </script>
    
    <div id="Blanket" style="Z-INDEX: 1; display:none; position:absolute; left:1px; top:1px;  width:100%;  height:100%; background-color:#505050; filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;" />
    <center>
        <div id="loading" align="center" style="Z-INDEX: 3; margin:0 auto; align:center; display:none; margin-left:-40px; left:50%; top:200px; position: absolute; width: 50; height:10; opacity:1;filter:alpha(opacity=100)">
            <table border="1" cellpadding="0" cellspacing="0" class="borderTable"> 
                <tr>
                    <td align="left" valign="top">
                        <table border="0" cellpadding="4" cellspacing="0" style="width: 100%; height: 100%">
                            <tr>
                                <td>
                                    <img src="{!$Resource.STR014_ProgressBar}"/></td>
                                <td>
                                    &nbsp;<apex:outputtext value="Loading" style="font-face:verdana;font-size:90%; color:#444444;font-weight:bold;"/></td>
                            </tr>
                        </table>
                    </td>
                 </tr>
            </table>
        </div>
    </center> 
    <!-- Modified By Abhishek for Req SLS_45 and SLS_46 -->
    <apex:form id="form"> 
        <apex:pagemessages id="msg"/>            
        <Apex:pageBlock rendered="{!flag==true}">
             <apex:pagemessage summary="{!$Label.CL00443}" severity="Warning" strength="1"/>
        </Apex:pageBlock>   
       <!-- Dec -11 release addition (start) -->    
        <apex:pageblock rendered="{!AND(NOT(flag),displayerrorMessage)}">
            <apex:pagemessage summary="{!$Label.CL00633}" severity="Warning" strength="1"/>
        </apex:pageblock> 
        <!-- Dec -11 release addition (end) -->             
        <div style="width:100%; text-align:center;">     
            <apex:commandButton action="{!createPlatformScorings}" value="{!$Label.CL00004}" onClick="lockScreen()" onComplete="unlockScreen()" rendered="{!flag==true}" rerender="form"/> 
            <apex:commandButton action="{!cancel}" value="{!buttonLabel}" />                 
        </div>  
    </apex:form> 
</apex:page>