<apex:page standardController="ObjectivesSettings__c" extensions="VFC18_ChangeManagerInfo" >
 
  

  
          <apex:form >
        <apex:sectionHeader title="{!$Label.CL00273}"
            subtitle="{!$Label.CL00275}"  />
        <apex:pageBlock mode="search">
        
       
        <apex:pageBlockSection columns="1" title="{!$Label.CL00279}">
        <apex:pageblockSectionItem >
        <apex:outputPanel >
        <table border="0" cellpadding="0" cellspacing="0" width="100%">

            <tr>
                <td colspan="3" width="100%" style="font-weight: bold; font-style: verdana;color:red;" align="center">{!errormessage}</td>
            </tr>
            
            <tr>
                <td colspan="3">
                <br>
                <table border="0" cellpadding="0" cellspacing="0" width="50%" >
                <tr>
                <td width="10%"></td>
                <td style="font-weight: bold; font-style: verdana" align="right" width="10%">Search&nbsp;</td>
                <td width="30%" colspan="2" align="left"><apex:inputText value="{!SearchString}" onkeypress="ScanCardCode(this,event)" tabindex="0">
                </apex:inputText><apex:commandButton value="{!$Label.CL00280}" style="background:#808080;font=family:verdana;"
                    action="{!Search}" rerender="pageBlockTable,pbAcDet" tabindex="1"/></td>
                    
                </tr>   
                </table>
                </br>
                </td>
            </tr>
             <tr>
                <td colspan="3" width="100%"></td>
            </tr>
            <tr>
                <td colspan="3">{!$Label.CL00281}</td>
            </tr>
            
             <tr>
                <td colspan="3" style="height:20px">&nbsp;</td>
            </tr>
            
            <tr>
                <td colspan="3" style="font-weight:bold">{!$Label.CL00282}</td>
            </tr>
            
                

        </table>
       
       
        </apex:outputPanel>
       </apex:pageblockSectionItem>
        
        <apex:pageBlockSectionItem >
         
        <apex:pageBlockTable id="pbAcDet" columns="2" value="{!allManager}"
            var="a" width="60%">
            <apex:column headerValue="{!$Label.CL00283}" width="30%">
               
                 <apex:commandLink action="{!ChangeUser}"  value="{!a.FirstName} {!a.LastName}">
                 <apex:param name="UID" value="{!a.ID}"  />
                 <apex:param name="MainName" value="{!a.FirstName}"/>
                 <apex:param name="LName" value="{!a.FirstName} {!a.LastName}"/>
                 </apex:commandLink>
               
            </apex:column>
            
            <apex:column width="30%" headerValue="{!$Label.CL00284}" value="{!a.UserRole.Name}"/>
        </apex:pageBlockTable>
        
        </apex:pageBlockSectionItem> 
        
        </apex:pageBlockSection>
        

        
    </apex:pageBlock>
    
</apex:form>
 <apex:form >
        <apex:outputPanel style="text-align:center;align:center">
        <apex:commandButton tabindex="3" value="{!$Label.CL00285}" action="{!CloseWindow}" style="background:#808080;font=family:verdana;"/>
        </apex:outputPanel>
 </apex:form>
  
</apex:page>