<apex:page controller="VFC11_ApplicationFreezeHomePage" sidebar="false" showHeader="false">
<script>
    
    var Applicationfreeze ;
    
     Visualforce.remoting.Manager.invokeAction(
        '{!$RemoteAction.VFC11_ApplicationFreezeHomePage.checkApplicationFreeze}',
     
        function(result, event){
            Applicationfreeze = result;
           
            
            if (!Applicationfreeze ){
                top.location.href='/apex/VFP11_ApplicationFreeze'; 
            }
        
        }
    )
    
</script>
</apex:page>