<!-- SR1 - This visual force page, displays the unread emails owned by the logged in user or queue. -->
<apex:page standardController="Case" extensions="VFC19_EmailNotification">
<style>
    .pageButton{
    padding-top: 2px;
    padding-right: 22px;
    padding-bottom: 3px;
    padding-left: 3px;
    display: inline;
    font-family: 'Verdana', 'Geneva', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 90%;
    white-space: pre;
    width: 50px;
    }
</style>
    <apex:form >
        <BR/>
        <BR/>
        <BR/>
        <BR/>
        <BR/>
        <apex:pageBlock >
            <BR/>
            <apex:pageMessages />
            <p align="center">
            <apex:commandButton value="{!$Label.CL00267}" action="{!unReadMails}" styleClass="pageButton"/> &nbsp; &nbsp; &nbsp; 
            <apex:commandButton value="{!$Label.CL00010}" action="{!Cancel}" styleClass="pageButton" rendered="{!unReadMailFlag}"/>
            </p>
        </apex:pageBlock>
    
    </apex:form>
</apex:page>