<!-- THIS VISUALFORCE PAGE DISPLAYS INFORMATION ON CREATE SERIES OF OPPORTUNITY-->
<apex:page standardcontroller="OppAgreement__c" extensions="VFC20_CreateSeries" tabStyle="OppAgreement__c">
    <apex:styleSheet value="{!$Resource.STR015_StyleSheet}"/>
    <div id='loading' class='divstyleCreateSeries'>
    <apex:image value="{!$Resource.STR014_ProgressBar}" style="display:none-moz-opacity:0.5; opacity:0.5;position:absolute;left:700px; top:100px;"/>
    </div>
    <script type="text/javascript">
        function lockScreen(){document.getElementById('loading').style.display='block';}
        function unlockScreen(){document.getElementById('loading').style.display='none';}
    </script>
    
    
    <apex:form >
        <div align="Center">
         
            <table id='tbl'>
                <tr>
                    <td id='tbltd'></td>
                </tr>
                <tr>
                
                    <td>
                        <apex:pageBlock >
                        <apex:pageBlockSection columns="1"  >
                            
                            

                        <apex:outputPanel id="output1"   >
                          <!--Showing messages on various conditions -->
                          <p class='pclass'><apex:outputText >{!message}</apex:outputText></p>
                          
                          <!--Showing buttons on various conditions -->
                          <p align="center">
                          <apex:commandLink value="{!$Label.CL00267}" id="btnConfirm" rendered="{!displayConfBtn}"  action="{!confirmCreateSeries}" onclick="lockScreen()" oncomplete="unlockScreen()"  styleClass="btn" reRender="output1" />
                          <apex:commandLink value="{!$Label.CL00023}" id="btnCanConf" rendered="{!displayConfBtn}" action="{!unLoadMe}"  onclick="lockScreen()" oncomplete="unlockScreen()"  styleClass="btn" />
                          <apex:commandLink value="{!$Label.CL00267}" id="btnCheck" rendered="{!displayConfBtnNext}" action="{!unLoadMe}" onclick="lockScreen()" oncomplete="unlockScreen()"  styleClass="btn"  />  
                          <apex:commandLink id="btnConfCreateSeries" rendered="{!displayConfBtnNextCreateSeries}" value="{!$Label.CL00267}" action="{!createSeries}" onclick="lockScreen()" oncomplete="unlockScreen()"  styleClass="btn" reRender="output1"/>
                          <apex:commandLink id="btnConfCreateSeriesCan" value="{!$Label.CL00023}" rendered="{!displayConfBtnNextCreateSeries}" action="{!unLoadMe}" onclick="lockScreen()" oncomplete="unlockScreen()"  styleClass="btn" />  
                          <apex:commandLink id="btnSeriesDone" rendered="{!displayFinalConfBtn}" value="{!$Label.CL00267}" Action="{!unloadMe}" onclick="lockScreen()" oncomplete="unlockScreen()"  styleClass="btn" />

                          </p>
                        </apex:outputPanel>
                        
                                                
                                             



                        </apex:pageBlockSection>
                        </apex:pageBlock>
                    </td>
                </tr>
            </table>
        </div>  
    </apex:form>  
</apex:page>