<apex:page standardController="Lead" extensions="VFC44_LeadDetail" action="{!displayChildLeads}" showHeader="true" sidebar="true">
    <!-- PAGE VFP44_LeadDetail DISPLAYS THE DETAILS OF THE SELECTED LEAD -->    
    <!-- CREATED BY ACN -->
    <!-- SCHNEIDER SEPTEMBER RELEASE - CREATED ON - 18/7/2011 -->
    
    <!-- DISPLAYS LEAD DETAILS -->
    <!--
    18/Apr/2012    Srinivas Nallapati    June Mkt    Added new page block button "Close Duplicated" to redirect user to Close Duplicates page
    11/Jul/2012    Pooja Gupta           OCT Mkt     Modified Campaign Data Section - Added a new page block section, for conditional display of Campaign data.
    -->
    
    <apex:form >
    <br/>
    <apex:pageMessages />
    <br/>
        <apex:pageBlock title="{!$Label.CL00427}" mode="maindetail">
        <apex:pageBlockButtons location="top">
            <apex:commandButton value="{!$Label.CLMKT120007}" action="{!goToCloseRelatedPage}"/>
        </apex:pageBlockButtons>
        
          <apex:pageBlockSection columns="2"  rendered="{!lead.NonMarcommCampaign__c == null}">
            <apex:repeat value="{!$ObjectType.Lead.FieldSets.LeadDetails}" var="leadDetail" >
                <apex:outputfield value="{!lead[leadDetail]}"/>      
            </apex:repeat>
         </apex:pageBlockSection>
         <apex:pageBlockSection columns="2"  rendered="{!lead.NonMarcommCampaign__c != null}">
            <apex:repeat value="{!$ObjectType.Lead.FieldSets.LeadDetailsNonMarcom}" var="leadDetailn" >
                <apex:outputfield value="{!lead[leadDetailn]}"/>      
            </apex:repeat> 
        </apex:pageBlockSection>
        <!--<apex:pageBlockSection columns="2">
            <apex:pageBlockSectionItem />
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="{!$ObjectType.Lead.Fields.LeadAge__c.label}" />
                <apex:outputText value="{!lead.LeadAge__c}" escape="false" />
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>-->
        
         <!-- DISPLAYS CAMPAIGN DATA -->
        <apex:pageBlockSection columns="2" title="{!$Label.CL00429}" rendered="{!lead.NonMarcommCampaign__c == null}">
            <apex:repeat value="{!$ObjectType.Lead.FieldSets.CampaignData}" var="leadDetail">
                <apex:outputField value="{!lead[leadDetail]}"/>      
            </apex:repeat>
        </apex:pageBlockSection>
                <apex:pageBlockSection columns="2" title="{!$Label.CL00429}" rendered="{!lead.NonMarcommCampaign__c != null}">
            <apex:repeat value="{!$ObjectType.Lead.FieldSets.NonMarcomCampaignData}" var="leadDetail">
                <apex:outputField value="{!lead[leadDetail]}"/>      
            </apex:repeat>
        </apex:pageBlockSection>
                
        <!-- DISPLAYS RESPONSE INFO -->
        <apex:pageBlockSection columns="1" title="{!$Label.CL00430}" rendered="{!lead.NonMarcommCampaign__c == null}">
            <apex:repeat value="{!$ObjectType.Lead.FieldSets.ResponseInfo}" var="leadDetail">
                <apex:outputField value="{!lead[leadDetail]}"/>      
            </apex:repeat>
        </apex:pageBlockSection>
                     
        <!-- DISPLAYS OPPORTUNITY DETAILS -->
        <apex:pageBlockSection columns="1" title="{!$Label.CL00434}">
            <apex:repeat value="{!$ObjectType.Lead.FieldSets.OpportunityDetails}" var="leadDetail">
                <apex:outputField value="{!lead[leadDetail]}"/>      
            </apex:repeat>
        </apex:pageBlockSection>
        
        <!-- DISPLAYS MORE INFO -->
        <apex:pageBlockSection columns="2" title="{!$Label.CL00432}">
            <apex:repeat value="{!$ObjectType.Lead.FieldSets.MoreInfo}" var="leadDetail">
                <apex:outputField value="{!lead[leadDetail]}"/>      
            </apex:repeat>
        </apex:pageBlockSection>
        
        <!-- DISPLAYS COMPANY INFO -->
        <apex:pageBlockSection columns="2" title="{!$Label.CL00596}">
            <apex:repeat value="{!$ObjectType.Lead.FieldSets.AccountInfo}" var="leadDetail">
                <apex:outputField value="{!lead[leadDetail]}"/>      
            </apex:repeat>
        </apex:pageBlockSection>
                       
        <!-- DISPLAYS RELATIONSHIPS -->
        <apex:pageBlockSection columns="2" title="{!$Label.CL00431}">
            <apex:repeat value="{!$ObjectType.Lead.FieldSets.Relationships}" var="leadDetail">
                <apex:outputField value="{!lead[leadDetail]}"/>      
            </apex:repeat>
        </apex:pageBlockSection>
        
         <!-- DISPLAYS SYSTEM INFORMATION -->
        <apex:pageBlockSection columns="2" title="{!$Label.CL00534}">
            <apex:repeat value="{!$ObjectType.Lead.FieldSets.SystemInformation}" var="leadDetail">
                <apex:outputField value="{!lead[leadDetail]}"/>      
            </apex:repeat>
        </apex:pageBlockSection>
        
        <!-- DISPLAYS KANA INFO -->
        <apex:pageBlockSection columns="2" title="{!$Label.CL00428}">
            <apex:repeat value="{!$ObjectType.Lead.FieldSets.KanaInfo}" var="leadDetail">
                <apex:outputField value="{!lead[leadDetail]}"/>      
            </apex:repeat>
        </apex:pageBlockSection>
              
        <!-- DISPLAYS ADDITIONAL INFORMATION -->
        <apex:pageBlockSection columns="2" title="{!$Label.CL00508}">
            <apex:repeat value="{!$ObjectType.Lead.FieldSets.AdditionalInformation}" var="leadDetail">
                <apex:outputField value="{!lead[leadDetail]}"/>      
            </apex:repeat>
        </apex:pageBlockSection>
                      
        <br/><br/>
        
        <!-- DISPLAYS LEAD HISTORY RELEATED LISTS -->
        <c:C09_HistoryRelatedLists sObjType="{!Lead}"/>
        
    </apex:pageBlock>
    </apex:form>
</apex:page>