<apex:page standardController="Lead" extensions="VFC41_CallRedirect" action="{!logACallRedirect}">
    <!-- PAGE VFP41_LOGACALLREDIRECT CREATES A CLOSED ACTIVITY AND REDIRECTS THE USER TO THE LEAD DETAIL PAGE, 
         IF THE LEAD PRIORITY IS VALID    -->    
    <!-- CREATED BY ACN -->
    <!-- SCHNEIDER SEPTEMBER RELEASE - CREATED ON - 18/07/2011 -->
    
    <apex:form >
        <apex:pageBlock >
            <apex:pageBlockSection columns="1">
                <!-- DISPLAYS ERROR MESSAGE -->
                <apex:pageMessages />          
            </apex:pageBlockSection>
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="{!$Label.CL00267}" immediate="true" action="{!cancel}"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>    
   </apex:form>
</apex:page>