<apex:page controller="VFC69_ClosedTasks" showHeader="false" sidebar="false" >
<apex:includeScript value="{!URLFOR($Resource.JqueryDataTables,'/DataTables-1.8.1/media/js/jquery.js')}"/>

<script>    
    $(document).ready(function(){
        $('a').attr('target','_parent');
        $('.secondaryPalette').css('border-top','3px solid #1797C0');
    });
</script>

   <apex:form >
       <apex:pageBlock >       
           <apex:facet name="header">
               <div class="pbTitle">
                   <h3 style="font-size:1.5em">Recently Completed Task(s)</h3>
               </div>               
           </apex:facet>
           <apex:pageBlockTable value="{!Tasks}" var="item">          
                
            <apex:column >
                  <apex:facet name="header">{!$ObjectType.Task.fields.Subject.label}</apex:facet>
                  <apex:outputLink value="/{!item.id}" >{!item.Subject }</apex:outputLink>
               
            </apex:column>        
            <apex:column >
                <apex:facet name="header">{!$Label.CL00639}</apex:facet>
                <apex:outputText value="{!item.Owner.Name}"/>
            </apex:column>
            <apex:column >
                <apex:facet name="header">{!$ObjectType.Task.fields.CreatedDate.label}</apex:facet>
                <apex:outputText value=" {0,date,dd/MM/yyyy}">
                    <apex:param value="{!item.CreatedDate }" />
                </apex:outputText>

            </apex:column>
            <apex:column >
                <apex:facet name="header">{!$Label.CL00640}</apex:facet>
                <apex:outputText value=" {0,date,dd/MM/yyyy}">
                    <apex:param value="{!item.LastModifiedDate}" />
                </apex:outputText>
            </apex:column>
            <apex:column value="{!item.WhatId}" />
        </apex:pageBlockTable>     
        
        
      <!-- <apex:outputLink value="https://cs10.salesforce.com/pc0=CREATED_BY&pn0=eq&pv0={!userName}">Go to Reports »</apex:outputLink> -->
        <apex:outputLink value="{!$Label.CL00631}?pc0=CREATED_BY&pn0=eq&pv0={!userName}">{!$Label.CL00641}</apex:outputLink>     
       
       </apex:pageBlock>
   
   </apex:form>
  
</apex:page>