<apex:page standardController="Event" >
<apex:form >
    <apex:inputHidden value="{!Event.OwnerId}"/>
    <apex:inputHidden value="{!Event.What}"/>
    <apex:inputHidden value="{!Event.ActivityDate}"/>
    <apex:inputHidden value="{!Event.Account.Name}"/>
    
</apex:form>
    <script>
        if({!AND(NOT(Event.isChild),isBlank(Event.AssociatedCoachingVisitId__c))}){
            <apex:variable value="{!Event.ActivityDate} $" var="properDate" />   
            <apex:variable value="{!SUBSTITUTE(properDate,'$','')}" var="properDate" /> 
            <apex:variable value="{!URLFOR($Action.Event.View,Event.id,['retURL'=''])}" var="eventviewURL" />                       
            window.location.href='{!URLFOR($Action.CoachingVisit__c.New,null,
           ['CF00NA0000009g6vq_lkid'=Event.OwnerId,'CF00NA0000009g6vq'='<Associated Customer Visit "Assigned to">','CF00NA0000009g6vm_lkid'=Event.What,'CF00NA0000009g6vm'=Event.Account.Name,'00NA0000009g6vp'=properDate,'00NA0000009g6vn'=eventviewURL,'cancelURL'=eventviewURL])}';
        }
        //the existing url copied from the formula
       // '/a2w/e?&CF00NK0000000UL7E_lkid={!Event.OwnerId}&CF00NK0000000UL7E="<This field is automatically populated when saving>"&00NK0000000UL6p_lkid={!Event.What}&CF00NK0000000UL6p={!Event.Account.Name}&00NK0000000UL7s={!Event.ActivityDate}&00NK0000000UL7K={!LEFT($Api.Enterprise_Server_URL_190 , FIND('/services/', $Api.Enterprise_Server_URL_190))}{!Event.Id}';        
    </script>
    
    <apex:pageMessage title="Error" severity="ERROR" summary="{!$Label.CL00633}" rendered="{!Event.isChild}"  />        
   <apex:pageMessage title="Error" severity="ERROR" summary="{!$Label.CL00712}" rendered="{!NOT(ISBLANK(Event.AssociatedCoachingVisitId__c))}"  />            
    <apex:form rendered="{!OR(Event.isChild,NOT(ISBLANK(Event.AssociatedCoachingVisitId__c)))}">
    <apex:commandButton value="{!$Label.CL00267}" action="{!cancel}"/>
    </apex:form>
</apex:page>