<apex:page standardController="RMA__c" extensions="VFC86_CtrlShippingAddress" sidebar="false" id="thePage" >
    <apex:pageMessages ></apex:pageMessages>

    <script type="text/javascript"> 
           window.onload = onControllerReturn; 
           function onControllerReturn()
           {   
              //alert(window.location.href);
              if(document.getElementById('{!$Component.theForm.CheckWarning}').value == 'true')
              {
                  //alert('Warning message');
                  setTimeout("top.location.href ='/apex/VFP87_CtrlShippingAddress?id='+'{!RMA__c.Id}'" , 0 );
              }
           }
    </script>

    <apex:form id="theForm">
        <!-- Hidden field for getRecord() -->
        <apex:outputtext value="{!RMA__c.ShippingCountry__c}" rendered="false" />

        <!-- Hidden field for popup action -->
        <apex:inputHidden value="{!RMA__c.TECH_CheckShippingAddress__c}" id="CheckWarning" />

        <!-- Displays Warning message if Shipping Address is empty -->
        <center>
           <apex:outputtext value="{!$Label.CL10204}"
                            style="font-face:verdana; font-size:90%;  color:#C11B17; font-weight:bold;"
                            rendered="{!IF(ShippingAddressIsValid,false,true)}" />
        </center>
    </apex:form>

    <!-- DEBUG MODE -->
    <c:PAD id="VFP02_PAD"/>
</apex:page>