<apex:page standardController="Revenue_Line__c" recordSetVar="revenueLines" extensions="VFC92_RLMassEditController" sidebar="false">
<apex:includeScript value="{!$Resource.UtilJS}" />
<apex:form >

<apex:pageBlock >

<apex:pageBlock >
Note: All modifications made on the page will be lost if Return button is clicked without clicking the Save button first. 
</apex:pageBlock>

<apex:pageBlockButtons >
<apex:commandButton value="Save" action="{!CustomSave}"/>
<apex:commandButton value="Return" action="{!cancel}"/>
</apex:pageBlockButtons>

<apex:pageBlockTable value="{!RLWrapList}" var="RLWrap" id="table" >

<apex:column headerValue="Status Update" >
<apex:image value="/img/icon/approve12.gif" width="15px" rendered="{!IF(RLWrap.UpdateStatus=='Ok',true,false)}"/>
<apex:image value="/img/icon/reject12.gif" width="15px" rendered="{!IF(RLWrap.UpdateStatus=='Not Ok',true,false)}"/>
<br/>
<apex:outputText escape="false" value="{!RLWrap.ErrorMessage}"/>     
</apex:column>

<apex:column headerValue="Revenue #">
<apex:outputLink value="{!RLWrap.Link}" target="{!RLWrap.Link}">{!RLWrap.RL.name}</apex:outputLink> 
</apex:column>

<apex:column headerValue="Commercial Ref.">
<apex:outputText escape="false" value="{!RLWrap.RL.TECH_CommercialReference__c}"/>
</apex:column>

<apex:column headerValue="Revenue Type">
<apex:inputField value="{!RLWrap.RL.Revenuetype__c}"/>
</apex:column>

<apex:column headerValue="Probability">
<apex:inputField value="{!RLWrap.RL.Probability__c}"/>
</apex:column>

<apex:column headerValue="Include In Forecast">
<apex:inputField value="{!RLWrap.RL.IncludedInForecast__c}"/>
</apex:column>

<apex:column headerValue="Quantity">
<apex:inputField required="true" value="{!RLWrap.RL.Quantity__c}"/>
</apex:column>

<apex:column headerValue="Unit Price">
<apex:inputField value="{!RLWrap.RL.Unit_Price__c}"/>
</apex:column>

<apex:column headerValue="RL Amount">
<apex:inputField value="{!RLWrap.RL.RL_Amount__c}"/>
</apex:column>   


<apex:column headerValue="RL Date">
<apex:inputField value="{!RLWrap.RL.RLDate__c}"/>
</apex:column>

<apex:column headerValue="Include In Quote?">
<apex:inputField value="{!RLWrap.RL.Include_in_Quote__c}"/>
</apex:column>



<apex:column headerValue="Configuration ID">
<apex:inputField value="{!RLWrap.RL.Configuration_Id__c}"/>
</apex:column>

<apex:column headerValue="Expected Shipped Date">
<apex:inputField value="{!RLWrap.RL.ExpectedShippeddate__c}"/>
</apex:column>

<apex:column headerValue="Revenue Override">
<apex:inputField value="{!RLWrap.RL.RevenueOverride__c}"/>
</apex:column>

<apex:column headerValue="Sales Order Number">
<apex:inputField value="{!RLWrap.RL.SalesOrderNumber__c}"/>
</apex:column>

<apex:column headerValue="Purchase Order Number">
<apex:inputField value="{!RLWrap.RL.PurchaseOrderNumber__c}"/>
</apex:column>

</apex:pageBlockTable>

</apex:pageBlock>
</apex:form>
</apex:page>