<apex:page sidebar="false" controller="VFC_ExternalInfoDashboardController">
    <head>
        <style type="text/css">
            #mdlForm {
                width: 400px;
                height: 50px;
                position: absolute;
                top: 35%;
                left: 50%;
                /*margin-top: -25px;*/
                margin-left: -250px;
                padding: 20px;
                border: 0px;
            }
        </style>

        <apex:includeScript value="{!URLFOR($Resource.PRMBackOfficeService, 'ManageAccountContacts.js')}"></apex:includeScript>

    </head>
    <apex:composition template="VFP_ExternalInfoDashboardTemplate">
            <apex:define name="dashboardContent">
            <apex:form id="theForm">
            
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            
            <apex:outputPanel id="pgmessages">
                <div class="bfobootstrapv1 container">
                    <apex:variable var="showMsg" value="true" rendered="{! SaveStatus == 'valErrors'}">
                        <div id="paginateerr" class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true" />
                            <span class="sr-only">Error:</span>&nbsp;
                            <span><strong>Please fix following errors:</strong></span>
                            <div class="row" style="margin-left: 14px;">
                                <span>
                                    <apex:repeat value="{!ValidationMessages}" var="ErrMsg">
                                        <label>{!ErrMsg}</label><br />
                                    </apex:repeat>
                                </span><br />
                            </div>
                        </div>                    
                    </apex:variable>
                </div>
            </apex:outputPanel>
            <div class="bfobootstrapv1 container">
                <div class="bfobootstrapv1 row" style="margin-right: 0px;">
                    <div class="bfobootstrapv1 pull-right">
                        <apex:commandLink styleClass="bfobootstrapv1 btn btn-primary btn-md"  action="{!doNewRegistration}" title="Create New Registration" value="Create New Registration">
                            <apex:param name="accountId" value="{!DashboardInfo.AccountInfo.Id}" />
                        </apex:commandLink>
                    </div>
                </div>
            </div>
            
            <div class="clearfix" style="height:40px;">&nbsp;</div>

             <!-- Modal -->
            <div class="bfobootstrapv1 modal hide fade in" tabindex="-1" id="mdlForm" role="dialog" style="display: none;">
                <div class="bfobootstrapv1 modal-dialog" role="dialog">
                <!-- Modal content-->
                    <div class="bfobootstrapv1 modal-content">
                        <div class="bfobootstrapv1 modal-header">
                            <button type="button" class="bfobootstrapv1 close" data-dismiss="modal">&times;</button>
                            <h4 class="bfobootstrapv1 modal-title" id="mdlTitle">Reset Password</h4>
                        </div>
                        <div class="bfobootstrapv1 modal-body">
                            <i id="rpwdprogress" class="fa fa-spinner fa-spin fa-pulse fa-2x fa-fw margin-bottom"></i><span class="sr-only" style="position:relative !important;">&nbsp;</span>&nbsp;&nbsp;
                            <iframe id="iformAction" src="about:blank" border="0" scrolling="no" height="200px" width="520px;" style="border:0px;" />
                        </div>
                    </div>
                </div>
            </div>

            <div id="companyplinfoview" class="bfobootstrapv1 panel panel-primary">
                <div class="bfobootstrapv1 panel-heading">
                    <h4 class="bfobootstrapv1 panel-title">
                        <a href="javascript:void(0);" id="cmpinfo-icon"><i class="bfobootstrapv1 glyphicon glyphicon-collapse-down"></i></a><strong>  All Contacts</strong>
                    </h4>
                </div>                    
                <div id="recordinfoview" class="bfobootstrapv1 panel-body panel-collapse collapse in">
                    <div class="bfobootstrapv1 row">
                        <div class="bfobootstrapv1 col-md-1"><label class="control-label"><strong>First Name</strong></label></div>
                        <div class="bfobootstrapv1 col-md-1"><label class="control-label"><strong>Last Name</strong></label></div>
                        <div class="bfobootstrapv1 col-md-2"><label class="control-label"><strong>Email</strong></label></div>
                        <div class="bfobootstrapv1 col-md-1"><label class="control-label"><strong>PRM Contact</strong></label></div>
                        <div class="bfobootstrapv1 col-md-1"><label class="control-label"><strong>Reg. Status</strong></label></div>
                        <div class="bfobootstrapv1 col-md-1"><label class="control-label"><strong>Last Login Dt.</strong></label></div>
                        <div class="bfobootstrapv1 col-md-1"><label class="control-label"><strong>Active ?</strong></label></div>
                        <div class="bfobootstrapv1 col-md-1"><label class="control-label"><strong>Enrolled ?</strong></label></div>
                    </div>

                    <apex:repeat value="{!DashboardInfo.ContactOffsetList}" var="cnt">
                        <div class="bfobootstrapv1 row row-alternate">
                            <div class="bfobootstrapv1 col-md-1"><label class="control-label">{!cnt.PRMFirstName__c}</label></div>
                            <div class="bfobootstrapv1 col-md-1"><label class="control-label">{!cnt.PRMLastName__c}</label></div>
                            <div class="bfobootstrapv1 col-md-2"><a href="/apex/VFP_ManageContactExternalInfo?id={!cnt.Id}&tab=contact" target="_blank"><label class="control-label">{!IF(cnt.PRMEmail__c != null,cnt.PRMEmail__c,'-NA-')}</label></a></div>
                            <div class="bfobootstrapv1 col-md-1 text-center">
                                <apex:outputPanel rendered="{!IF(AND(cnt.PRMContact__c == true, cnt.PRMPrimaryContact__c == true), true, false)}" layout="none">
                                    <i class="bfobootstrapv1 glyphicon glyphicon-user color-green glyphsize">
                                        <span class="rw-number-notification-top">
                                            <i class="bfobootstrapv1 glyphicon glyphicon-star color-green" />
                                        </span>                                    
                                    </i>    
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(AND(cnt.PRMPrimaryContact__c == false, cnt.PRMContact__c == true), true, false)}" layout="none">
                                    <i class="bfobootstrapv1 glyphicon glyphicon-user color-green glyphsize"></i>    
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(cnt.PRMContact__c == false, true, false)}" layout="none">
                                    <i class="bfobootstrapv1 glyphicon glyphicon-user color-red glyphsize"></i>    
                                </apex:outputPanel>
                            </div>
                            <div class="bfobootstrapv1 col-md-1 text-center">
                                <apex:outputPanel rendered="{!IF(cnt.PRMContactRegistrationStatus__c == 'Validated', true, false)}" layout="none">
                                    <i class="bfobootstrapv1 fa fa-thumbs-up color-green glyphsize"></i>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(cnt.PRMContactRegistrationStatus__c == 'Declined', true, false)}" layout="none">
                                    <i class="bfobootstrapv1 fa fa-thumbs-down color-red glyphsize"></i>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(cnt.PRMContactRegistrationStatus__c == 'Pending', true, false)}" layout="none">
                                    <i class="bfobootstrapv1 glyphicon glyphicon-alert color-gray glyphsize"></i>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(cnt.PRMContactRegistrationStatus__c == 'Inactive', true, false)}" layout="none">
                                    <i class="bfobootstrapv1 glyphicon glyphicon-thumbs-down color-orange glyphsize">
                                        <span class="rw-number-notification-bottom">
                                            <i class="bfobootstrapv1 glyphicon glyphicon-exclamation-sign" />
                                        </span>                                    
                                    </i>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(cnt.PRMContactRegistrationStatus__c == 'Registering', true, false)}" layout="none">
                                    <i class="bfobootstrapv1 glyphicon glyphicon-hand-up glyphsize"></i>
                                </apex:outputPanel>
                            </div>
                            <div class="bfobootstrapv1 col-md-1"><label class="control-label">{!cnt.PRMLastLoginDate__c}</label></div>
                            <div class="bfobootstrapv1 col-md-1 text-center">
                                <apex:outputPanel rendered="{!IF(cnt.PRMIsActiveContact__c == true, true, false)}" layout="none">
                                <div class="checkbox checkbox-primary" style="margin-top:0px;">
                                    <input type="checkbox" class="styled styled-primary" value="option1" checked="checked" aria-label="Single checkbox One" disabled="disabled" />
                                    <label style="line-height: 1.42857143;"></label>
                                </div>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(cnt.PRMIsActiveContact__c == false, true, false)}" layout="none">
                                <div class="checkbox" style="margin-top:0px;">
                                    <input type="checkbox" class="styled" value="option1" aria-label="Single checkbox One" disabled="disabled" />
                                    <label style="line-height: 1.42857143;"></label>
                                </div>
                                </apex:outputPanel>
                            </div>
                            <div class="bfobootstrapv1 col-md-1">
                                <apex:outputPanel rendered="{!IF(cnt.PRMIsEnrolledContact__c == true, true, false)}" layout="none">
                                    <div class="checkbox checkbox-primary" style="margin-top:0px;">
                                        <input type="checkbox" class="styled styled-primary" value="option1" checked="checked" aria-label="Single checkbox One" disabled="disabled" />
                                        <label style="line-height: 1.42857143;"></label>
                                    </div>
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(cnt.PRMIsEnrolledContact__c == false, true, false)}" layout="none">
                                    <div class="checkbox" style="margin-top:0px;">
                                        <input type="checkbox" class="styled" value="option1" aria-label="Single checkbox One" disabled="disabled" />
                                        <label style="line-height: 1.42857143;"></label>
                                    </div>
                                </apex:outputPanel>
                            </div>
                            <div class="bfobootstrapv1 col-md-1">
                                <apex:outputPanel rendered="{!IF(ConNotHasFullPortalAccess[cnt.Id], false, true)}" layout="none">
                                    -   
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(ConNotHasFullPortalAccess[cnt.Id], true, false )}" layout="none">
                                    <a href="javascript:void(0);" onclick="return doOpenForm('fullportal', '{!cnt.Id}', 'Grant Full Portal Access');" >Grant Full Portal Access</a>
                                </apex:outputPanel>
                            </div>
                            <div class="bfobootstrapv1 col-md-1">
                                <apex:outputPanel rendered="{!IF(cnt.PRMContact__c == false, true, false)}" layout="none">
                                    -   
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(cnt.PRMContact__c == true, true, false)}" layout="none">
                                    <a href="javascript:void(0);" onclick="return doOpenForm('reset', '{!cnt.Id}', 'Reset Password');">Reset Password</a>    
                                </apex:outputPanel>
                            </div>
                        </div>
                    </apex:repeat>
                </div>
            </div>
            <div class="bfobootstrapv1 container">
                <apex:outputPanel >
                <div class="bfobootstrapv1 text-center">
                    <nav >
                        <i id="inprogress" class="fa fa-spinner fa-spin fa-pulse fa-2x fa-fw margin-bottom hide"></i><span class="sr-only">Loading...</span>&nbsp;&nbsp;
                        <ul class="pagination">
                            <apex:repeat value="{!TotalPages}" var="PageNum">
                                <li class="{!if(PageNumber == PageNum-1, 'active','')}">
                                    <apex:commandLink action="{!GetPaginationContacts}" title="{!PageNum}" value="{!PageNum}" reRender="theForm,pgmessages" onclick="doProcess();" oncomplete="doStopProcess();">
                                        <apex:param name="PageNumber" value="{!PageNum-1}" assignTo="{!PageNumber}"/>
                                    </apex:commandLink>
                                </li>
                            </apex:repeat>
                        </ul>
                    </nav>
                </div>
                </apex:outputPanel>
            </div>

            <div class="bfobootstrapv1 container">
                <div class="bfobootstrapv1 row">
                    <div class="bfobootstrapv1 col-sm-4">
                        <fieldset class="bfobootstrapv1 scheduler-border">
                            <legend class="bfobootstrapv1 scheduler-border">Registration Status</legend>
                            <div class="bfobootstrapv1 control-group">
                                <label class="bfobootstrapv1 control-label input-label">In Progress:&nbsp;</label><i class="bfobootstrapv1 glyphicon glyphicon-hand-up glyphsize"></i>
                                <label class="bfobootstrapv1 control-label input-label">Pending:&nbsp;</label><i class="bfobootstrapv1 glyphicon glyphicon-alert color-gray glyphsize"></i>&nbsp;&nbsp;
                                <label class="bfobootstrapv1 control-label input-label">Validated:&nbsp;</label><i class="bfobootstrapv1 fa fa-thumbs-up color-green glyphsize"></i>&nbsp;&nbsp;
                                <label class="bfobootstrapv1 control-label input-label">Declined:&nbsp;</label><i class="bfobootstrapv1 fa fa-thumbs-down color-red glyphsize"></i>&nbsp;&nbsp;
                                <label class="bfobootstrapv1 control-label input-label">Inactive:&nbsp;</label>
                                <i class="bfobootstrapv1 glyphicon glyphicon-thumbs-down color-orange glyphsize">
                                    <span class="rw-number-notification-bottom">
                                        <i class="bfobootstrapv1 glyphicon glyphicon-exclamation-sign" />
                                    </span>                                    
                                </i>
                            </div>
                        </fieldset>
                    </div>
                    <div class="bfobootstrapv1 col-sm-4">
                        <fieldset class="bfobootstrapv1 scheduler-border">
                            <legend class="bfobootstrapv1 scheduler-border">Contact</legend>
                            <div class="bfobootstrapv1 control-group">
                                <label class="bfobootstrapv1 control-label input-label">PRM Primary Contact:&nbsp;</label>
                                <i class="bfobootstrapv1 glyphicon glyphicon-user color-green glyphsize">
                                    <span class="rw-number-notification-top">
                                        <i class="bfobootstrapv1 glyphicon glyphicon-star color-green" />
                                    </span>                                    
                                </i>&nbsp;&nbsp;
                                <label class="bfobootstrapv1 control-label input-label">PRM Contact:&nbsp;</label><i class="bfobootstrapv1 glyphicon glyphicon-user color-green glyphsize"></i>&nbsp;&nbsp;
                                <label class="bfobootstrapv1 control-label input-label">Non-PRM Contact:&nbsp;</label><i class="bfobootstrapv1 glyphicon glyphicon-user color-red glyphsize"></i>&nbsp;&nbsp;
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            </apex:form>
        </apex:define>
    
    </apex:composition>
</apex:page>