<apex:page controller="VFC_CCCFollowupResponse" showHeader="false" sidebar="false" standardStylesheets="true" action="{!updateCase}">

<!-- Commented Due to EUS - 047833 -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />-->
<!--<script src="https://code.jquery.com/jquery-2.1.1.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->

<link href="{!URLFOR($Resource.ClientFrameworkLibraries,'bootstrap-3.2.0/css/bootstrap.min.css')}" rel="stylesheet" />
<link href="{!URLFOR($Resource.ClientFrameworkLibraries,'bootstrap-3.2.0/css/bootstrap-theme.min.css')}" rel="stylesheet" />
<script type="text/javascript" src="{!URLFOR($Resource.ClientFrameworkLibraries, 'jQuery/jquery-2.1.1.min.js')}" />
<script type="text/javascript" src="{!URLFOR($Resource.ClientFrameworkLibraries,'bootstrap-3.2.0/js/bootstrap.min.js')}" />

<style>
body {
    background:#333;    
}
.simplefont{
    background-color:white;
}
.top-buffer { margin-top:20px; }
</style>


<div class="container-fluid">
<div class="row top-buffer">
  <div class="col-md-2"></div>
  <div class="col-md-4">
      <a href="http://www.schneider-electric.com/us/en" title="Schneider Electric">
      <apex:image value="{!URLFor($Resource.schneiderlogo)}" alt="Schneider Electric"/>
      </a>
  </div>
  <div class="col-md-6"></div>
</div>
    <div class="row top-buffer">
      <div class="col-md-2"></div>
      <div class="col-md-8">    
      <c:C_PageMessages />  
          <!-- apex:pageMessages>
          </apex:pageMessages -->
            <!--p class="text-muted">Muted text</p>
            <p class="text-primary">Primary text</p>
            <p class="text-success">Success Text</p>
            <p class="text-info">Information text</p>
            <p class="text-warning">Warning Text</p>
            <p class="text-danger">Danger Text</p>
            
            <div class="alert alert-success" role="alert">Success</div>
            <div class="alert alert-info" role="alert">Information</div>
            <div class="alert alert-warning" role="alert">Warning</div>
            <div class="alert alert-danger" role="alert">Danger</div -->
      </div>
    </div>
</div>
</apex:page>