<apex:page standardController="Contact" extensions="VFC_ContactMarkAsDuplicate" recordSetVar="cons" tabStyle="Contact" >
  
 <apex:sectionHeader title="Duplicate Contacts" />  <!--subtitle="{!contact.account.name}"/> -->
  <apex:form >
    <apex:pageBlock >
      <apex:pagemessages />
       <apex:pageBlockSection title="Select The Master Contact" columns="1">
        <apex:pageBlockTable value="{!selected}" var="duplicate" id="ctable" columns="8"  >
      
         <apex:column >
            <apex:commandlink action="{!selectAsMaster}" value="Select As Master" id="theCommandLink" >   
             <apex:param name="selMasterID" value="{!duplicate.ID}" assignTo="{!selMasterID}" />
            </apex:commandLink>  
         </apex:column>
         
         <apex:column headerValue="Contact Name" >
             <p> {!duplicate.FirstName & ' ' & duplicate.LastName} </p> 
         </apex:column>
         
         <apex:column headerValue="Job Title" value="{!duplicate.JobTitle__c}" />
         
         <apex:column headerValue="Job Function" value="{!duplicate.JobFunc__c}"/>  
         
         <apex:column headerValue="Job Description" value="{!duplicate.JobDescr__c}"/>    
         
         <apex:column headerValue="Email" value="{!duplicate.Email}"/>
         
         <apex:column headerValue="Work Phone" value="{!duplicate.WorkPhone__c}"/>
         
         <apex:column HeaderValue="To be Deleted" value="{!duplicate.ToBeDeleted__c}"/>
            
        </apex:pageBlockTable>
      </apex:pageBlockSection>  
    </apex:pageBlock>      
  </apex:form>
</apex:page>