<!--
Author:Sid
Page:Angular Bootstrap Template page.
Description: Template page for simple angular, bootstrap implementations with page loader,utilities,tour and jsforce libraries embedded.
-->
<apex:page doctype="html-5.0" cache="false">
    <apex:includeScript value="{!URLFor($Resource.CCCClientLibraries,'Angular/angular.min.1.3.13.js')}" />
    <apex:includeScript value="{!URLFor($Resource.CCCClientLibraries,'Angular/angular-route.min.1.3.13.js')}" />
    <apex:includeScript value="{!URLFor($Resource.CCCClientLibraries,'Angular/angular-animate.min.1.3.13.js')}" />
    <apex:includeScript value="{!URLFor($Resource.CCCClientLibraries,'Angular/angular-sanitize.min.1.3.13.js')}" />
    
    <apex:includeScript value="{!URLFor($Resource.CCCClientLibraries,'Others/angularloader/loading-bar.js')}" />
    <apex:includeScript value="{!URLFor($Resource.CCCClientLibraries,'Angular/angular-bootstrap.0.12.0.min.js')}" />
    <apex:includeScript value="{!URLFor($Resource.CCCClientLibraries,'Others/angularuiutils/ui-utils-0.2.1/ui-utils.js')}" />
    <apex:includeScript value="{!URLFor($Resource.CCCClientLibraries,'Others/angularuiutils/ui-utils-0.2.1/ui-utils-ieshiv.js')}" />
    <apex:includeScript value="{!URLFor($Resource.CCCClientLibraries,'jQuery/jquery-1.11.1.min.js')}" />
    <apex:includeScript value="{!URLFor($Resource.CCCClientLibraries,'bfobootstrap-3.3.2/js/bootstrap.js')}" />
    <!-- apex:includeScript value="{!URLFor($Resource.CCCClientLibraries,'Others/ngjoyride/ng-joyride.js')}" / -->
    <apex:includeScript value="{!URLFor($Resource.CCCClientLibraries,'jsforce-1.4.0/jsforce.min.js')}" />
    <apex:includeScript value="{!URLFor($Resource.CCCClientLibraries,'Others/underscore/underscore-min.js')}" />
    <apex:includeScript value="/support/console/35.0/integration.js"/>
    <apex:includeScript value="{!URLFor($Resource.angulartics,'angulartics.min.js')}" />
    <apex:includeScript value="{!URLFor($Resource.angulartics,'angulartics-ga.min.js')}" />
    
    <apex:stylesheet value="{!URLFor($Resource.CCCClientLibraries,'bfobootstrap-3.3.2/css/bootstrap.css')}" />
    <apex:stylesheet value="{!URLFor($Resource.CCCClientLibraries,'bfobootstrap-3.3.2/css/bootstrap.css')}" />
    <apex:stylesheet value="{!URLFor($Resource.CCCClientLibraries,'Others/angularloader/loading-bar.css')}" />
    <apex:stylesheet value="{!URLFor($Resource.CCCClientLibraries,'bfobootstrap-3.3.2/css/bootstrap-theme.css')}" />
    <!-- apex:stylesheet value="{!URLFor($Resource.CCCClientLibraries,'Others/ngjoyride/ng-joyride.css')}" / -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
    ga('create', '{!$Label.analytics_track_id}', 'auto',{userId: "{!$User.Id}"});
    ga('set', 'dimension1', '{!$User.Username}');
    ga('set', 'dimension2', '{!$User.FirstName} {!$User.LastName}');
    ga('set', 'dimension3', '{!$UserRole.Name}');
    
    </script>
    <apex:outputPanel styleClass="bfobootstrap">                        
        <apex:insert name="content"/>        
    </apex:outputPanel> 
    <apex:insert name="customscripts"/>
    <apex:insert name="scriptstoinclude" />
    <apex:insert name="stylesheetstoinclude" />    
</apex:page>