<apex:page tabStyle="Opportunity" standardController="OPP_QuoteLink__c" extensions="VFC_ShowAllQuoteLinks" >
    
    <apex:form >
     <apex:sectionHeader title="{!Opportunity.Name}"/>
         <apex:pageBlock title="Quote Links">
             <apex:pageBlockButtons location="Top">
                 <apex:commandButton value="Cancel" action="{!doCancel}"/>
             </apex:pageBlockButtons>
             <apex:pageBlockTable value="{!AllQuoteLinks}" var="item"> 
                             
                <apex:column headerValue="{!$ObjectType.OPP_QuoteLink__c.fields.Name.Label}">                   
                    <apex:outputLink value="/{!item.id}">{!item.Name}</apex:outputLink>                    
                </apex:column>
                <apex:column value="{!item.OwnerId }"/> 
                <apex:column value="{!item.ActiveQuote__c}"/> 
                <!--
                 <apex:column value="{!item.QuoteRefNumberinLegacy__c}"/> 
                  <apex:column value="{!item.Description__c}"/> 
                   <apex:column value="{!item.QuoteStatus__c}"/> 
                    <apex:column value="{!item.Amount__c}"/> 
                     <apex:column value="{!item.QuoteTo__c}"/> 
                      <apex:column value="{!item.ValidityDate__c}"/> 
                      
                       
                         
                             
                       -->                                  
            </apex:pageBlockTable> 
        </apex:pageBlock>
    </apex:form> 
</apex:page>