<apex:page standardController="SVMXC__Service_Contract__c" showHeader="false" sidebar="false" extensions="VFC_OpenBackOfficeContract" action="{!doRedirect}">
<meta http-equiv="pragma" content="no-cache" />
<apex:pageMessages ></apex:pageMessages>
   <apex:form >
      <apex:pageblock >
          
      </apex:pageblock>
   </apex:form>
</apex:page>