<apex:page id="Page1" docType="html-5.0"
    controller="VFC_IDMS_Consumer_SocialLogin" showHeader="false"
    sidebar="false" standardStylesheets="false" applyHtmlTag="false"
    applyBodyTag="false" >


<form action="https://ims-int.btsec.dev.schneider-electric.com/opensso/UI/Login"
    method="post"  name="autoSubmit">
    
        <input type="hidden" name="IDToken1" value="{!IDToken1}"></input> 
        <input type="hidden" name="IDToken2" value="{!IDToken2}"></input> 
        <input type="hidden" name="IDButton" value="{!IDButton}"></input>      
        <input type="hidden" name="goto" value="{!gotoIdp}"></input>      
        <input type="hidden" name="gotoOnFail" value="{!gotoOnFail}"></input>      
        <input type="hidden" name="SunQueryParamsString" value="{!SunQueryParamsString}"></input>      
        <input type="hidden" name="encoded" value="{!encoded}"></input>      
        <input type="hidden" name="errorMessage" value="{!errorMessage}"></input>   
           
    
</form>

   <script>
   window.onload = function(){
     document.forms['autoSubmit'].submit()

   }
  </script>

</apex:page>