<!-- Master Project Progressbar - Barcode-->

<apex:page standardController="OPP_Project__c" extensions="VFC_ProjectBarcode" sidebar="false" showHeader="false">
    <head>
        <apex:includeScript value="{!URLFor($Resource.STR_SLS_ClientFrameworkLibraries,'Angular/angular.min.1.3.13.js')}" />
        <apex:includeScript value="{!URLFor($Resource.STR_SLS_ClientFrameworkLibraries,'Angular/angular-route.min.1.3.13.js')}" />
        <apex:includeScript value="{!URLFor($Resource.STR_SLS_ClientFrameworkLibraries,'Angular/angular-animate.min.1.3.13.js')}" />
        <apex:includeScript value="{!URLFor($Resource.STR_SLS_ClientFrameworkLibraries,'Angular/angular-sanitize.min.1.3.13.js')}" />
        <apex:includeScript value="{!URLFor($Resource.STR_SLS_ClientFrameworkLibraries,'Others/angularloader/loading-bar.min.js')}" />
        <apex:includeScript value="{!URLFor($Resource.STR_SLS_ClientFrameworkLibraries,'Angular/angular-bootstrap.0.12.0.min.js')}" />
        <apex:stylesheet value="{!URLFor($Resource.STR_SLS_ClientFrameworkLibraries,'Others/angularloader/loading-bar.min.css')}" />
        <apex:stylesheet value="{!URLFor($Resource.STR_SLS_MasterProjectProgressBarStyles,'STR_SLS_MasterProjectProgressBarStyles/MasterProjectProgressBarStyle.css')}" />
        <script type="text/javascript">
            angular.module('Barcode', ['ui.bootstrap']);
            angular.module('Barcode').controller('ProgressBar',['$scope','$window',function ($scope,$window) {
            $scope.max = 101;
            $scope.stacked = [];
            $scope.openAmt;
            $scope.openAmount;
            $scope.wonAmt;
            $scope.wonAmount;
            $scope.lostAmt;
            $scope.lostAmount;
            $scope.cancelledAmt;
            $scope.cancelledAmount;
            $scope.total=0;
            $scope.data=[];
            $scope.UserCurrencyCode;
            $scope.totalpercentage;
            $scope.decimalseperator;
            <!-- Page redirection on click -->
            $scope.go = function (path,stage) {
                console.log('>>>path'+path+stage);
                $window.location.href = path+stage ;           
            };
            
            <!--Format the amount-->
            $scope.amtFormat=function(amt) 
            {
                console.log('>>>>entering amtFormat'+amt+'$scope.decimalseperator'+$scope.decimalseperator);
                           if($scope.decimalseperator==','){
                  // Nine Zeroes for Billions
                  return Math.abs(Number(amt)) >= 1.0e+9
                   ? (Math.round((Math.abs(Number(amt)) / 1.0e+9)*100)/100).toLocaleString('fr') + "B"
                   // Six Zeroes for Millions 
                   : Math.abs(Number(amt)) >= 1.0e+6
                   ? (Math.round((Math.abs(Number(amt)) / 1.0e+6)*100)/100).toLocaleString('fr') + "M"
                   // Three Zeroes for Thousands
                   : Math.abs(Number(amt)) >= 1.0e+3
                   ? (Math.round((Math.abs(Number(amt)) / 1.0e+3)*100)/100).toLocaleString('fr') + "K"
                   : Math.round(Math.abs(Number(amt))).toLocaleString('fr');
               }
               else{
                  // Nine Zeroes for Billions
                  return Math.abs(Number(amt)) >= 1.0e+9
                   ? (Math.round((Math.abs(Number(amt)) / 1.0e+9)*100)/100) + "B"
                   // Six Zeroes for Millions 
                   : Math.abs(Number(amt)) >= 1.0e+6
                   ? (Math.round((Math.abs(Number(amt)) / 1.0e+6)*100)/100) + "M"
                   // Three Zeroes for Thousands
                   : Math.abs(Number(amt)) >= 1.0e+3
                   ? (Math.round((Math.abs(Number(amt)) / 1.0e+3)*100)/100) + "K"
                   : Math.round(Math.abs(Number(amt)));
               }
           }
  
            $scope.randomStacked = function() {
                Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.VFC_ProjectBarcode.getProjectData}','{!Id}',
                 function(result, event) {
                    if (event.status) {
                        $scope.data=result;
                        console.log($scope.data);
                        $scope.UserCurrencyCode=$scope.data.currentUserDetails.DefaultCurrencyIsoCode;
                        $scope.decimalseperator=$scope.data.decimalseperator;
                        $scope.openAmt=0;$scope.wonAmt=0;$scope.cancelledAmt=0;$scope.lostAmt=0;$scope.total=0;
                        $scope.openAmount=0;$scope.wonAmount=0;$scope.cancelledAmount=0;$scope.lostAmount=0;
                        if($scope.data.prj!=null && $scope.data.prj!=''){                
                            $scope.openAmount=Number($scope.data.prj.Tech_SumOfOpenOpportunities__c);
                            $scope.wonAmount=Number($scope.data.prj.Tech_SumOfWonOpportunities__c);
                            $scope.cancelledAmount=Number($scope.data.prj.Tech_SumOfCancelledOpportunities__c);
                            $scope.lostAmount=Number($scope.data.prj.Tech_SumOfLostOpportunities__c);
                            $scope.total=$scope.openAmount+$scope.wonAmount+$scope.cancelledAmount+$scope.lostAmount;
                            
                            <!-- format the amount -->
                            $scope.openAmt=$scope.amtFormat(Number($scope.openAmount));
                            $scope.wonAmt=$scope.amtFormat(Math.round($scope.wonAmount));
                            $scope.cancelledAmt=$scope.amtFormat(Math.round($scope.cancelledAmount));
                            $scope.lostAmt=$scope.amtFormat(Math.round($scope.lostAmount));
                             
                        }
                         if( $scope.total>0){                 
                            $scope.totalpercentage=(Math.round(Number($scope.openAmount)/Number($scope.total)*Number(100)))+(Math.round(Number($scope.wonAmount)/Number($scope.total)*Number(100)))+(Math.round(Number($scope.lostAmount)/Number($scope.total)*Number(100)))+(Number(100)-((Math.round(Number($scope.openAmount)/Number($scope.total)*Number(100)))+(Math.round(Number($scope.wonAmount)/Number($scope.total)*Number(100)))+(Math.round(Number($scope.lostAmount)/Number($scope.total)*Number(100)))));
                            console.log($scope.totalpercentage);
                            $scope.stacked.push({
                                    value:Math.round(Number($scope.openAmount)/Number($scope.total)*Number(100)),
                                    stage:"Open",
                                    amt:$scope.openAmt,
                                    type:"info"
                            });
                              $scope.stacked.push({
                                  value:Math.round(Number($scope.wonAmount)/Number($scope.total)*Number(100)),
                                  stage:"Won",
                                  amt:$scope.wonAmt,
                                  type:"success" 
                            });
                              $scope.stacked.push({
                                  value:Math.round(Number($scope.lostAmount)/Number($scope.total)*Number(100)),
                                  stage:"Lost",
                                  amt:$scope.lostAmt,
                                  type:"danger"
                             });
                             $scope.stacked.push({
                                  value:Number(100)-((Math.round(Number($scope.openAmount)/Number($scope.total)*Number(100)))+(Math.round(Number($scope.wonAmount)/Number($scope.total)*Number(100)))+(Math.round(Number($scope.lostAmount)/Number($scope.total)*Number(100)))),
                                  stage:"Cancelled",
                                  amt:$scope.cancelledAmt,
                                  type:"warning"   
                            });
                        }
                    } else if (event.type === 'exception') 
                        console.log(event.message);
                    $scope.$apply();
                 }); 
            };
            $scope.randomStacked();
            }]);
        </script>
    </head>
    <body>
    <div ng-app="Barcode">
        <div ng-controller="ProgressBar" >      
            <progress max="totalpercentage" class="cursorhand" ng-if="totalpercentage"><bar ng-repeat="bar in stacked track by $index" ng-click="go('{!$Site.Prefix}/apex/VFP_ProjectBarcodeDetailView?&id={!Id}&clickedStage=',bar.stage)" value="bar.value" type="{{bar.type}}"><span>{{bar.value}}% <br/>{{bar.stage}} <br/> {{bar.amt}}</span></bar></progress>  
            <span class="redfont" ng-show="total" ng-if="total">{!$Label.CLMAR16SLS38} </span><span class="redfont" ng-show="total" ng-if="total" ng-bind-template="{{UserCurrencyCode}}">.</span> <br/>
            <span class="redfont" ng-show="{!OPP_Project__c.Tech_AmoutUpdateByBatch__c} && total" ng-if="{!OPP_Project__c.Tech_AmoutUpdateByBatch__c} && total">{!$Label.CLMAR16SLS39}</span>
        </div>
    </div>
    </body>
</apex:page>