<apex:page controller="VFC_AddProblemLinkedCase_Common">
<apex:form id="frm">

<apex:actionFunction action="{!addProblemLinkedCase}" name="pqr"  />
<!--<apex:actionFunction action="{!rmvproblemlinkedcase}" name="rmv" />-->
<apex:outputPanel id="pnl"></apex:outputPanel>
<apex:inputHidden id="inphdn" value="{!strHdn}"/>
    <Apex:OutputPanel rendered="{!isshowPB1}">
    <apex:pageBlock >
        
        <div><center><apex:commandButton styleclass="btn" action="{!cancelAddRemovePLC}" value="Cancel" rendered="{!iscancel}" /></center></div>
        <BR/>
        <div><center><span style="color:RED; font-weight:Bold"><apex:messages styleClass="errorMsg" layout="table" /></span ></center></div>
        <apex:pageBlockTable value="{!lstWrapperCases}" var="varwrapperSymptom" id="counter" rendered="{!isNoGMRDATA}" >
            <apex:column width="10px">
                <!--<apex:facet name="header">
                  <apex:inputCheckbox value="{!allChecked}">
                    <apex:actionSupport event="onclick" action="{!CheckAll}" rerender="counter,VFP02_PAD"/>
                  </apex:inputCheckbox>
                </apex:facet>-->
            <apex:inputCheckbox value="{!varwrapperSymptom.isPRBSelected}" />
            </apex:column>
            <apex:column headerValue="{!$ObjectType.Case.Fields.CaseNumber.Label}" width="55px"><a id="theLink" name="theLink" href="/{!varwrapperSymptom.strCaseID}" target="_blank">{!varwrapperSymptom.strCaseNumber}</a> </apex:column>
            <apex:column value="{!varwrapperSymptom.strProblemName}" headerValue="{!$ObjectType.Case.Fields.Subject.Label}"/>
             <apex:column value="{!varwrapperSymptom.strCaseStatus}" headerValue="{!$ObjectType.Case.Fields.Status.Label}" />
              <apex:column value="{!varwrapperSymptom.strCCCountry}" headerValue="Account Country"/>
              
              
            <apex:column value="{!varwrapperSymptom.sterCommercialRefrence}" headerValue="{!$ObjectType.Case.Fields.Symptom__c.Label}"/>
          <!--  <apex:column value="{!varwrapperSymptom.strSymptoms}" headerValue="{!$ObjectType.Case.Fields.SubSymptom__c.Label}" /> -->
          <!--  <apex:column value="{!varwrapperSymptom.strCategorey}" headerValue="{!$ObjectType.Case.Fields.CaseSymptom__c.Label}" /> -->
           <apex:column value="{!varwrapperSymptom.strSymp}" headerValue="Symptom"/> 
           <apex:column value="{!varwrapperSymptom.strSubSymp}" headerValue="Sub Symptom"/>
            <apex:column value="{!varwrapperSymptom.strCreationdate}" headerValue="Creation Date" width="65px"/>
        </apex:pageBlockTable>
        <apex:pageBlockButtons rendered="{!isNoGMRDATA}">
            <apex:commandButton action="{!addProblemLinkedCase}" value="Link to Problem" rendered="{!isadd}" />
           <!--<apex:commandButton action="{!rmvproblemlinkedcase}" value="Remove from problem" rendered="{!isremove}"/>-->
          <apex:commandButton action="{!cancelAddRemovePLC}" value="Return to Problem" />
        </apex:pageBlockButtons>
    </apex:pageBlock>
    </Apex:OutputPanel>
    <apex:outputPanel rendered="{!isshowPB2}">
    <apex:pageBlock mode="edit">
        
        <div><center><apex:commandButton styleclass="btn" action="{!cancelAddRemovePLC}" value="Cancel" rendered="{!iscancel}" /></center></div>
        <BR/>
        
        <div><center><span style="color:RED; font-weight:Bold"><apex:messages styleClass="errorMsg" layout="table" /></span ></center></div>
        <div style="width:100%">
        <apex:pageBlockTable value="{!lstWrapper}" columns="8" var="varwrapperSymptom" id="counter" rendered="{!isNoGMRDATA}">
            <apex:column style="width:6.5em;size:relative;" >
               
           
            <div style="display:{!IF(isadd,'block','none')}"><a href="#" onclick="addPRB('{!varwrapperSymptom.strPrbID}')" id="addplc" type="default" styleclass="actionlink" ><u>Link&nbsp;to&nbsp;Case</u></a></div>
            
           
            </apex:column>
            <apex:column headerValue="{!$ObjectType.Problem__c.Fields.Name.Label}" ><span style="width:100px"><a id="theLink" name="theLink" href="/{!varwrapperSymptom.strPrbID}" target="_blank">{!varwrapperSymptom.strProblemName}</a></span></apex:column>
            <apex:column headerValue="" ><div ><apex:image url="{!IF(varwrapperSymptom.strSeverity=='Safety related',$Resource.I2P_Safety_Alert,'')}" rendered="{!IF(varwrapperSymptom.strSeverity=='Safety related',True,false)}" /></div></apex:column>
            <apex:column value="{!varwrapperSymptom.strTitle}" headerValue="{!$ObjectType.Problem__c.Fields.Title__c.Label}"/>
            <apex:column value="{!varwrapperSymptom.strwhatisproblem}" headerValue="{!$ObjectType.Problem__c.Fields.WhatIsTheProblem__c.Label}" />
            <apex:column value="{!varwrapperSymptom.strwhyisitproblem}" headerValue="{!$ObjectType.Problem__c.Fields.WhyIsItaProblem__c.Label}" />
            <apex:column value="{!varwrapperSymptom.strcontainmentsummary}" headerValue="{!$ObjectType.Problem__c.Fields.Status__c.Label}" />
            <apex:column value="{!varwrapperSymptom.strCreateDate}" headerValue="{!$ObjectType.Problem__c.Fields.CreatedDate.Label}" width="65px"/>
          
        </apex:pageBlockTable></div>
        <apex:pageBlockButtons rendered="{!isNoGMRDATA}">
          
           <apex:commandButton action="{!cancelAddRemovePLC}" value="Return to Case" />
        </apex:pageBlockButtons>
    </apex:pageBlock>
    </apex:outputPanel>
</apex:form>
<script>
function addPRB( a)
{var aa=a;
document.getElementById( '{!$Component.frm.inphdn}').value=aa;

pqr();
}
function RMVPRB(a)
{
var aa=a;
document.getElementById( '{!$Component.frm.inphdn}').value=aa;

rmv();
}
</script>
  <!-- DEBUG MODE -->
  <c:PAD id="VFP02_PAD"/>
</apex:page>