<apex:page >
    <apex:form >
        <apex:sectionHeader title="Admin Links"/>
        <apex:pageBlock >
            <apex:pageBlockSection columns="1">
                <apex:outputLink value="/apex/VFP_SearchPage">Search for a text in Metadata</apex:outputLink>
                <apex:outputLink value="/apex/VFP_ApexCodeCoverageList">Apex Test Execution</apex:outputLink>                
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>