<apex:page sidebar="false" controller="VFC_ManageAccountExternalInfo">
    <head>
    
    <script type="text/javascript">
        var form_reg_reqfields = ["cmpName"];
        function doValidate() {
            if($("form[id$='form_cmpinfo']").valid() == true){
                $("[id$='inprogress']").removeClass('hide');
                showOrHideAlways('cmpinfobefsverrors', 'hide');
                return true;
            }
            else return false;
        }
        function doSaveComplete() {
            $("[id$='inprogress']").addClass('hide');
            initNewRegForm();
        }
        function initNewRegForm() {
            $("select[id$='area']").addClass('bfobootstrapv1 form-control');
            $("select[id$='area']").prop('disabled',true);  
                
            $('#cmpinfo-icon').click(function() { 
                $('#companycontent').toggle();
            });
            $('#cmpinfo1-icon').click(function() { 
                $('#companyaddlcontent').toggle();
            });
            $('#cmpinfo2-icon').click(function() { 
                $('#regaddlcontent').toggle();
            });
            $("select[id$='cmpBT']").change(function() { 
                window.setTimeout(function() {
                    $("select[id$='cmpAF']").addClass('bfobootstrapv1 form-control');
                }, 300);
            });
            $("select[id$='regStatus']").change(function() { 
                window.setTimeout(function() {
                    $("select[id$='rsnDecline']").addClass('bfobootstrapv1 form-control');
                }, 300);
            });
            $("select[id$='cmpOrgn']").change(function() { 
                window.setTimeout(function() {
                    $("select[id$='cmpOrgnSrc']").addClass('bfobootstrapv1 form-control');
                }, 300);
            });
            $("[id$='companyfullview'] div.col-md-9 table.multiSelectPicklistTable tr.multiSelectPicklistRow select").css({'width':'270px'});
            $("[id$='companyfullview'] div.col-md-9 table.multiSelectPicklistTable tr.multiSelectPicklistRow td.multiSelectPicklistCell").css({'padding-left': '10px', 'padding-right': '10px'});
            $("a:eq(0)", "[id$='companyfullview'] div.col-md-9 table.multiSelectPicklistTable tr.multiSelectPicklistRow td.multiSelectPicklistCell").append('<i class="fa fa-plus fontIconPlus" aria-hidden="true"></i><span class="sr-only">Loading...</span>');
            $("a:eq(1)", "[id$='companyfullview'] div.col-md-9 table.multiSelectPicklistTable tr.multiSelectPicklistRow td.multiSelectPicklistCell").append('<i class="fa fa-minus fontIconPlus" aria-hidden="true"></i><span class="sr-only">Loading...</span>');

            window.setTimeout(function() {
                debugger;
                $("select[id$='cmpAF']").addClass('bfobootstrapv1 form-control');
                $("select[id$='rsnDecline']").addClass('bfobootstrapv1 form-control');
                $("select[id$='cmpOrgnSrc']").addClass('bfobootstrapv1 form-control');
            }, 1000);
            $("[id$='form_cmpinfo']").validate({
                invalidHandler: function(event, validator) {
                    // 'this' refers to the form
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        showOrHideAlways('cmpinfobefsverrors', 'show');
                    }
                }
            }); 
            $.each(form_reg_reqfields, function( index, value ) {
                if (value == 'email') {
                    $("[id$='" + value + "']").rules("add",{ required: true, email: true });
                }
                else {   
                    $("[id$='" + value + "']").rules("add",{ required: true });
                }
            });
            
        }   
            
        $(document).ready(function() { 
            $('#cmpinfo-icon').click(function() { 
                $('#companyinfoview').toggle();
            }); 
            initNewRegForm();
        });        
    </script>
    </head>
  <apex:composition template="VFP_ExternalInfoDashboardTemplate">
        <apex:define name="dashboardContent">
            <apex:form id="form_cmpinfo">
            
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <apex:outputPanel id="pgmessages">
                <div class="bfobootstrapv1 container">
                    <apex:variable var="showMsg" value="true" rendered="{!(SaveStatus == 'nochange')}">
                        <div id="cmpinfonocng" class="alert alert-success" role="alert">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true" />
                            <span class="sr-only">Info:</span>&nbsp;
                            <span><strong>No changes were detected</strong></span>
                        </div>                    
                    </apex:variable>
                    <apex:variable var="showMsg" value="true" rendered="{!(SaveStatus == 'success')}">
                        <div id="cmpinfonocng" class="alert alert-success" role="alert">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true" />
                            <span class="sr-only">Info:</span>&nbsp;
                            <span><strong>Your updates were saved successfully!</strong></span>
                        </div>                    
                    </apex:variable>
                    <apex:variable var="showMsg" value="true" rendered="{! SaveStatus == 'valErrors'}">
                        <div id="cmpinfoerr" class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true" />
                            <span class="sr-only">Error:</span>&nbsp;
                            <span><strong>Please fix following errors:</strong></span>
                            <div class="row" style="margin-left: 14px;">
                                <span>
                                    <apex:repeat value="{!ValidationMessages}" var="ErrMsg">
                                        <strong>{!ErrMsg}</strong><br />
                                    </apex:repeat>
                                </span><br />
                            </div>
                        </div>
                    </apex:variable>
                    <div id="cmpinfobefsverrors" class="alert alert-danger hide" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" />
                        <span class="sr-only">Error:</span>
                        <span><strong>Please fix following errors:</strong></span>
                        <div class="row" style="margin-left: 14px;">
                            <span>Field(s) marked <strong>*</strong> are required</span><br />
                        </div>
                    </div>
                </div>
            </apex:outputPanel>
            <div class="bfobootstrapv1 container">
                <div class="bfobootstrapv1 row" style="margin-right: 0px;">
                    <apex:outputPanel id="actionButtons">
                    <div class="bfobootstrapv1 pull-right">
                        <i id="inprogress" class="fa fa-spinner fa-spin fa-pulse fa-2x fa-fw margin-bottom hide"></i><span class="sr-only">Loading...</span>&nbsp;&nbsp;
                        <apex:variable var="doView" value="true" rendered="{! AND((Mode != 'edit'), (IsDefaultAccount == false), $Permission.PRMCanEditPRMAccounts)}">
                            <!-- Split button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Review Listing
                                </button>
                                <div class="bfobootstrapv1 dropdown-menu">
                                    <apex:commandLink id="approveListing" styleClass="dropdown-item" title="Approve" value="Approve" action="{!UpdateLocatorListing}" reRender="companyfullview,actionButtons" onclick="doToggleInProgress('inprogress');" oncomplete="initNewRegForm();">
                                        <apex:param name="apprvlisting" value="Agree" assignTo="{!SaveAction}" />
                                        <apex:param name="backTo" value="locator" assignTo="{!ReturnToTab}" />
                                    </apex:commandLink>
                                    <apex:commandLink id="rejectListing" styleClass="dropdown-item" title="Reject" value="Reject" action="{!UpdateLocatorListing}" reRender="companyfullview,actionButtons" onclick="doToggleInProgress('inprogress');" oncomplete="initNewRegForm();">
                                        <apex:param name="rejectlisting" value="Refuse" assignTo="{!SaveAction}" />
                                        <apex:param name="backTo" value="locator" assignTo="{!ReturnToTab}" />
                                    </apex:commandLink>
                                </div>
                            </div>&nbsp;&nbsp;
                            <apex:commandLink id="canEditCmpInfo" styleClass="bfobootstrapv1 btn btn-primary btn-md" title="Edit" value="Edit" reRender="companyfullview,actionButtons" onclick="doToggleInProgress('inprogress');" oncomplete="initNewRegForm();">
                                <apex:param name="pageMode" value="edit" assignTo="{!Mode}" />
                                <apex:param name="svmsg" value="" assignTo="{!SaveStatus}" />
                            </apex:commandLink>
                        </apex:variable>
                        <apex:variable var="doEdit" value="true" rendered="{! AND((Mode == 'edit'), (IsDefaultAccount == false), $Permission.PRMCanEditPRMAccounts)}">
                            <apex:commandButton id="savecmpinfo" styleClass="bfobootstrapv1 btn btn-primary btn-md" action="{!Save}" title="Save" value="Save" onclick="if (!doValidate()) return false;" oncomplete="doSaveComplete();" reRender="pgmessages">
                                <apex:param id="cmpinfo" value="CMPLOCATORINFO" assignTo="{!SaveAction}"/>
                            </apex:commandButton>&nbsp;&nbsp;
                            <apex:commandLink id="cancelsavecmpinfo" styleClass="bfobootstrapv1 btn btn-primary btn-md" action="{!doCancelLocator}" style="background-color:gray;border-color:gray;" title="Cancel" value="Cancel" immediate="true" onclick="doToggleInProgress('inprogress');" oncomplete="initExternalInfoForm();">
                                <apex:param name="backTo" value="locator" assignTo="{!ReturnToTab}" />
                            </apex:commandLink>&nbsp;&nbsp;
                        </apex:variable>
                    </div>
                    </apex:outputPanel>
                </div>
            </div>
                
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix" style="height:25px;">&nbsp;</div>
            <apex:outputPanel id="companyfullview">
            <div id="companyplinfoview" class="bfobootstrapv1 panel panel-primary">
                <div class="bfobootstrapv1 panel-heading">
                    <h4 class="bfobootstrapv1 panel-title">
                        <a href="javascript:void(0);" id="cmpinfo-icon"><i class="bfobootstrapv1 glyphicon glyphicon-collapse-down"></i></a><strong>  Locator Information</strong>
                    </h4>
                </div>                    
                <div id="recordinfoview" class="bfobootstrapv1 panel-body panel-collapse collapse in">
                    <div class="bfobootstrapv1 row row-alternate" id="compNameRow">
                    <div class="bfobootstrapv1 col-md-3 required">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLCompanyName__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <apex:variable var="cName" value="true" rendered="{! (Mode != 'edit')}">
                            <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!DashboardInfo.AccountInfo.PLCompanyName__c}"></apex:outputField>
                        </apex:variable>
                        <apex:variable var="cName1" value="true" rendered="{! (Mode == 'edit')}">
                            <apex:inputField id="cmpName" styleClass="bfobootstrapv1 form-control"  value="{!DashboardInfo.AccountInfo.PLCompanyName__c}" ></apex:inputField>
                        </apex:variable>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLShowInPartnerLocator__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <apex:variable var="sPatner" value="true" rendered="{! (Mode != 'edit')}">
                            <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!DashboardInfo.AccountInfo.PLShowInPartnerLocator__c}"></apex:outputField>
                        </apex:variable>
                        <apex:variable var="sPatner1" value="true" rendered="{! (Mode == 'edit')}">
                            <apex:inputField id="prtLoc" styleClass="bfobootstrapv1 form-control"  value="{!DashboardInfo.AccountInfo.PLShowInPartnerLocator__c}" html-disabled="disabled"></apex:inputField>
                        </apex:variable>
                    </div>
                  </div>
                    
                    <div class="bfobootstrapv1 row row-alternate">
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLMainContactFirstName__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <apex:variable var="cFname" value="true" rendered="{! (Mode != 'edit')}">
                            <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!DashboardInfo.AccountInfo.PLMainContactFirstName__c}"></apex:outputField>
                        </apex:variable>
                        <apex:variable var="cFname1" value="true" rendered="{! (Mode == 'edit')}">
                            <apex:inputField id="cFirst" styleClass="bfobootstrapv1 form-control"  value="{!DashboardInfo.AccountInfo.PLMainContactFirstName__c}" ></apex:inputField>
                        </apex:variable>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLBusinessType__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <apex:variable var="bType" value="true" rendered="{! (Mode != 'edit')}">
                            <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!DashboardInfo.AccountInfo.PLBusinessType__c}"></apex:outputField>
                        </apex:variable>
                        <apex:variable var="bType1" value="true" rendered="{! (Mode == 'edit')}">
                            <apex:inputField id="bsnType" styleClass="bfobootstrapv1 form-control"  value="{!DashboardInfo.AccountInfo.PLBusinessType__c}" html-disabled="disabled"></apex:inputField>
                        </apex:variable>
                    </div>
                  </div>

                    <div class="bfobootstrapv1 row row-alternate">
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLMainContactLastName__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <apex:variable var="cLname" value="true" rendered="{! (Mode != 'edit')}">
                            <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!DashboardInfo.AccountInfo.PLMainContactLastName__c}"></apex:outputField>
                        </apex:variable>
                        <apex:variable var="cLname1" value="true" rendered="{! (Mode == 'edit')}">
                            <apex:inputField id="cLast" styleClass="bfobootstrapv1 form-control"  value="{!DashboardInfo.AccountInfo.PLMainContactLastName__c}" ></apex:inputField>
                        </apex:variable>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLAreaOfFocus__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <apex:variable var="aFocus" value="true" rendered="{! (Mode != 'edit')}">
                            <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!DashboardInfo.AccountInfo.PLAreaOfFocus__c}"></apex:outputField>
                        </apex:variable>
                        <apex:variable var="aFocus1" value="true" rendered="{! (Mode == 'edit')}">
                            <apex:inputField id="area" styleClass="bfobootstrapv1 form-control"  value="{!DashboardInfo.AccountInfo.PLAreaOfFocus__c}"></apex:inputField>
                        </apex:variable>
                    </div>
                  </div>

                    <div class="bfobootstrapv1 row row-alternate" id="emailRow">
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLMainContactEmail__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <apex:variable var="cEmail" value="true" rendered="{! (Mode != 'edit')}">
                            <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!DashboardInfo.AccountInfo.PLMainContactEmail__c}"></apex:outputField>
                        </apex:variable>
                        <apex:variable var="cEmail1" value="true" rendered="{! (Mode == 'edit')}">
                            <apex:inputField id="email" styleClass="bfobootstrapv1 form-control"  value="{!DashboardInfo.AccountInfo.PLMainContactEmail__c}" ></apex:inputField>
                        </apex:variable>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLCompanyDescription__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <apex:variable var="cDesc" value="true" rendered="{! (Mode != 'edit')}">
                            <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!DashboardInfo.AccountInfo.PLCompanyDescription__c}"></apex:outputField>
                        </apex:variable>
                        <apex:variable var="cDesc1" value="true" rendered="{! (Mode == 'edit')}">
                            <apex:inputField id="comDesc" styleClass="bfobootstrapv1 form-control"  value="{!DashboardInfo.AccountInfo.PLCompanyDescription__c}" ></apex:inputField>
                        </apex:variable>
                    </div>
                    
                  </div>

                    <div class="bfobootstrapv1 row row-alternate">
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLMainContactPhone__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <apex:variable var="cPhone" value="true" rendered="{! (Mode != 'edit')}">
                            <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!DashboardInfo.AccountInfo.PLMainContactPhone__c}"></apex:outputField>
                        </apex:variable>
                        <apex:variable var="cPhone1" value="true" rendered="{! (Mode == 'edit')}">
                            <apex:inputField id="conPhone" styleClass="bfobootstrapv1 form-control"  value="{!DashboardInfo.AccountInfo.PLMainContactPhone__c}" ></apex:inputField>
                        </apex:variable>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLPartnerLocatorFeatureGranted__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <apex:variable var="fGrant" value="true" rendered="{! (Mode != 'edit')}">
                            <div class="checkbox checkbox-info">
                                <apex:inputCheckbox id="fGrant1" styleClass="styled"  value="{!DashboardInfo.AccountInfo.PLPartnerLocatorFeatureGranted__c}"  disabled="true"/>
                                <label for="fGrant1">&nbsp;</label>
                            </div>                            
                        </apex:variable>
                        <apex:variable var="fGrant2" value="true" rendered="{! (Mode == 'edit')}">
                            <div class="checkbox checkbox-info">
                                <apex:inputField id="fGrant1" styleClass="styled"  value="{!DashboardInfo.AccountInfo.PLPartnerLocatorFeatureGranted__c}" />
                                <label for="fGrant1">&nbsp;</label>
                            </div>
                       
                        </apex:variable>   
                    </div>
                    
                  </div>

                    <div class="bfobootstrapv1 row row-alternate">
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLStreet__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <apex:variable var="street" value="true" rendered="{! (Mode != 'edit')}">
                            <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!DashboardInfo.AccountInfo.PLStreet__c}"></apex:outputField>
                        </apex:variable>
                        <apex:variable var="street1" value="true" rendered="{! (Mode == 'edit')}">
                            <apex:inputField id="pStreet" styleClass="bfobootstrapv1 form-control"  value="{!DashboardInfo.AccountInfo.PLStreet__c}" ></apex:inputField>
                        </apex:variable>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLShowInPartnerLocatorForced__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <apex:variable var="lForce" value="true" rendered="{! (Mode != 'edit')}">
                            <div class="checkbox checkbox-info">
                                <apex:inputCheckbox id="lForce1" styleClass="styled"  value="{!DashboardInfo.AccountInfo.PLShowInPartnerLocatorForced__c}"  disabled="true"/>
                                <label for="lForce1">&nbsp;</label>
                            </div>                            
                        </apex:variable>
                        <apex:variable var="lForce2" value="true" rendered="{! (Mode == 'edit')}">
                            <div class="checkbox checkbox-info">
                                <apex:inputField id="lForce1" styleClass="styled"  value="{!DashboardInfo.AccountInfo.PLShowInPartnerLocatorForced__c}" />
                                <label for="lForce1">&nbsp;</label>
                            </div>                       
                        </apex:variable>   
                    </div>
                    
                  </div>

                    <div class="bfobootstrapv1 row row-alternate">
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLAdditionalAddress__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <apex:variable var="aAddrs" value="true" rendered="{! (Mode != 'edit')}">
                            <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!DashboardInfo.AccountInfo.PLAdditionalAddress__c}"></apex:outputField>
                        </apex:variable>
                        <apex:variable var="aAddrs1" value="true" rendered="{! (Mode == 'edit')}">
                            <apex:inputField id="aAddress" styleClass="bfobootstrapv1 form-control"  value="{!DashboardInfo.AccountInfo.PLAdditionalAddress__c}" ></apex:inputField>
                        </apex:variable>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">&nbsp;</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">&nbsp;</div>
                  </div>

                    <div class="bfobootstrapv1 row row-alternate">
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLCity__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <apex:variable var="pCity" value="true" rendered="{! (Mode != 'edit')}">
                            <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!DashboardInfo.AccountInfo.PLCity__c}"></apex:outputField>
                        </apex:variable>
                        <apex:variable var="pCity1" value="true" rendered="{! (Mode == 'edit')}">
                            <apex:inputField id="city" styleClass="bfobootstrapv1 form-control"  value="{!DashboardInfo.AccountInfo.PLCity__c}" ></apex:inputField>
                        </apex:variable>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">&nbsp;</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">&nbsp;</div>
                    
                  </div>
                    <div class="bfobootstrapv1 row row-alternate">
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLCountry__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <apex:variable var="coun" value="true" rendered="{! (Mode != 'edit')}">
                            <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!DashboardInfo.AccountInfo.PLCountry__c}"></apex:outputField>
                        </apex:variable>
                        <apex:variable var="coun1" value="true" rendered="{! (Mode == 'edit')}">
                            <apex:inputField id="contry" styleClass="bfobootstrapv1 form-control"  value="{!DashboardInfo.AccountInfo.PLCountry__c}" ></apex:inputField>
                        </apex:variable>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">&nbsp;</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">&nbsp;</div>
                  </div>

                    <div class="bfobootstrapv1 row row-alternate">
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLStateProvince__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <apex:variable var="sProvince" value="true" rendered="{! (Mode != 'edit')}">
                            <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!DashboardInfo.AccountInfo.PLStateProvince__c}"></apex:outputField>
                        </apex:variable>
                        <apex:variable var="sProvince1" value="true" rendered="{! (Mode == 'edit')}">
                            <apex:inputField id="state" styleClass="bfobootstrapv1 form-control"  value="{!DashboardInfo.AccountInfo.PLStateProvince__c}" ></apex:inputField>
                        </apex:variable>
                    
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">&nbsp;</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">&nbsp;</div>
                  </div>

                    <div class="bfobootstrapv1 row row-alternate">
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLZipCode__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <apex:variable var="zCode" value="true" rendered="{! (Mode != 'edit')}">
                            <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!DashboardInfo.AccountInfo.PLZipCode__c}"></apex:outputField>
                        </apex:variable>
                        <apex:variable var="zCode1" value="true" rendered="{! (Mode == 'edit')}">
                            <apex:inputField id="zipCode" styleClass="bfobootstrapv1 form-control"  value="{!DashboardInfo.AccountInfo.PLZipCode__c}" ></apex:inputField>
                        </apex:variable>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">&nbsp;</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-3">&nbsp;</div>
                  </div> 

                    <apex:variable var="cName" value="true" rendered="{! (Mode != 'edit')}">
                    <div class="bfobootstrapv1 row row-alternate" >
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLMarketServed__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-9" style="padding:12px 12px">
                        <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!DashboardInfo.AccountInfo.PLMarketServed__c}"></apex:outputField>
                    </div>
                  </div>
                  </apex:variable>
                  <apex:variable var="cName" value="true" rendered="{! (Mode == 'edit')}">
                    <div class="bfobootstrapv1 row row-alternate" style="height:134px">
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLMarketServed__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-9" style="padding:3px 12px">
                        <apex:inputField id="cmpMktSer" styleClass="bfobootstrapv1 form-control"  value="{!DashboardInfo.AccountInfo.PLMarketServed__c}" html-disabled="disabled" ></apex:inputField>
                    </div>
                  </div>
                  </apex:variable>
                <apex:variable var="cName" value="true" rendered="{! (Mode != 'edit')}">
                  <div class="bfobootstrapv1 row row-alternate">
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLDomainsOfExpertise__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-9" style="padding:12px 12px">
                        <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!DashboardInfo.AccountInfo.PLDomainsOfExpertise__c}"></apex:outputField>
                    </div>
                  </div>
                  </apex:variable>
                  <apex:variable var="cName" value="true" rendered="{! (Mode == 'edit')}">
                  <div class="bfobootstrapv1 row row-alternate" style="height:134px">
                    <div class="bfobootstrapv1 col-md-3">
                        <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.PLDomainsOfExpertise__c.Label}</label>
                    </div>
                    <div class="bfobootstrapv1 col-md-9" style="padding:3px 12px">
                        <apex:inputField id="cmpMktSer" styleClass="bfobootstrapv1 form-control"  value="{!DashboardInfo.AccountInfo.PLDomainsOfExpertise__c}" html-disabled="disabled" ></apex:inputField>
                    </div>
                  </div>
                  </apex:variable>
                </div>                  
            </div>
            </apex:outputPanel>
            </apex:form>
        </apex:define>
    </apex:composition>
</apex:page>