<apex:page standardController="RequirementCatalog__c" extensions="VFC_AddRemoveRequirementCertifications">
<apex:form >
    <apex:pageBlock rendered="{!hasError}">
        <br/>
        <apex:pageMessages />
        <Center>
        <apex:commandButton value="{!$Label.CL00267}" action="{!cancel}" />
        <br/> 
         
        </Center>
         
    </apex:pageBlock>
    
        <apex:pageBlock title="Select Target Certifications"  rendered="{!NOT(hasError)}">
        
        <apex:pageBlockSection columns="1">
        <apex:outputPanel id="RequirementCertification" >
            <c:C_MultiSelectPicklists leftLabel="Certifications"
                leftOptins="{!allCert}"
                rightLabel="Selected Certification"
                rightOptins="{!selCert}"
                size="14"
                width="150px" />
            </apex:outputPanel>
            
            </apex:pageBlockSection>
            <apex:pageBlockButtons >
                <apex:commandButton value="Save" action="{!updateRequirementCertification}"/>
                <apex:commandButton value="Cancel" action="{!cancel}" immediate="true"/>                
            </apex:pageBlockButtons>
        </apex:pageBlock>
   
        
</apex:form>
</apex:page>