<apex:page sidebar="false" showheader="false" 
    controller="VFC_Calendar"
    cache="true" expires="600"
    standardStylesheets="false">
<html>
    <head>
        
        <apex:includeScript value="{!URLFOR($Resource.underscore_1_5_1_js, 'underscore_1_5_1.js')}" />
        <apex:includeScript value="{!URLFOR($Resource.jquery_and_jqueryui_and_fullcalendar, 'jquery-1.8.2.min.js')}" />
        
        <apex:includeScript value="{!URLFOR($Resource.jquery_and_jqueryui_and_fullcalendar, 'jquery.mobile-1.2.0.min.js')}" />
        <link rel="stylesheet" href="{!URLFOR($Resource.jquery_and_jqueryui_and_fullcalendar, 'jquery.mobile-1.2.0.min.css')}" />
        
        <link rel="stylesheet" href="{!URLFOR($Resource.jquery_and_jqueryui_and_fullcalendar, 'fullcalendar/fullcalendar-1.6.2.css')}" />
        <apex:includeScript value="{!URLFOR($Resource.jquery_and_jqueryui_and_fullcalendar, 'fullcalendar/fullcalendar-1.6.2.js')}" />
        
        <apex:includeScript value="{!URLFOR($Resource.Calendar_and_dateplugins, 'lib/CookieMonster.full.js')}" />
        
        <!-- TODO - use appropriate translation of date.js or globalization plugin -->
        <apex:includeScript value="{!URLFOR($Resource.Calendar_and_dateplugins, 'lib/globalize/globalize.js' )}" />
        <apex:includeScript value="{!URLFOR($Resource.Calendar_and_dateplugins, 'lib/globalize/cultures/globalize.culture.' + lang + '.js' )}" />
        <apex:includeScript value="{!URLFOR($Resource.Calendar_and_dateplugins, 'lib/globalize/cultures/globalize.culture.' + locale + '.js' )}" />
        
        <apex:includeScript value="{!URLFOR($Resource.Calendar_and_dateplugins, 'lib/EventDayManager.full.js')}" />
        
        <title>Calendar</title>
        
        <script type='text/javascript'>
            window.Globalize.culture( ['{!locale}', '{!lang}'] );
        </script>
        
        <!-- template for the day view -->
        <script type='text/html' id='dayList_day_template'>
<li class='dayItem'><a data-theme="b" href="javascript:sforce.one.navigateToSObject('<%= evt.id %>');">
    <table><tr><td class='mlightbox <%=evt.color%>'>
        <span class='eTime'><%= ( evt.allDay ? window.Globalize.localize('allDay') : window.Globalize.format( evt.start, 't' )) %></span>
    </td>
    <td class='dayContent'>
        <span class='subject <%= ( evt.isConfirmed ? "":"notConfirmed") %>'><%= evt.title %></span>
        <span class='comment'><%= evt.description %></span>
        <span class='comment'><%= ( evt.whatId ? evt.whatName:"") %></span>
    </td></tr></table>
</a></li>
        </script>
        
        <!-- template for the day view under the month listing -->
        <script type="text/html" id='dayList_month_template'>
<li class='monthItem'><a data-theme="b" href="javascript:sforce.one.navigateToSObject('<%=evt.id%>');">
    <span class='mlight <%=evt.color%>'></span>
    <span class='eTime'><%= ( evt.allDay ? window.Globalize.localize('allDay') : window.Globalize.format( evt.start, 't' )) %></span>
    <span class='subject <%= ( evt.isConfirmed ? "":"notConfirmed") %>'><%= evt.title %></span>
</a></li>
        </script>
        
        <!-- page specific resources -->
        <apex:includeScript value="{!URLFOR($Resource.Calendar_and_dateplugins, 'app/page/IC_Calendar.js')}" />
        <link rel="stylesheet" href="{!URLFOR($Resource.Calendar_and_dateplugins, 'style/icon.css')}" />
        <link rel="stylesheet" href="{!URLFOR($Resource.Calendar_and_dateplugins, 'style/IC_Calendar.css')}" />
        
    </head>
    <body>
        <div data-role="page" data-add-back-btn="true" data-theme="b" id="calendarPage">
            <!-- header could be a component -->
            <div data-role="header" data-position="fixed" data-theme="b" >
                <!-- home button -->
                <a id='monthDayToggle' href="#calendarViewPop" data-rel="popup" data-value="month" data-theme=""> <img class='ui-icon-month' width="21" height="21"/></a>
                <h2>Calendar</h2>
                <a href="javascript:location.reload();" data-role="button" data-icon="forward" data-iconpos="notext" data-theme="b" data-inline="true" width="21" height="21">Refresh</a>
               
                <!--  
                <a href="javascript:createNewTask();" data-rel="popup" data-theme="" data-transition="slideup"> <img class='ui-icon-todo' width="21" height="21"/></a>
                <a href="javascript:createNewEvent();" data-rel="popup" data-theme="" data-transition="slideup"> <img class='ui-icon-event' width="21" height="21"/></a>
                -->
            </div>
            
            <div data-role="content">
                <div id='calendar' ></div>
                <ul id='dayList' data-role='listview' data-theme="f">
                </ul>
                <br></br>
                
            </div>
            
            <!--  <div data-role='footer' class='ui-bar' data-position="fixed" data-theme="a">

            </div> -->
        </div>
    </body>
</html> 
</apex:page>