<apex:page standardController="Milestone1_Project__c" extensions="VFC_COINbFO_BCAChartByMonth" showHeader="false" >
    <apex:Form >
      <apex:outputPanel rendered="False">
        <Apex:outputLabel style="font-family:Bold;color:#B10043;font-size:20px;margin-left:80px;" >{!countryProj.Forecast_Unit__c}</Apex:outputLabel>
        </apex:outputPanel>
    </apex:Form>
     
    <apex:chart width="100%" height="400" data="{!listWarpperData}" animate="true"  theme="Green" resizable="true">
     
        <apex:legend position="bottom" font="bold 14px Helvetica" />
        
        <apex:axis type="Numeric" position="left" fields="forCstBU,forCstCountry,forCstActual"  title="{!countryProj.Forecast_Unit__c}" minimum="0"  grid="true"  />
        
        <apex:axis type="Category" position="bottom" fields="theMonth"  title="{!IF(countryProj.TECH_IsForecastByMonth__c=true,'Month',IF(countryProj.TECH_IsForecastByYear__c=true,'Year','Quarter'))}"> 
         <apex:chartLabel rotate="300"/>
        </apex:axis> 
        
        <apex:lineSeries title="BU" axis="left" xField="theMonth" yField="forCstBU"
        markerType="cross" markerSize="4" >
       
          </apex:lineSeries>
         <apex:lineSeries title="Country" axis="left" xField="theMonth" yField="forCstCountry"
        markerType="circle" markerSize="4" >
        
          </apex:lineSeries>
         <apex:lineSeries title="Actual" axis="left" xField="theMonth" yField="forCstActual" markerSize="4" tips="true"  >
          <apex:chartLabel field="RevenuePercent" display="middle" rendered="true"/>
             <apex:chartTips height="20" width="120" />
         </apex:lineSeries>
       
    </apex:chart>
   
    
</apex:page>