<apex:page standardController="Offer_Lifecycle__c" extensions="VFC_COINbFO_BCAByCountryChart" showHeader="false" >
    <apex:Form >
            <apex:outPutPanel rendered="false" >
               <Apex:outputLabel style="font-family:Bold;color:#B10043;font-size:30px;margin-left:80px;" >{!Offer_Lifecycle__c.Forecast_Unit__c}</Apex:outputLabel> <br></br>
             </apex:outPutPanel>
    </apex:Form>
    <apex:chart width="1200" height="400" data="{!ForecastData}" animate="true" >
     
        <apex:legend position="bottom" font="bold 14px Helvetica" />
        
        <apex:axis type="Numeric" position="left" fields="forCstBU,forCstCountry,forCstActual"  title="{!Offer_Lifecycle__c.Forecast_Unit__c}" minimum="0"   grid="true"  dashSize="2" />
           
        <apex:axis type="Category" position="bottom" fields="theMonth"  title="Country">
         <apex:chartLabel rotate="300"/>
        </apex:axis>
           

       

        <apex:lineSeries title="BU Forecast" axis="left" xField="theMonth" yField="forCstBU"
        markerType="cross" markerSize="4" >
       
          </apex:lineSeries>
         <apex:lineSeries title="Country Forecast" axis="left" xField="theMonth" yField="forCstCountry"
        markerType="circle" markerSize="4" >
        
          </apex:lineSeries>
         <apex:lineSeries title="Actual" axis="left" xField="theMonth" yField="forCstActual" markerSize="4"    >
          <apex:chartLabel field="RevenuePercent" display="outside" rendered="true" />
             <apex:chartTips height="20" width="120"  />
         </apex:lineSeries>
         

    </apex:chart>

</apex:page>