<apex:page standardController="GCSSite__c" extensions="VFC_GCSSitesListPage" >
  
  <apex:form id="theForm">
     <apex:outputPanel >
        <apex:outputText value="{!firstname}" style="padding-left:60pc;font-weight:bold"></apex:outputText>    
        <apex:outputText value="{!lastname}" style="padding-left:10px;font-weight:bold"/>
        <apex:outputText value="{!Company}" style="padding-left:10px;font-weight:bold"/>
        </apex:outputPanel> 
       <br/> 
                     
  <apex:pageBlock title="" id="pg">
    <apex:pageBlockSection >
     <apex:pageBlockTable var="p" value="{!mem}"  id="details" >
            <apex:column headerValue="Account" value="{!p.Account__c}" />
            <apex:column headerValue="Site Name" value="{!p.Name}"/>
            <apex:column headerValue="Active" value="{!p.Active__c}"  />
            
        </apex:pageBlockTable>
       
    </apex:pageBlockSection>
    <br/><br/>
        <apex:commandButton value="Previous" action="{!previous}" reRender="pg" disabled="{!prevBool}"/>
        <apex:commandButton value="Next" action="{!next}" reRender="pg" disabled="{!nextBool}"/> 
</apex:pageBlock>
  </apex:form> 
  
</apex:page>