<apex:page standardController="RIT_FinancialEnv__c" sidebar="false">
  <apex:form >
        <apex:sectionHeader title="{!$ObjectType.RIT_FinancialEnv__c.label}" subtitle="{!RIT_FinancialEnv__c.Name}"/>
                <!-- DISPLAYS FINANCIAL ENVIRONMENT DETAILS -->
                <apex:pageBlock title="{!$ObjectType.RIT_FinancialEnv__c.label}" mode="detail">
                        <apex:pageBlockButtons >
                            <apex:commandButton action="{!save}"  value="{!$Label.CL00017}"/>
                            <apex:commandButton action="{!cancel}"  value="{!$Label.CL00010}"/>
                        </apex:pageBlockButtons>
                        
                        <apex:pageblockSection title="{!$Label.CL00672}" columns="2"><br/>
                            <apex:inputField value="{!RIT_FinancialEnv__c.QuoteLink__c}"/>
                        </apex:pageblockSection>
                        <apex:actionRegion >
                        <apex:outputPanel id="finAssessment">
                            <apex:pageblockSection title="{!$Label.CL00197}" columns="2">
                                <apex:inputField value="{!RIT_FinancialEnv__c.ClientAccountNewCustomer__c}"/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.QualifyFinancialSituationOfClient__c}"/>
                                <br/>
                                <apex:outputField value="{!RIT_FinancialEnv__c.CreditRatingTxt__c}"/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.ClientAccountAlreadyCustomer__c}"/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.CommentsOnFinAss__c}"/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.ProjectInnovativeFinance__c}" required="true">
                                    <apex:actionSupport id="finAssess" event="onchange" rerender="finAssessment"/>
                                </apex:inputField>
                                <br/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.CompanyReqFinancingProposal__c}" rendered="{!IF(RIT_FinancialEnv__c.ProjectInnovativeFinance__c=='Yes', true, false)}" style="width:50%"/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.TypeOfFinancialProposal__c}" rendered="{!IF(RIT_FinancialEnv__c.ProjectInnovativeFinance__c=='Yes', true, false)}" style="width:50%"/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.DeadlineFinancialProposal__c}" rendered="{!IF(RIT_FinancialEnv__c.ProjectInnovativeFinance__c=='Yes', true, false)}" style="width:50%"/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.ExpectedDurFinProposal__c}" rendered="{!IF(RIT_FinancialEnv__c.ProjectInnovativeFinance__c=='Yes', true, false)}"/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.ReasonsClientFinProposal__c}" rendered="{!IF(RIT_FinancialEnv__c.ProjectInnovativeFinance__c=='Yes', true, false)}"/>
                            </apex:pageblockSection>
                        </apex:outputPanel>
                        </apex:actionRegion>
                        <apex:actionRegion >
                        <apex:outputPanel id="countryRisk">
                            <apex:pageblockSection title="{!$Label.CL00198}" columns="2">
                                <apex:inputField value="{!RIT_FinancialEnv__c.ClientOverseaEntity__c}" required="true">
                                    <apex:actionSupport id="cntryRisks" event="onchange" rerender="countryRisk"/>
                                </apex:inputField>
                                <br/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.IfMediumOrHighHasRiskBeenCoveredNew__c}" rendered="{!IF(RIT_FinancialEnv__c.ClientOverseaEntity__c=='Yes', true, false)}"/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.ExportCountryRestriction__c}" rendered="{!IF(RIT_FinancialEnv__c.ClientOverseaEntity__c=='Yes', true, false)}" required="true"/>                            
                            </apex:pageblocksection>
                        </apex:outputPanel>
                        </apex:actionRegion>
                        <apex:actionRegion >
                        <apex:outputPanel id="termsOfPayment">
                            <apex:pageblockSection title="{!$Label.CLAPR14SLS51}" columns="2">
                                <apex:inputField value="{!RIT_FinancialEnv__c.DownpaymentCashFlow__c}" required="true"/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.ProjGrossAboveMinMargin__c}" required="true"/>
                                <apex:outputField value="{!RIT_FinancialEnv__c.DownPaymentCashFlowTxt__c}" />
                                <br/>
                                <apex:outputField value="{!RIT_FinancialEnv__c.TermsAndMeansTxt__c}" />
                                <br/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.PaymentTermsRequestByClient__c}"/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.PaymentTermsClient__c}" style="width:100%"/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.PaymentTermsSecured__c}" required="true" >
                                    <apex:actionSupport id="paymentSecured" event="onchange" rerender="termsOfPayment"/>
                                </apex:inputField>
                                <br/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.IfOtherPleaseSpecify__c}" style="width:50%"/>
                                <br/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.PercentSellingPrice__c}" rendered="{!OR(CONTAINS(RIT_FinancialEnv__c.PaymentTermsSecured__c,"Documentary Credit"), CONTAINS(RIT_FinancialEnv__c.PaymentTermsSecured__c,"Stand-by Letter of Credit"), CONTAINS(RIT_FinancialEnv__c.PaymentTermsSecured__c,"Revolving Letter of Credit"))}"/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.LCWordingApproved__c}" rendered="{!OR(CONTAINS(RIT_FinancialEnv__c.PaymentTermsSecured__c,"Documentary Credit"), CONTAINS(RIT_FinancialEnv__c.PaymentTermsSecured__c,"Stand-by Letter of Credit"), CONTAINS(RIT_FinancialEnv__c.PaymentTermsSecured__c,"Revolving Letter of Credit"))}"/>
                                <br/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.CommentsLC__c}" rendered="{!OR(CONTAINS(RIT_FinancialEnv__c.PaymentTermsSecured__c,"Documentary Credit"), CONTAINS(RIT_FinancialEnv__c.PaymentTermsSecured__c,"Stand-by Letter of Credit"), CONTAINS(RIT_FinancialEnv__c.PaymentTermsSecured__c,"Revolving Letter of Credit"))}" style="width:100%;height:100%;"/>
                                <br/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.PerCoveredCreditIns__c}" rendered="{!CONTAINS(RIT_FinancialEnv__c.PaymentTermsSecured__c,"Credit Insurance")}"/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.NameOfInsuranceComp__c}" rendered="{!CONTAINS(RIT_FinancialEnv__c.PaymentTermsSecured__c,"Credit Insurance")}"/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.RisksCreditInsurance__c}" rendered="{!CONTAINS(RIT_FinancialEnv__c.PaymentTermsSecured__c,"Credit Insurance")}"/>
                                
                            </apex:pageblockSection>
                        </apex:outputPanel>
                        </apex:actionRegion>
                        <apex:actionRegion >
                        <apex:outputPanel id="bondGuarantee">
                            <apex:pageblockSection title="{!$ObjectType.RIT_BankGuarantee__c.labelplural}" columns="2">  
                                <apex:inputField value="{!RIT_FinancialEnv__c.BankGuarnteeReqClinet__c}">
                                    <apex:actionsupport id="bonds" event="onchange" rerender="bondGuarantee"/>
                                </apex:inputField>
                                <br/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.IsAnExpiryDateIncludedInWordingNew__c}" rendered="{!RIT_FinancialEnv__c.BankGuarnteeReqClinet__c=='Yes'}" />
                                <br/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.BondsBankGuaranteeApproved__c}" rendered="{!RIT_FinancialEnv__c.BankGuarnteeReqClinet__c=='Yes'}"/>
                                <br/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.SuretyBondClient__c}" rendered="{!RIT_FinancialEnv__c.BankGuarnteeReqClinet__c=='Yes'}"/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.CommentSuretyBond__c}" rendered="{!RIT_FinancialEnv__c.BankGuarnteeReqClinet__c=='Yes'}" style="width:100%;height:100%;"/>                           
                            </apex:pageblockSection>
                        </apex:outputPanel>
                        </apex:actionRegion>
                        
                        <apex:pageblockSection title="{!$Label.CL00199}" columns="2">
                            <apex:inputField value="{!RIT_FinancialEnv__c.ParentCompanyGuaranteeRequired__c}" required="true"/>
                            <apex:inputField value="{!RIT_FinancialEnv__c.IfYesPleaseCommentOnParentCompany__c}" style="width:50%"/>                 
                        </apex:pageblockSection>    
                        <apex:actionRegion >
                        <apex:outputPanel id="hedging">
                            <apex:pageblockSection title="{!$Label.CL00200}" columns="2">
                                <apex:inputField value="{!RIT_FinancialEnv__c.ProtectedRawMaterial__c}" required="true"/>                            
                                <apex:inputField value="{!RIT_FinancialEnv__c.NewAndForRawMaterial__c}" style="width:50%"/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.IsThereAnExchangeRisk__c}" required="true">
                                    <apex:actionsupport id="hedge" event="onchange" rerender="hedging"/>
                                </apex:inputField>
                                <br/>
                                <apex:inputField value="{!RIT_FinancialEnv__c.DetailOnCurrencyRiskIfItsHedged__c}" rendered="{!RIT_FinancialEnv__c.IsThereAnExchangeRisk__c=='Yes'}" style="width:50%"/>                            
                                <apex:inputField value="{!RIT_FinancialEnv__c.ProtectionAgainstFOREXDuringExec__c}" rendered="{!RIT_FinancialEnv__c.IsThereAnExchangeRisk__c=='Yes'}"/>
                            </apex:pageblockSection> 
                        </apex:outputPanel>
                        </apex:actionRegion>
                         
       </apex:pageBlock>                   
  </apex:form>  
</apex:page>