<apex:page standardController="SVMXC__Service_Contract__c" extensions="VFC_CreateOpptyFromContract">

<style>
body .bPageBlock .pbBody .blue .pbSubheader{
    font-size: 14px;
    border-color: #32A3D0;
    border-width: 1px;
    border-style: solid;
    background-color: #32A3D0; }   
 </style>

    <apex:form >
        <apex:pageBlock >
        <apex:pagemessages > </apex:pagemessages>
          <apex:outputPanel styleClass="blue" >
            <apex:pageBlockSection collapsible="false" title="Create Opportunity from Service/Maintenance Contract 
                                                                ({!$ObjectType.SVMXC__Service_Contract__c.fields.Name.Label}: {!SVMXC__Service_Contract__c.Name})"> 
                <apex:selectlist value="{!OpportunitySource}" multiselect="false" size="1" label="Opportunity Source">
                 <apex:selectOptions value="{!items}" />
                    </apex:selectlist>
               
                <br/>
            </apex:pageBlockSection>
          </apex:outputPanel>
        </apex:pageBlock>
           <apex:pageBlock >
             <apex:pageblockButtons location="top">
                <apex:commandButton value="Save" action="{!CreateOppty}"/>
                <apex:commandButton value="Cancel" action="{!cancel}"/>
             </apex:pageblockButtons>
           </apex:pageBlock>
    </apex:form>
  
</apex:page>