<apex:page showHeader="false" sidebar="false">
<apex:composition template="VFP_CassiniHeaderTemplate"> 
    <apex:define name="Header"></apex:define>
</apex:composition>
<br/><br/>
<apex:outputPanel id="MissingAttRpt" >
    <apex:iframe src="/cassini/{!$Label.CLJUN16CSN110}?isdtp=lt" scrolling="true"/>
</apex:outputPanel>
<br/><br/>
<apex:composition template="VFP_CassiniFooterTemplate">
<apex:define name="Footer"></apex:define>
</apex:composition>
</apex:page>