<apex:page controller="VFC_PAInvensysCaseEmailAddress" action="{!emailCaseAccount}" sidebar="false" showHeader="false">
  <script src="{!URLFor($Resource.PA_ResourceFile,'PA-Resource/Jquery/Jquery.js')}" />
  <script>
    console.clear();
    function copyText(text){
      //alert('inside');
      function selectElementText(element) {
        if (document.selection) {
          var range = document.body.createTextRange();
          range.moveToElementText(element);
          range.select();
        } else if (window.getSelection) {
          var range = document.createRange();
          range.selectNode(element);
          window.getSelection().removeAllRanges();
          window.getSelection().addRange(range);
        }
      }
      var element = document.createElement('DIV');
      element.textContent = text;
      document.body.appendChild(element);
      selectElementText(element);
      document.execCommand('copy');
      $(element).remove();
    }
    function copyIt(txt) {
      window.clipboardData.setData('Text', txt);
    }

    function getCopiedStuff() {
      return window.clipboardData.getData('Text');
    }
     function getParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, "\\$&");
                var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, " "));
            }
        
       
    window.onload = function () {
        /* var caseId=getParameterByName('Id');
          var accountId=getParameterByName('AccountId');
        VFC_PAInvensysCaseEmailAddress.emailCaseAndAccount( 
        caseId, accountId,
        function(results, event) { 
           if(event.type === 'exception'){
                 console.log("exception"); 
                 console.log(event);
           }else if(event.status){ 
              
                   console.log(event.status);
                   console.log(result);
                    
               
           }else{ 
               console.log(event.message);
           }
        } );*/
     // var wrapperObj ={!StrCaseEmailaddress };
      
      var txtcase = document.getElementById('txtcase');

      var txtaccount= document.getElementById('txtAccount');
      var btnn = document.getElementById('btn');
      var CaseEmailId = document.getElementById('CaseEmailId');

      var EmployeeEmailId=document.getElementById('EmployeeEmailId');
    //alert(btnn);
      var isIE = /*@cc_on!@*/false || !!document.documentMode;
      //if(!isIE ){
        btnn.addEventListener('click', function(){
          CaseEmailId.innerHTML ='Copy';
          EmployeeEmailId.innerHTML ='Copy';
          btn.innerHTML  ='Copied All'
          copyText(txtcase.value+';'+txtaccount.value);
        }) 
        CaseEmailId.addEventListener('click', function(){
          CaseEmailId.innerHTML ='Copied';
          EmployeeEmailId.innerHTML ='Copy';
          btn.innerHTML  ='Copy All'
          copyText(txtcase.value);
        }) 
        EmployeeEmailId.addEventListener('click', function(){
            CaseEmailId.innerHTML ='Copy';
            EmployeeEmailId.innerHTML ='Copied';
            btn.innerHTML  ='Copy All'
          copyText(txtaccount.value);
        }) 
      /*}

      else{
        btnn.attachEvent("onclick", function(){
          copyIt(txtcase.value+';'+txtaccount.value);
        });
        btnn.attachEvent("onclick", function(){
          copyIt(txtcase.value);
        });
        EmployeeEmailId.attachEvent("onclick", function(){
          copyIt(txtaccount.value);
        });
      }*/
    }
    $(function() {
   $('a.link').click(function() {
       $('a.link').removeClass('active');
       $(this).addClass('active');
   });
  });
  </script>
  <style>
    #copy-me {
        display:none;
    }
    textarea{
        padding:10px;
        border-radius:4px;
        box-shadow:inset 0 0 4px #dadada;
    }
    h1{float:left; width:100%; margin:20px 0 5px 0; font-size:24px;}
    /*#btn, #CaseEmailId, #EmployeeEmailId{float:left; margin:0 15px 0 0; padding:10px 20px; background:#3DCD58; color//:white; border:1px solid #40B756;}-->
  #btn:hover, #CaseEmailId:hover, #EmployeeEmailId:hover,#btn:focus, #CaseEmailId:focus, #EmployeeEmailId:focus{background:#40B756;}*/
     a, a:visited { color:#1a0dab;cursor:pointer }
     a.link.active { color:#609;
     cursor:pointer }
  </style>
  <div style="width:60%; margin:0 auto;">
  <h1> Case Subscriber</h1>
      <textarea id="txtcase" rows="10" style="width:100%">{!StrCaseEmailaddress }</textarea><br/>
      <a id="CaseEmailId" class="link">Copy </a>
     <h1> Employees</h1>   
      <textarea id="txtAccount" rows="10" style="display: block;margin: 20px 0; width: 100%;">{!StrAccountEmailaddress }</textarea>
      <input id="txt"  type="hidden" value="Mad World!" />
      <a id="EmployeeEmailId" class="link">Copy </a> &nbsp;|
      <a id="btn" class="link" >Copy All</a>
      
      
    </div>
</apex:page>