<apex:page id="portalUserProfilePage" controller="VFC_SRV_MYFsPersonalInformatinController" showHeader="false" title="{!$Label.site.my_profile_page}" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">
  <!--<apex:composition template="{!$Site.Template}">-->

<!--[if lt IE 7 ]> 
<html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    
<html class="ie8 lazy" lang="en"> <![endif]-->
<!--[if IE 8 ]>    
<html class="ie8 lazy" lang="en"> <![endif]-->
<!--[if IE 9 ]>    
<html class="ie9 lazy" lang="en"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
<!--html lang="en" class="lazy"-->
  <html>
  <!--<![endif]-->
    <head>
    <title> {!$Label.CLSRVMYFS_TITLE_PROFILE_PAGE}</title>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
<link rel="shortcut icon" type="image/ico" href="{!URLFOR($Resource.SRV_myFS, 'common/css/img/favicon.ico')}"/>
<apex:composition template="VFP_SRV_MyFSHeaderMeta"></apex:composition>
<script type="text/javascript" src="{!URLFOR($Resource.SRV_myFS, 'js/select-account.js')}"></script>
<script type="text/javascript" src="{!URLFOR($Resource.SRV_myFS, 'js/form.js')}"></script>
<script type="text/javascript" src="{!URLFOR($Resource.SRV_myFS, 'js/d3.min.js')}"></script>
<!--<script type='text/javascript' src='//tagmanager.schneider-electric.com/myfs/configuration-stat.js'></script> -->
    </head>
    <body id="profil-page">
    <div id="page">
    <c:VFC_SRV_MyFSHeader />
    <div class="wrap-content">
<div id="profil-wrapper" class="wrapper">
    <h1>{!$Label.CLSRVMYFS_YOURPROFILE}</h1>
    <div class="profil-content">
        <div class="main-content">
            <ul><li>
                    <h3>{!$Label.CLSRVMYFS_YOURINFORMATION}</h3>
                    <dl><dt>{!$Label.CLSRVMYFS_TITLE}</dt>
                        <dd>{!user.Title}</dd>
                        <dt>{!$Label.CLSRVMYFS_PHONE}</dt>
                        <dd>{!user.phone}</dd>
                        <dt>{!$Label.CLSRVMYFS_FIRSTNAME}</dt>
                        <dd>{!user.firstName}</dd>
                        <dt>{!$Label.CLSRVMYFS_EXTENSIONS}</dt>
                        <dd>{!user.extension}</dd>
                        <dt>{!$Label.CLSRVMYFS_LASTNAME}</dt>
                        <dd>{!user.lastName}</dd>
                        <dt>{!$Label.CLSRVMYFS_FAX}</dt>
                        <dd>{!user.fax}</dd>
                    </dl>
                    <dl class="full-width">
                        <dt>{!$Label.CLSRVMYFS_EMAIL}</dt>
                        <dd>{!user.email}</dd>
                    </dl>
                    <dl class="full-width">
                        <dt>{!$Label.CLSRVMYFS_CELL}</dt>
                        <dd>{!user.mobilephone}</dd>
                    </dl>
                </li>
                <li>
                    <h3>{!$Label.CLSRVMYFS_YOURADDRESS}</h3>
                    <dl><dt>{!$Label.CLSRVMYFS_STREET}</dt>
                        <dd>{!user.street}</dd>
                        <dt>{!$Label.CLSRVMYFS_ZIPPOSTALCODE}</dt>
                        <dd>{!user.postalcode}</dd>
                        <dt>{!$Label.CLSRVMYFS_CITY}</dt>
                        <dd>{!user.city}</dd>
                        <dt>{!$Label.CLSRVMYFS_STATEPROVINCE}</dt>
                        <dd>{!user.state}</dd>
                        <dt>{!$Label.CLSRVMYFS_PERSONALCOUNTRY}</dt>
                        <dd>{!user.country}</dd>
                    </dl></li>
                <li>
                    <h3>{!$Label.CLSRVMYFS_YOURPREFERENCS}</h3>
                    <dl><dt>{!$Label.CLSRVMYFS_TIMEZONE}</dt>
                        <dd>{!user.timezonesidkey}</dd>
                        <dt>{!$Label.CLSRVMYFS_LANGUAGE}</dt>
                        <dd><apex:outputtext value="{!user.languagelocalekey}"/></dd>
                    </dl></li>
            </ul></div>
        <div class="side-bar">
            <div class="contact-side-bar">
                <div>
                    <div class="contact-content">
                        <strong>{!$Label.CLSRVMYFS_APP_MESSAGE_FIRST_PART}</strong>
                        <div>
                            <span>{!$Label.CLSRVMYFS_CONTACTUSBYPHONE_PROFIL}</span>
                            <span class="tel">{!cccPhoneNo }</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
</div>
<div class="footer-container">
  <c:VFC_SRV_WebAppFooterComp ></c:VFC_SRV_WebAppFooterComp>
</div>
  <!--</apex:composition>-->   
  </div> 
  <!--<script type='text/javascript'>pageStatInjection();</script> -->
</body>
</html>
</apex:page>