<apex:page standardController="Account" extensions="VFC_ManageAccountExternalFacet">
    <apex:includeScript value="{!URLFor($Resource.ClientFrameworkLibraries,'jQuery/jquery-1.11.1.min.js')}" />
    <script>
        function buttonsEnabled(enabled) {
            var $buttons = jQuery('.btn');
            if (enabled === false) {
                $buttons.toggleClass('btnDisabled', true).attr('disabled', 'disabled');
            } 
            else {
                $buttons.toggleClass('btnDisabled', false).attr('disabled', null);
            } 
        }
        function doSomeWork() {
            doSomeWorkActionFunction();
            buttonsEnabled(false);
            return false;
        }
        function callCancel(){
            callCancelMethodinClass();
            buttonsEnabled(false);
            return false;
        }
    </script>
    <apex:form id="conForm">
        <apex:pageMessages id="controllerMessage" />
        <apex:pageBlock id="conBlock">
            <apex:pageBlockButtons location="top">
                <apex:actionRegion >
                    <apex:commandButton id="Cancel" value="Back" immediate="true" onclick="return callCancel();" rendered="{!NOT(PrimaryChangeIsSucess)}"/>
                    <apex:commandButton id="Continue" value="Continue" immediate="true" onclick="return callCancel();" rendered="{!PrimaryChangeIsSucess}"/>                                                      
                    <apex:actionFunction name="callCancelMethodinClass" action="{!goToManageExternalFacetPage}"/>
                    <apex:actionFunction name="doSomeWorkActionFunction" action="{!primaryConChangeReg}"/>
                </apex:actionRegion>
            </apex:pageBlockButtons>
            <apex:pageBlockSection id="conSection" columns="2" title="List Of Contacts">
                <apex:pageBlockSectionItem >
                    <!-- <apex:outputLabel value="Contacts" /> -->
                    <apex:outputPanel >Contacts &nbsp;&nbsp;&nbsp;&nbsp;
                    <apex:selectList value="{!NewPrimaryContactId}" multiselect="false" size="1" id="ConId">
                        <apex:selectOptions value="{!ContactsSelectList}"/>
                    </apex:selectList>&nbsp;&nbsp;
                    <apex:actionRegion >
                        <apex:commandButton id="updatecon" value="Update Primary" immediate="true" onclick="return doSomeWork();"/>
                    </apex:actionRegion>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>