<apex:page standardcontroller="PackageTemplate__c" extensions="VFC_AddProductforContract" showHeader="true" sidebar="false" id="page">
 <script src="{!URLFor($Resource.jQueryLatest,'jquery1.9.1.js')}" type="text/javascript" />
    <link href="{!URLFor($Resource.drilldown,'drilldownmenu.css')}" rel="stylesheet" type="text/css"/>
    <script src="{!URLFor($Resource.drilldown,'drilldownmenu.js')}" type="text/javascript" />
    <script src="{!URLFor($Resource.datatables)}" type="text/javascript" />
    <script src="{!URLFor($Resource.JSON)}" type="text/javascript" />
    <style>
        .Business,.ProductLine,.ProductFamily,.Family{
            width:280px;
        }
        .borderTable{  
            padding: 2px 4px 2px 4px;
            border: 1px solid  #707070;
            border-collapse:collapse;
            background-color: #F8F8F8; 
        }
        .link:hover {
            font-weight: normal;
            color: #015ba7;
            text-decoration: underline;
        }
        .link {
            text-decoration: none;
            color: #015ba7 !important;
        }
        .dataTables_paginate {
            float: left !important;
            text-align: center !important;
            width: 100% !important;
            padding-top:10px;
        }
        .dataTables_paginate a,.dataTables_paginate a:hover{
            cursor:pointer;
            color:#000;
        }
        .dataTables_info{
            display:inline;
        }
        a.paginate_button{
            padding: 2px 5px;
            font-size:9px;
        }
        .sorting_asc {    
            background:url(/img/alohaSkin/sortArrows_sprite.png) no-repeat 100% 20% !important;
        }
        table.list th{
            cursor:pointer;
        }

        .sorting_desc {    
            background:url(/img/alohaSkin/sortArrows_sprite.png) no-repeat 100% -20% !important;
        }

        .picklistlabels{
            padding-top:5px;
        }
    </style> 
    <div id="Blanket" style="Z-INDEX: 1; display:none; position:absolute; left:1px; top:1px;  width:100%;  height:100%; background-color:#505050; filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;" />
    <center>
        <div id="loading" align="center" style="Z-INDEX: 3; margin:0 auto; align:center; display:none; margin-left:-40px; left:50%; top:200px; position: absolute; width: 50; height:10; opacity:1;filter:alpha(opacity=100)">
            <table border="1" cellpadding="0" cellspacing="0" class="borderTable"> 
                <tr>
                <td align="left" valign="top">
                    <table border="0" cellpadding="4" cellspacing="0" style="width: 100%; height: 100%">
                        <tr>
                        <td>
                            <img src="{!$Resource.STR014_ProgressBar}"/></td>
                        <td>
                            &nbsp;<apex:outputtext value="Loading" style="font-face:verdana;font-size:90%; color:#444444;font-weight:bold;"/></td>
                        </tr>
                    </table>
                </td>
                </tr>
            </table>
        </div>
    </center>
    <apex:pageMessages id="contractPageMessages" />
    <apex:sectionHeader title="Package Template" subtitle="Add Related Product(s)" description="You can select the commercial reference of the product(s) related to the package template, or the Family which includes it." />
    <apex:pageMessages id="casePageMessages" />
    
    <apex:outputPanel layout="block"  >
        <apex:form id="form" >
                        
            <apex:actionFunction action="{!performCheckbox}" name="performCheckbox" onComplete="unlockScreen();" >
               <apex:param assignTo="{!jsonSelectString}" name="jsonSelectString" value="" />
            </apex:actionFunction>
            
            <apex:actionFunction action="{!pageCancelFunction}" name="pageCancelFunction" />
                    
            <apex:outputPanel layout="block" styleClass="GmrTimer">            
            </apex:outputPanel>
            <apex:outputPanel layout="block">
                <apex:pageBlock id="block" title="Search in PM0">
                    <apex:pageBlockButtons location="bottom" style="padding-left:164px">                                                                         
                        <input type="button" id="Search" value="Search" class="btn"  />
                        <input type="button" id="Cancel" value="Cancel" class="btn" onClick="pageCancelFunction()" />                                                        
                        <input type="button" id="gmrClearButton" class="btn" value="Clear" />
                        <input type="button" id="addButton" value="Add" class="btn" />
                    </apex:pageBlockButtons>
                    <apex:outputPanel layout="block" id="errorMsg">
                    </apex:outputPanel>
                    <apex:pageBlockSection collapsible="false" id="section" columns="2">          
                        <!-- Row1 -->                                  
                        <apex:pageblockSectionItem dataStyle="text-align:center">
                            <apex:outputLabel ><h2>Search Criteria</h2></apex:outputLabel>
                        </apex:pageblockSectionItem>
                        <apex:pageblockSectionItem dataStyle="padding-left:165px">
                            <apex:outputLabel ><h2>Search Filters</h2></apex:outputLabel>                                
                        </apex:pageblockSectionItem>                              
                        
                        <!-- Row2 -->
                        <apex:pageblockSectionItem dataStyle="text-align:center">
                            <apex:outputPanel layout="SearchBlock">
                                <apex:outputPanel layout="SearchBlock">
                                    <apex:inputText styleClass="searchText" value="{!scriteria}" id="searchText" size="50">
                                    </apex:inputText>
                                    <span class="helpButton" style="position:relative;padding-left:1px;">
                                        <img src="/s.gif" title="{!$LABEL.CLAPR14CCC20}" class="helpOrb" />
                                    </span>                                
                                   <!-- <apex:outputPanel id="specialfilters" style="position:relative;text-align:center;left:24%">
                                        <table style="border-collapse:collapse;text-align:left;" border="0">
                                            <tr>
                                                <td>                       
                                                    <input type="checkbox" id="commsearch" name="commsearch" onClick="checkboxclickforsearch(this)" />
                                                </td>
                                                <td>                            
                                                    {!$LABEL.CLAPR14CCC15}
                                                </td>
                                            </tr>    
                                            <tr>
                                                <td>                       
                                                    <input type="checkbox" id="exactmatch" name="exactmatch" onClick="checkboxclickforexact(this)" />
                                                </td>
                                                <td>                            
                                                    {!$LABEL.CLAPR14CCC16}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <hr size="1" width="100%"/>
                                                </td>
                                                <td>                       
                                                    <hr size="1" width="110%"  align="left" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>                       
                                                    <input type="checkbox" id="excludeGDP" name="excludeGDP" />
                                                </td>
                                                <td>                            
                                                    {!$LABEL.CLAPR14CCC01}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>                       
                                                    <input type="checkbox" id="excludeDocs" name="excludeDocs" />
                                                </td>
                                                <td>                            
                                                    {!$LABEL.CLAPR14CCC02}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>                       
                                                    <input type="checkbox" id="excludeSpares" name="excludeSpares" />
                                                </td>
                                                <td>                            
                                                    {!$LABEL.CLAPR14CCC06}
                                                </td>
                                            </tr>
                                        </table>                    
                                    </apex:outputPanel>-->
                                </apex:outputPanel>
                            </apex:outputPanel>
                        </apex:pageblockSectionItem>
                        <apex:pageblockSectionItem >  
                            <apex:outputPanel layout="block">
                                <table>
                                    <tr>
                                        <td class="picklistlabels"><apex:outputLabel for="Business"><h2>Business</h2></apex:outputLabel></td>
                                        <td><select id="Business" class="Business"></select></td>
                                    </tr>  
                                    <tr>
                                        <td class="picklistlabels"><apex:outputLabel for="ProductLine"><h2>Product Line</h2></apex:outputLabel></td>
                                        <td><select id="ProductLine" class="ProductLine"></select></td>
                                    </tr>  
                                    <tr>
                                        <td class="picklistlabels"><apex:outputLabel for="ProductFamily"><h2>Product Family</h2></apex:outputLabel></td>
                                        <td><select id="ProductFamily" class="ProductFamily"></select></td>
                                    </tr>                                          
                                    <tr>
                                        <td class="picklistlabels"><apex:outputLabel for="Family"><h2>Family</h2></apex:outputLabel></td>
                                        <td><select id="Family" class="Family"></select></td>
                                    </tr>                                          
                                </table>
                            </apex:outputPanel>
                        </apex:pageblockSectionItem>                               
                    </apex:pageBlockSection>
                </apex:pageBlock>    
            </apex:outputPanel>
            <div id="myinput" style="display:none">                                  
               <apex:inputHidden value="{!gmrcode}" id="gmrcode" />
            </div>
            
             <div class="xyz">
                <div class="xy"></div>
                <br/><br/>
            </div>
            
            <div id="resultWrapper">
           
                
            </div>            
        </apex:form>
    </apex:outputPanel>
    
   <!--
        Search box and picklists
    -->
    <script type="text/javascript">
        //should have all common scripts
        jQuery.fn.sort_select_box = function(){
            // Get options from select box
            var my_options = jQuery("." + this.attr('class') + ' option');
            // sort alphabetically
            my_options.sort(function(a,b) {
                if (a.text > b.text) return 1;
                else if (a.text < b.text) return -1;
                else return 0
            })
            //replace with sorted my_options;
            jQuery(this).empty().append( my_options );

            // clearing any selections
            jQuery("."+this.attr('class')+" option").attr('selected', false);
        }

        var businessAutoPopulationDone=false;
        var PLAutoPopulationDone=false;
        var PFAutoPopulationDone=false;
        var familyAutoPopulationDone=false;
        var searchResult=[];
        var oTable=null;
        var jsonArray=[];
                
        //timer related    
        var start = new Date;
        var stop = new Date;
        
        function startTimer(){
            start = new Date;
        }
            
        function stopTimer(){
            stop= new Date;
            jQuery('.GmrTimer').html("Time taken to search and display the results : <b>"+((stop - start) / 1000) + "</b> Seconds");
        }          
    </script>
    
    <script>    
        function getOthers(prevLevel,myvar){
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.VFC_AddProductforContract.getOthers}',prevLevel,function(result, event){
                
                if (event.status){
                   
                    var otherOptionsList='<option value="">--None--</option>';
                    for(var i in result){
                        if(result[i]['Name']!=null){
                            otherOptionsList+='<option value="'+result[i]['TECH_PM0CodeInGMR__c']+'"';
                            if(myvar.attr('id')=='Business' && {!not(isblank($CurrentPage.parameters.businessLine))} && result[i]['Name']=='{!HTMLENCODE($CurrentPage.parameters.businessLine)}'){                
                                if(!businessAutoPopulationDone){
                                    otherOptionsList+='selected=selected';         
                                    businessAutoPopulationDone=true;
                                    getOthers(result[i]['TECH_PM0CodeInGMR__c'],jQuery('#ProductLine'));
                                }
                            }
                            else if(myvar.attr('id')=='ProductLine' && {!not(isblank($CurrentPage.parameters.productLine))} && result[i]['Name']=='{!HTMLENCODE($CurrentPage.parameters.productLine)}'){
                                if(!PLAutoPopulationDone){
                                    otherOptionsList+='selected=selected';         
                                    PLAutoPopulationDone=true;
                                    getOthers(result[i]['TECH_PM0CodeInGMR__c'],jQuery('#ProductFamily'));
                                }
                            }
                            else if(myvar.attr('id')=='ProductFamily' && {!not(isblank($CurrentPage.parameters.strategicProductFamily))} && result[i]['Name']=='{!HTMLENCODE($CurrentPage.parameters.strategicProductFamily)}'){
                                if(!PFAutoPopulationDone){
                                    otherOptionsList+='selected=selected';         
                                    PFAutoPopulationDone=true;
                                    getOthers(result[i]['TECH_PM0CodeInGMR__c'],jQuery('#Family'));
                                }
                            }
                            else if(myvar.attr('id')=='Family' && {!not(isblank($CurrentPage.parameters.family))} && result[i]['Name']=='{!HTMLENCODE($CurrentPage.parameters.family)}'){
                                if(!familyAutoPopulationDone){
                                    otherOptionsList+='selected=selected';                         
                                    familyAutoPopulationDone=true;
                                }
                            }
                            otherOptionsList+='>'+result[i]['Name']+'</option>';
            
                        }
                    }
                    myvar.removeAttr('disabled');
                    myvar.html(otherOptionsList);               
                }
                else if (event.type === 'exception') {
                    unlockScreen();
                } 
                else {
                    unlockScreen();
                }
            }, 
            {escape: true});
        }
        
        function searchAjax(searchtext,code,commsearch,exactmatch,excludeGDP,excludeDocs,excludeSpares){
            lockScreen();
            startTimer();
            
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.VFC_AddProductforContract.remoteSearch}',searchtext,code,commsearch,exactmatch,excludeGDP,excludeDocs,excludeSpares,function(result, event){    
                $("#resultWrapper").html('<table style="width:100%" cellpadding="0" cellspacing="0" border="0" class="list" id="gmrresult"><thead><tr><th>Select</th><th><label>Commercial Reference</label></th><th><label>Material Description</label></th><th><label>Family</label></th><th><label>Product Family</label></th><th><label>Product Line</label></th><th><label>Business</label></th></tr></thead><tbody></tbody></table>');
                
                searchResult=result;
                if (event.status) {
                    jQuery.extend( jQuery.fn.dataTable.defaults, {
                        "bFilter": true,        
                        "bSort": true,        
                        "iDisplayLength": 25,
                        "bLengthChange": false,        
                        "sPaginationType":"full_numbers"
                    });
                    jQuery.fn.dataTableExt.oPagination.iFullNumbersShowPages=0;
                    oTable = jQuery('#gmrresult').dataTable({
                        "oLanguage": {        
                            "oPaginate": {
                                "sFirst": "<<",
                                "sLast": ">>",
                                "sPrevious": "< Previous",
                                "sNext": "Next >"
                            },
                            "sInfo": "(_START_ - _END_) of _TOTAL_",
                            "sEmptyTable": "No records to display.",
                            "sInfoEmpty": "_TOTAL_ of _TOTAL_",
                            "sSearch": "Search within Results:"
                        },                
                        "bProcessing": true,               
                        "aaData": result,
                        "aoColumns": [
                                        
                                        {"mData":function(data,type,full){return "<input type='checkbox' name='chkbox' class='cb'>";}},                                        
                                        { "mData": "commercialReference" },
                                        { "mData": "description" },
                                        
                                        { "mData": "family.label"},
                                        { "mData": "strategicProductFamily.label"},
                                        { "mData": "productLine.label"},
                                        { "mData": "businessLine.label"}               
                                    ],
                        "aoColumnDefs": [
                                            { 'bSortable': false, 'aTargets': [ 0 ] }
                                        ],
                        "bAutoWidth": false  
                        
                        
                        
                    });  
                    

                    var info = jQuery('.dataTables_info');     
                    jQuery('.previous').after(info);                                                      
                    stopTimer();
                    unlockScreen();
                    
                    
                    jQuery('#addButton').click(function(event){
                    var elem = oTable.$('tr');                                
                    elem.each(function(){ 
                      if($(this).find('input[name=chkbox]:checked').is(':checked')){
                      <!-- alert(elem.index(this)); -->
                      var rowIndex = elem.index(this);
                       jsonArray.push(searchResult[rowIndex]);
                       

                      }                                     
                    });
                    <!-- alert(JSON.stringify(jsonArray)); -->
                      performCheckbox(JSON.stringify(jsonArray));
                      lockScreen();
                 }); 
                    
                    
                    
                              
                    jQuery('.xy').click(function(){
                    oTable.$('td').css('backgroundColor', 'white');
                    var elem = jQuery('.list th');                  
                    elem.each(function(){
                    var CHKlabel = jQuery('input[name=chkbox]:checked').val();
                
                    var label = jQuery('input[name=rbnNumber]:checked').val();  
                    if( jQuery(this).find('label').text()==$('input[name=rbnNumber]:checked').val()) {
                    <!-- alert(elem.index(this)); -->
                    var x = elem.index(this) + 1;
                     oTable.$('td:nth-child('+x+')').css('backgroundColor', 'grey');                        
                    }
                    });                  
                   });
                }
                else if (event.type === 'exception') {
                    alert(event.message);
                } 
                else {
                    alert(event.message);
                }
            }, 
            {escape: true});
        }

        jQuery(document).ready(function(){
            jQuery('.searchText').val("{!HTMLENCODE($CurrentPage.parameters.commercialReference)}".toString());
            jQuery('#Business').html('');
            jQuery('#ProductLine,#ProductFamily,#Family').attr('disabled', 'disabled');
            getOthers('',jQuery('#Business'));
            jQuery('#Business').change(function(){
                businessAutoPopulationDone=true;
                PLAutoPopulationDone=true;
                jQuery('#ProductLine,#ProductFamily,#Family').html('');
                jQuery('#ProductLine,#ProductFamily,#Family').attr('disabled', 'disabled');
                if(jQuery(this).val()!=''){
                    $('#ProductLine').removeAttr('disabled');
                    getOthers(jQuery(this).val(),jQuery('#ProductLine'));        
                }
            });   
            jQuery('#ProductLine').change(function(){
                PFAutoPopulationDone=true;
                jQuery('#ProductFamily,#Family').html('');
                jQuery('#ProductFamily,#Family').attr('disabled', 'disabled');
                if(jQuery(this).val()!=''){
                    jQuery('#ProductFamily').removeAttr('disabled');
                    getOthers(jQuery(this).val(), jQuery('#ProductFamily'));                
                }
            });
            jQuery('#ProductFamily').change(function(){
                familyAutoPopulationDone=true;
                jQuery('#Family').html('');
                jQuery('#Family').attr('disabled', 'disabled');
                if(jQuery(this).val()!=''){
                    jQuery('#Family').removeAttr('disabled');
                    getOthers(jQuery(this).val(), jQuery('#Family'));    
                }
            });
           
            jQuery('#gmrClearButton').click(function(event){
                event.preventDefault();        
                clearLevelValues();
            }); 
            jQuery(document).keypress(function(e) {
                if(e.which == 13) {
                    e.preventDefault();        
                    jQuery('#Search').trigger('click');
                }
            });
    
            jQuery('#Search').click(function(){
                populateGMRCode();
               
                searchAjax(jQuery('.searchText').val(),jQuery('#myinput input').val(),jQuery('#commsearch').is(':checked'),jQuery('#exactmatch').is(':checked'),jQuery('#excludeGDP').is(':checked'),jQuery('#excludeDocs').is(':checked'),jQuery('#excludeSpares').is(':checked'));
              
            });
            
   

            
        });


        function clearLevelValues(){
            jQuery('#myinput input').val(null);
            jQuery('#ProductLine,#ProductFamily,#Family').html('');
            jQuery('#ProductLine,#ProductFamily,#Family').attr('disabled', 'disabled');
            jQuery('#Business').val('');
            jQuery('#Business').change();
        
        }
        function populateGMRCode(){
            var gmrCodeValue=jQuery('#myinput input');
            gmrCodeValue.val(null);
            if(jQuery('#Family').val()!=null && jQuery('#Family').val()!='')
                gmrCodeValue.val(jQuery('#Family').val());
            else if(jQuery('#ProductFamily').val()!=null && jQuery('#ProductFamily').val()!='')
                gmrCodeValue.val(jQuery('#ProductFamily').val());
            else if(jQuery('#ProductLine').val()!=null && jQuery('#ProductLine').val()!='')
                gmrCodeValue.val(jQuery('#ProductLine').val());
            else if(jQuery('#Business').val()!=null && jQuery('#Business').val()!='')
                gmrCodeValue.val(jQuery('#Business').val());            
        }
        function checkboxclickforexact(myElement){   
            if(jQuery(myElement).is(':checked')){   
                if(!jQuery('#commsearch').is(':checked')){
                    jQuery('#commsearch').click();
                }
            }            
        }

        function checkboxclickforsearch(myElement){   
            if(!jQuery(myElement).is(':checked')){
                if(jQuery('#exactmatch').is(':checked')){
                    jQuery('#exactmatch').click();
                }
            }            
        }
        function lockScreen(){
            document.getElementById('loading').style.display='block';
            document.getElementById('Blanket').style.display='block';
        }

        function unlockScreen(Arg){      
            document.getElementById('loading').style.display='none';
            document.getElementById('Blanket').style.display='none';
        }  

        function addCR(){
        
        }
        
    </script>
</apex:page>