<!-- ----------------------------------------------------------------------------------------------------------------------
      Author:Pooja Suresh
      Description:

      Modified History:
                  Release                   Modified By       Description

----------------------------------------------------------------------------------------------------------------------- -->
<apex:page >

   <apex:includeScript value="/support/console/30.0/integration.js"/>
   <apex:includeScript value="{!URLFor($Resource.jQueryLatest,'jquery1.9.1.js')}"/>
   <apex:includeScript value="{!URLFor($Resource.CCCClientLibraries,'jsforce-1.4.0/jsforce.min.js')}" />

   <script type="text/javascript">
       jQuery(document).ready(function() {

           conn = new jsforce.Connection({
               accessToken: '{!$Api.Session_Id}'
           });

           var ctiSkillvar = localStorage.setItem('CTI_SKILL', '{!$CurrentPage.parameters.CtiSkill}');
           var SpocPhoneVar = localStorage.setItem('SPOC_PhoneNo', '{!$CurrentPage.parameters.SPOC_PhoneNo}');
           var SubscriptionVar = localStorage.setItem('SubscriptionID', '{!$CurrentPage.parameters.SubscriptionID}');
           var CountryCodeVar = localStorage.setItem('CountryCode', '{!$CurrentPage.parameters.CountryCode}');
           callRedirect();

       });

       var ANI = '{!$CurrentPage.parameters.ANI}';
       var caseId = '{!$CurrentPage.parameters.CaseId}';
       var CFID = '{!$CurrentPage.parameters.CFID}';
       var Ivr = '{!$CurrentPage.parameters.IVR}';
       var legacyPin = '{!$CurrentPage.parameters.LegacyPin}';
       var contactId = '{!$CurrentPage.parameters.ContactId}';
       var accountId = '{!$CurrentPage.parameters.AccountId}';
       var ContactRecognition = '{!$CurrentPage.parameters.ContactRecognition}';
       var SubscriptionID = '{!$CurrentPage.parameters.SubscriptionID}';
       var CtiSkill = '{!$CurrentPage.parameters.CtiSkill}';
       var CountryCode = '{!$CurrentPage.parameters.CountryCode}';
       var SPOC_PhoneNo = '{!$CurrentPage.parameters.SPOC_PhoneNo}';
       var caseNumber, contactName, accountName;

       console.log('GlobalCTI.ANI: ' + ANI);
       console.log('GlobalCTI.caseId: ' + caseId);
       console.log('GlobalCTI.CFID: ' + CFID);
       console.log('GlobalCTI.Ivr: ' + Ivr);
       console.log('GlobalCTI.legacyPin: ' + legacyPin);
       console.log('GlobalCTI.contactId: ' + contactId);
       console.log('GlobalCTI.accountId: ' + accountId);
       console.log('GlobalCTI.ContactRecognition: ' + ContactRecognition);
       console.log('GlobalCTI.SubscriptionID: ' + SubscriptionID);
       console.log('GlobalCTI.CtiSkill: ' + CtiSkill);
       console.log('GlobalCTI.CountryCode: ' + CountryCode);
       console.log('GlobalCTI.SPOC_PhoneNo: ' + SPOC_PhoneNo);

       var closetab = function closetab(result) {
           console.log('closetab.tabId (result.id): ' + result.id);
           currentTabId = result.id;
           sforce.console.closeTab(currentTabId);
       };

       function trimID(IDstring) {
           if (IDstring != null && IDstring.length >= 15) {
               return IDstring.substring(0, 15);
           } else {
               return IDstring;
           }
       }

       //Duplicate sub tab search
       var openSbTab = function openSbTab(result) {
           //Report whether opening the new tab was successful
           console.log('openSbTab.Result success: ' + result.success);
           if (result.success) {
               primeTabId = trimID(result.id);
               console.log('openSbTab.Primary tab successfully opened: ' + primeTabId);
               console.log('openSbTab.caseId: ' + caseId);
               console.log('openSbTab.caseNumber: ' + caseNumber);
               if (caseId != undefined && caseId != null && caseId != '') {

                   sforce.console.openSubtab(primeTabId, '/' + caseId, true, caseNumber, null, function(resultOpenSubtab) {
                       if (!resultOpenSubtab.success) {
                           console.log('openSbTab.SubTab already open: ' + resultOpenSubtab);
                           // passing parent tab id to get its sub tab ids
                           sforce.console.getSubtabIds(primeTabId, function callBack(resultSubtabIds) {
                               var sTabIds = resultSubtabIds.ids;
                               var isSubTabFound = false;
                               console.log('openSbTab.All Sub Tabs: ' + resultSubtabIds);
                               console.log('openSbTab.All Sub Tab IDs: ' + sTabIds);
                               // Iterate over all sub tab id until we find the selected record
                               for (var i = 0; i < sTabIds.length; i++) {
                                   (function(i) {
                                       // passing sub tab id to get its object id to compare and focus
                                       console.log('openSbTab.current SubTabId: ' + sTabIds[i]);
                                       sforce.console.getPageInfo(sTabIds[i], function callBack(resultPageInfo) {
                                           if (resultPageInfo.success) {
                                               var sTabPageInfo = resultPageInfo.pageInfo;
                                               if (sTabPageInfo.indexOf("/500") > -1) {
                                                   console.log('openSbTab.SubTab PageInfo: ' + sTabPageInfo);
                                                   var getSubTabObjectId = sTabPageInfo.substr(sTabPageInfo.indexOf("/500") + 1, 15);

                                                   if (getSubTabObjectId == contactId) {
                                                       isSubTabFound = true;
                                                       sforce.console.focusSubtabById(sTabIds[i]);
                                                   }
                                               }
                                           }
                                       });
                                   })(i)
                                   if (isSubTabFound) break;
                               }
                           });
                       }
                   });
               }

           } else {
               console.log('openSbTab.Sub tab cannot be opened');
           }
           sforce.console.getEnclosingTabId(closetab);
       };

       // Duplicate primary tab search for account and contact
       function openPrimeTab(recordID, recordName) {
           console.log('Perform openPrimeTab().');
           var recId = recordID;
           var ptabid, dupPrimaryTabId;
           var isPrimaryTabFound = false;
           console.log('openPrimeTab.recId: ' + recId);

           sforce.console.openPrimaryTab(null, '/' + recordID, true, recordName, function(resultOpenPrimaryTab) {
               console.log('openPrimeTab.within opentab');
               if (!resultOpenPrimaryTab.success) {
                   sforce.console.getPrimaryTabIds(function(resultPrimaryTabIds) {
                       var pTabIds = resultPrimaryTabIds.ids;
                       var isPriTabFound = false;
                       //Display the primary tab IDs
                       console.log('openPrimeTab.All Primary Tabs: ' + resultPrimaryTabIds);
                       console.log('openPrimeTab.All Primary Tab IDs: ' + pTabIds);
                       // Iterate over all Primary tab ids until we find the selected record
                       for (i = 0; i < pTabIds.length; i++) {
                           (function(i) {
                               console.log('openPrimeTab.current PrimaryTabId: ' + pTabIds[i]);
                               // passing primary tab id to get its object id to compare and focus
                               sforce.console.getPageInfo(pTabIds[i], function callBack(resultPrimePageInfo) {
                                   if (resultPrimePageInfo.success) {
                                       console.log('openPrimeTab.pTabPageInfo: ' + resultPrimePageInfo.pageInfo);
                                       var pTabPageInfo = resultPrimePageInfo.pageInfo;
                                       if (pTabPageInfo.indexOf("/00") > -1) {
                                           var getPriTabObjectId = pTabPageInfo.substr(pTabPageInfo.indexOf("/00") + 1, 15);

                                           if (getPriTabObjectId == recId.substr(0, 15)) {
                                               isPriTabFound = true;
                                               var resultOpenExistingPrimaryTab = {
                                                   "id": pTabIds[i],
                                                   "success": true
                                               };
                                               console.log('openPrimeTab.resultOpenExistingPrimaryTab: ' + resultOpenExistingPrimaryTab);
                                               sforce.console.focusPrimaryTabById(pTabIds[i], openSbTab(resultOpenExistingPrimaryTab));
                                           }
                                       }
                                   }
                               });

                           })(i)
                           if (isPriTabFound) break;
                       } //end for loop                         
                   });
               } else {
                   console.log('openPrimeTab.PrimaryTab opened successfully:' + resultOpenPrimaryTab);
                   console.log('openPrimeTab.Calling openSbTab function');
                   openSbTab(resultOpenPrimaryTab);
               }

           });
           console.log('openPrimeTab() Ends.');
       }

       //Function to open contact and case record
       function openCaseSearchResult(caseRecord) {
           caseid = trimID(caseRecord.Id);
           casenum = caseRecord.CaseNumber;
           contactid = trimID(caseRecord.ContactId);
           contactname = '';

           console.log('openCaseSearchResult.caseid: ' + caseid);
           console.log('openCaseSearchResult.casenum: ' + casenum);
           console.log('openCaseSearchResult.contactid: ' + contactid);

           //in console
           if (typeof(sforce) != 'undefined' && sforce.console.isInConsole()) {

               //contact of case found in system
               if (contactid != null && contactid != '') {
                   contactname = caseRecord.Contact.Name;
                   console.log('openCaseSearchResult.contactname: ' + contactname);
                   openPrimeTab(contactid, contactname);

               }
               //contact of case not found in system
               else {
                   console.log('openCaseSearchResult.Contact not Found. Open Case as PrimaryTab. ');
                   //sforce.console.openPrimaryTab(null,'/'+caseid, true, casenum);
                   var conRedirectToCase = '/' + caseid;
                   window.location.href = conRedirectToCase;
               }
           }
           //in classic view
           else {
               var redirectToCase = '/' + caseid;
               console.log('openCaseSearchResult.redirectToCase in classic view : ' + redirectToCase);
               window.location.href = redirectToCase;
           }
       }


       function callRedirect() {

           //Variable Initialization:
           //Get the caseNumber, contactName and AccountName for the particular caseId, contactId and accountId passed to the page
           if (caseId != null && caseId != '' && caseId != undefined) {
               conn.query("select CaseNumber from Case where Id='" + caseId + "' limit 1", function(queryErr, queryResult) {
                   if (queryErr) {
                       return console.error("GlobalCTI.CaseNumber.The error is" + queryErr);
                   }

                   if (queryResult.done && queryResult.totalSize > 0) {
                       caseNumber = queryResult.records[0].CaseNumber;
                       console.log('GlobalCTI.caseNumber: ' + caseNumber);
                   }
               });
           }

           if (contactId != null && contactId != '' && contactId != undefined) {
               conn.query("select Name from Contact where Id='" + contactId + "' limit 1", function(queryErr, queryResult) {
                   if (queryErr) {
                       return console.error("GlobalCTI.contactName.The error is" + queryErr);
                   }

                   if (queryResult.done && queryResult.totalSize > 0) {
                       contactName = queryResult.records[0].Name;
                       console.log('GlobalCTI.contactName: ' + contactName);
                   }

               });
           }

           if (accountId != null && accountId != '' && accountId != undefined) {
               conn.query("select Name from Account where Id='" + accountId + "' limit 1", function(queryErr, queryResult) {
                   if (queryErr) {
                       return console.error("GlobalCTI.accountName.The error is" + queryErr);
                   }

                   if (queryResult.done && queryResult.totalSize > 0) {
                       accountName = queryResult.records[0].Name;
                       console.log('GlobalCTI.accountName: ' + accountName);
                   }

               });
           }

           //LOGIC for different scenarios

           //Scenario 1: Given CaseId, open case (and contact within console)
           if (caseId != null && caseId != '' && caseId != undefined) {
               console.log('Perform Case Search.');
               conn.query("select Id, CaseNumber, ContactId, Contact.Name from Case where Id='" + caseId + "' limit 1", function(queryErr, queryResult) {

                   if (queryErr) {
                       return console.error("The error is" + queryErr);
                   }

                   if (queryResult.done) {
                       console.log('callRedirect.case query passed');
                       if (queryResult.totalSize > 0) {
                           console.log('callRedirect.Number of case records returned: ' + queryResult.totalSize);
                           caseRecord = queryResult.records[0];
                           console.log('callRedirect.caseRecord: ' + caseRecord);
                           openCaseSearchResult(caseRecord);
                       }
                   }
               });
               console.log('Case Search Ends');
           }

           //Scenario 2: Given LegacyPin, open  either CVCP record or redirect to contract search page
           else if (legacyPin != null && legacyPin != '' && legacyPin != undefined) {
               console.log('Perform LegacyPin Search.');
               conn.query("Select Id, Name, LegacyPIN__c,Contact__c,Account__c,Points__c from CTR_ValueChainPlayers__c where LegacyPIN__c ='" + legacyPin +"'", function(queryErr, queryResult) {

                   if (queryErr) {
                       return console.error("The error is" + queryErr);
                   }

                   if (queryResult.done) {
                       console.log('callRedirect.legacyPin query passed');
                       cvcps = queryResult.records;
                       
                       if (cvcps.length == 1) {
                           console.log('callRedirect.CVCP Single Match.');
                           //in console
                           if (typeof(sforce) != 'undefined' && sforce.console.isInConsole()) {
                               cvcpId = cvcps[0].Id;
                               console.log('callRedirect.CVCP Single Match ID: ' + cvcps[0].Id);
                               cvcpName = cvcps[0].Name;
                               console.log('callRedirect.CVCP Single Match NAME: ' + cvcps[0].Name);
                               var conRedirectToCVCP = '/' + cvcps[0].Id +'?isdtp=nv';
                               window.location.href = conRedirectToCVCP;
                           }
                           //in classic view
                           else {
                               var redirectToCVCP = '/' + cvcps[0].Id;
                               window.location.href = redirectToCVCP;
                           }

                       }
                       if (cvcps.length > 1) {
                           console.log('callRedirect.CVCP Multi Match');
                           //in console
                           if (typeof(sforce) != 'undefined' && sforce.console.isInConsole()) {
                               cvcpId = cvcps[0].Id;
                               cvcpName = cvcps[0].Name;
                               //sforce.console.openPrimaryTab(null,'{!$Label.CLMAY14CCC28}'+legacyPin, true);   
                               var conRedirectToCVCPSearch = '{!$Label.CLMAY14CCC28}' + legacyPin +'&isdtp=vw';
                               window.location.href = conRedirectToCVCPSearch;
                           }
                           //in classic view
                           else {
                               var redirectToCVCPsearch = '{!$Label.CLMAY14CCC28}' + legacyPin;
                               window.location.href = redirectToCVCPsearch;
                           }
                       }
                   }
               });
               console.log('LegacyPin Search Ends.');
           }

           //Scenario 3: Given a SingleMatch ContactRecognition
           else if (ContactRecognition == 'SingleMatch') {
               console.log('Perform SingleMatch ContactRecognition Search.');
               var redirectSingleMatch;

               if (contactId != null && contactId != '' && contactId != undefined) {
                   console.log('callRedirect.SingleMatch.Open Contact');
                   if (sforce.console.isInConsole()) {
                       //sforce.console.openPrimaryTab(null,'/'+contactId, true, contactName);
                       openPrimeTab(trimID(contactId), contactName);
                   } else {
                       redirectSingleMatch = '/' + contactId;
                       console.log('callRedirect.SingleMatch.Open Contact URL: ' + redirectSingleMatch);
                       window.location.href = redirectSingleMatch;
                   }
               } else if (accountId != null && accountId != '' && accountId != undefined) {
                   console.log('callRedirect.SingleMatch.Open Account');
                   if (sforce.console.isInConsole()) {
                       //sforce.console.openPrimaryTab(null,'/'+accountId, true, accountName);
                       openPrimeTab(trimID(accountId), accountName);
                   } else {
                       redirectSingleMatch = '/' + accountId;
                       console.log('callRedirect.SingleMatch.Open Account URL: ' + redirectSingleMatch);
                       window.location.href = redirectSingleMatch;
                   }
               } else if (ANI != null && ANI != '' && ANI != undefined) {
                   console.log('callRedirect.SingleMatch.Open ANI Search');
                   if (sforce.console.isInConsole()) {
                       redirectSingleMatch = '/apex/VFP_ContactSearch?ANI=' + ANI + '&ctiCheck=yes&isdtp=vw';
                       console.log('callRedirect.SingleMatch.Open ANI in contact search URL: ' + redirectSingleMatch);
                       window.location.href = redirectSingleMatch;
                   } else {
                       redirectSingleMatch = '/apex/VFP_ContactSearch?ctiCheck=yes&ANI=' + ANI;
                       console.log('callRedirect.SingleMatch.Open ANI in contact search URL: ' + redirectSingleMatch);
                       window.location.href = redirectSingleMatch;
                   }
               }

               console.log('SingleMatch ContactRecognition Search Ends.');
           }

           //Scenario 4: Given a NoMatch ContactRecognition
           else if (ContactRecognition == 'NoMatch') {
               console.log('Perform NoMatch ContactRecognition Search.');
               var redirectNoMatch;

               if (ANI != null && ANI != '' && ANI != undefined) {
                   console.log('callRedirect.NoMatch.Open ANI Search');
                   if (sforce.console.isInConsole()) {
                       redirectSingleMatch = '/apex/VFP_ContactSearch?ANI=' + ANI + '&ctiCheck=yes&isdtp=vw';
                       console.log('callRedirect.SingleMatch.Open ANI in contact search URL: ' + redirectSingleMatch);
                       window.location.href = redirectSingleMatch;
                   } else {
                       redirectNoMatch = '/apex/VFP_ContactSearch?ctiCheck=yes&ANI=' + ANI;
                       console.log('callRedirect.NoMatch.Open ANI in contact search URL:' + redirectNoMatch);
                       window.location.href = redirectNoMatch;
                   }
               }

               console.log('NoMatch ContactRecognition Search Ends.');
           }

           //Scenario 5: Given a NoMatch_TimeOut ContactRecognition
           else if (ContactRecognition == 'NoMatch_TimeOut') {
               console.log('Perform NoMatch_TimeOut ContactRecognition Search.');
               var redirectNoMatchTimeOut;

               if (ANI != null && ANI != '' && ANI != undefined) {
                   console.log('callRedirect.NoMatch_TimeOut.Open VFP79 ANI Search');
                   if (sforce.console.isInConsole()) {
                       redirectNoMatchTimeOut = '/apex/VFP79_GetContactInformation?ANI=' + ANI + '&isdtp=vw';
                       window.location.href = redirectNoMatchTimeOut;
                   } else {
                       redirectNoMatchTimeOut = '/apex/VFP79_GetContactInformation?ANI=' + ANI;
                       console.log('callRedirect.NoMatch_TimeOut.Open ANI in VFP79 URL: ' + redirectNoMatchTimeOut);
                       window.location.href = redirectNoMatchTimeOut;
                   }
               }

               console.log('NoMatch_TimeOut ContactRecognition Search Ends.');
           }

           //Scenario 6: Given a MultiMatch ContactRecognition
           else if (ContactRecognition == 'MultiMatch') {
               console.log('Perform MultiMatch ContactRecognition Search.');
               var redirectMultiMatch;

               if (ANI != null && ANI != '' && ANI != undefined) {
                   console.log('callRedirect.MultiMatch.Open ANI Search');
                   if (sforce.console.isInConsole()) {
                       redirectMultiMatch = '/apex/VFP79_GetContactInformation?ANI=' + ANI + '&isdtp=vw';
                       window.location.href = redirectMultiMatch;
                   } else {
                       redirectMultiMatch = '/apex/VFP79_GetContactInformation?ANI=' + ANI;
                       console.log('callRedirect.MultiMatch.Open ANI in contact search URL: ' + redirectMultiMatch);
                       window.location.href = redirectMultiMatch;
                   }
               }

               console.log('MultiMatch ContactRecognition Search Ends.');
           }

           //Scenario 7: Rest all
           else {
               console.log('Perform No Criteria Match Search.');
               var redirectRest;

               if (ANI != null && ANI != '' && ANI != undefined) {
                   console.log('callRedirect.NoCriteriaMatch.Open ANI Search');
                   if (sforce.console.isInConsole()) {
                       redirectRest = '/apex/VFP79_GetContactInformation?ANI=' + ANI + '&isdtp=vw';
                       window.location.href = redirectRest;
                   } else {
                       redirectRest = '/apex/VFP79_GetContactInformation?ANI=' + ANI;
                       console.log('callRedirect.NoCriteriaMatch.Open ANI in contact search URL: ' + redirectRest);
                       window.location.href = redirectRest;
                   }
               }

               console.log('No Criteria Match. Search Ends.');

           }


       } //end callRedirect()
   </script>

</apex:page>