<apex:page showHeader="true" sidebar="true" standardController="CountryChannels__c" extensions="VFC_CountryChannelUserRegistration">
    <apex:includeScript value="{!URLFor($Resource.ClientFrameworkLibraries,'jQuery/jquery-1.11.1.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.PRMBackOfficeService, 'CountryChannelConfig.js')}"></apex:includeScript>
    
<style>
    .panelWrapper .mainTitle {
        background-color: white!important;
        padding: 30px 0 20px 40px !important;
    }
</style>
<apex:form >    
<apex:inputHidden value="{!inline}" id="inl" />
    <apex:pageBlock >         
        <div>
            <apex:pageBlockSection title="Channel Information" rendered="{!inLine}">
                <apex:outputField value="{!CtryChanel.Channel_Name__c}" />
                <apex:outputfield value="{!CtryChanel.PRMCountry__c}" />   
                <apex:outputfield value="{!CtryChanel.Sub_Channel__c}" />
                <apex:outputfield Value="{!CtryChanel.Active__c}"/>
                <apex:outputfield label="Default Account Owner" value="{!PRMAccountOwAssRule.AccountOwner__c}" />
                <apex:outputfield Value="{!CtryChanel.CompleteUserRegistrationonFirstLogin__c}" />
                <apex:pageBlockSectionItem />
                <apex:outputfield Value="{!CtryChanel.AllowPrimaryToManage__c }" />
                <apex:pageBlockSectionItem />
                <apex:outputfield Value="{!CtryChanel.PredictiveCompanyMatchEnabled__c}"/>
                <apex:pageBlockSectionItem />
                <apex:outputfield Value="{!CtryChanel.F_PRM_ReviewLocatorListing__c}"/>
            </apex:pageBlockSection>

            <apex:variable var="i" value="{!0}" />
            <apex:outputLabel >{!$Label.CLAPR16PRM05}</apex:outputLabel>
            <apex:outputLabel />
            <apex:repeat value="{!lstExistUserRegFldsAppliedTo}" var="lstExistUserRegFlds" id="theRepeat">
                <apex:pageBlockSection title="{!sectionLabel[i]}" columns="1">                   
                    <apex:pageMessages id="toperrormsgs" /> 
                    <apex:outputPanel layout="block" id="thePanel">
                    
                        <apex:pageBlockTable value="{!lstExistUserRegFlds}" var="regFld" id="theRepeat" columnsWidth="30%,20%,10%,20%,10%,10%" > <!--  -->    
                            <apex:column headerValue="{!$ObjectType.CountryChannelUserRegistration__c.Fields.UserRegFieldName__c.Label}" >
                                <apex:selectList value="{!regFld.userRegFlds.UserRegFieldName__c}" size="1" multiselect="false" disabled="true" >
                                    <apex:selectOptions value="{!FldList}"/>
                                </apex:selectList>
                            </apex:column>
                            <apex:column headerValue="{!$ObjectType.CountryChannelUserRegistration__c.Fields.DefaultValue__c.Label}" id="defValue" >
                                <apex:selectList value="{!regFld.userRegFlds.DefaultValue__c}" size="1" multiselect="false" rendered="{!regFld.isPicklist}" disabled="{!OR(regFld.defaultDisabled,NOT(inLine))}" >
                                    <apex:selectOptions value="{!regFld.picklistValues}"/>
                                </apex:selectList>
                                <apex:selectList value="{!regFld.userRegFlds.DefaultValue__c}" size="3" multiselect="true" rendered="{!regFld.isMultiPicklist}" disabled="{!OR(regFld.defaultDisabled,NOT(inLine))}" >
                                    <apex:selectOptions value="{!regFld.picklistValues}"/>
                                </apex:selectList>
                                <apex:inputText value="{!regFld.userRegFlds.DefaultValue__c}" rendered="{!NOT(OR(regFld.isPicklist,regFld.isBoolean,regFld.isMultiPicklist))}" disabled="{!NOT(inLine)}"/>
                                <apex:inputCheckbox value="{!regFld.userRegFlds.DefaultValue__c}" rendered="{!regFld.isBoolean}" disabled="{!NOT(inLine)}"/>
                            </apex:column>
                            <apex:column headerValue="{!$ObjectType.CountryChannelUserRegistration__c.Fields.Mandatory__c.Label}">
                                <apex:inputCheckbox value="{!regFld.userRegFlds.Mandatory__c}"  disabled="{!OR(regFld.defaultDisabled,NOT(inLine))}" />
                            </apex:column>
                            <apex:column headerValue="{!$ObjectType.CountryChannelUserRegistration__c.Fields.MandatoryOnProfile__c.Label}">
                                <apex:inputCheckbox value="{!regFld.userRegFlds.MandatoryOnProfile__c}"  disabled="{!OR(regFld.defaultDisabled,NOT(inLine))}" />
                            </apex:column>  
                            <apex:column headerValue="{!$ObjectType.CountryChannelUserRegistration__c.Fields.HideField__c.Label}" width="10%">
                                <apex:selectList value="{!regFld.userRegFlds.HideField__c}" size="1" multiselect="false"  disabled="{!OR(regFld.hiddenDisabled,NOT(inLine))}">
                                    <apex:selectOptions value="{!regFld.HideFieldOptions}"/>
                                </apex:selectList>
                            </apex:column>
                            <apex:column headerValue="{!$ObjectType.CountryChannelUserRegistration__c.Fields.ValidationType__c.Label}">
                                <apex:selectList value="{!regFld.userRegFlds.ValidationType__c}" id="validationType" onchange="validationType();" size="1" multiselect="false" disabled="{!OR(NOT(regFld.allowCustomValidation),NOT(inLine))}"> <!--  -->
                                    <apex:selectOptions value="{!regFld.ValidationFieldOptions}"  />
                                </apex:selectList>
                            </apex:column>
                            <apex:column headerValue="{!$ObjectType.CountryChannelUserRegistration__c.Fields.Expression__c.Label}">
                                <apex:inputText value="{!regFld.userRegFlds.Expression__c}" id="expression" />
                            </apex:column>
                        </apex:pageBlockTable>
                    </apex:outputPanel>            
                </apex:pageBlockSection>
                <apex:variable var="i" value="{!i+1}"/>
            </apex:repeat>
        </div>
        <div>
            <apex:pageBlockButtons rendered="{!inLine}">
                <apex:commandButton id="theSave" value="Save" onClick="return doSomeWork();" rerender="thePanel, errormsgs,toperrormsgs"/> 
                <apex:commandButton id="theCancel" value="Cancel" onclick="return callCancel();"/>
                <apex:actionFunction name="callDoSaveMethodinClass" action="{!doSave}"/>
                <apex:actionFunction name="callCancelMethodinClass" action="{!Cancel}"/>
                             
            </apex:pageBlockButtons>
        </div>
        </apex:pageBlock>
    </apex:form>
</apex:page>