<apex:page standardController="Contact" id="thisPage">
    <apex:form id="thisForm">
        <apex:variable value="{!$Permission.MKTMAQualification}" var="isAccessable" id="thisVariable"/>
        <apex:pageMessage strength="3" rendered="{!NOT(isAccessable)}" severity="info" summary="{!$Label.CLMAR16MKT006}" />  
    </apex:form>
    <script language="javascript">
        var ContactId = "{!$CurrentPage.parameters.Id}";
        var hasPermission = "{!$Permission.MKTMAQualification}";
        if(hasPermission == "true" && ContactId != "")
            window.location.href='/apex/mkto_si__Contact?id='+ContactId;          
    </script>
</apex:page>