<apex:page standardController="PRMProfileConfigInfo__c" extensions="VFC_ConfigureProgressiveProfile">
<apex:includeScript value="{!URLFor($Resource.ClientFrameworkLibraries,'jQuery/jquery-1.11.1.min.js')}" />
<script type="text/javascript">

    function callController(){
        picklistValuesNew();
    }
    
</script>
    <apex:form id="prgsvProfile">
        <apex:PageBlock title="Related To Country Cluster/Channel">
            <apex:pageBlockSection >
            <apex:outputText label="PRMProfileConfig">
                <apex:inputField value="{!PRMProfileConfig.Name}" required="true"/>
            </apex:outputText>
            <apex:outputText label="Country Channel" rendered="{!showChannel}">
                <apex:inputField value="{!PRMProfileConfig.CountryChannel__c}" label="Country Channel" />
            </apex:outputText>
            <apex:outputText Label="Feature" rendered="{!showFeature}">
                <apex:inputField value="{!PRMProfileConfig.FeatureCatalog__c}" label="Feature" />
            </apex:outputText>
            <apex:outputText Label="Cluster" rendered="{!showCntry}">
                <apex:inputField value="{!PRMProfileConfig.PRMCountryClusterSetup__c}" label="Cluster" />
            </apex:outputText>
            </apex:pageBlockSection>
        </apex:PageBlock>
         <apex:pageBlock mode="edit" title="Progressive Profile Configuration" id="pgb">
                 <apex:pageMessages id="showmsg"></apex:pageMessages>
                <apex:pageblockButtons >
                    <apex:commandButton action="{!SaveProfileConfig}" Value="Save" />
                    <apex:commandButton action="{!Cancel}" Value="Cancel" />
                </apex:pageblockButtons> 
                <apex:variable var="i" value="{!0}"/>
                <apex:pageblockTable value="{!ccpWrapLst}" var="r" id="pgtable" >
                    <apex:column headerValue="Profile Fields" width="55%">
                        <apex:selectList value="{!r.objField}" size="1" multiselect="false" >
                            <apex:selectOptions value="{!picklistValues}"/>
                        </apex:selectList> 
                    </apex:column>
                    <apex:column headerValue="Mandatory" width="35%">
                        <apex:inputCheckbox value="{!r.Mandatory}" selected="true"/>
                    </apex:column>
                    <apex:column width="5%">
                        <apex:commandLink action="{!insertRow}" value="Add" rerender="pgb"/>
                    </apex:column>
                    <apex:column width="5%">
                        <apex:commandLink action="{!RemoveRow}" value="Remove" rerender="pgb">
                            <apex:param assignTo="{!counter}" value="{!i}" name="counter"/>
                        </apex:commandLink>
                        <apex:variable var="i" value="{!i+1}"/>
                    </apex:column>
                </apex:pageblockTable>
                </apex:pageBlock>
    </apex:form>
</apex:page>