<apex:page standardController="OPP_QuoteLink__c" extensions="VFC_LightRITEFormRedirect" action="{!lightRITEForm}">
    <apex:form >
    <script>
    function popupWindow()
    {
        alert('{!$Label.CLAPR14SLS20}');
    }    
    </script>
        <apex:pageBlock >
               <apex:pageBlockButtons location="bottom">
                    <apex:commandButton value="{!$Label.CLAPR14SLS07}" immediate="true" rendered="{!if(isLightRITE = false, true, false)}" action="/{!quoteLnk.Id}"/>
                    <apex:commandButton value="{!$Label.CLAPR14SLS08}"  rendered="{!if(isLightRITE = true, true, false)}" action="/{!lightRITEId}"/>
                    <apex:commandButton value="{!$Label.CLAPR14SLS09}" onClick="popupWindow()"  rendered="{!if(isLightRITE = true, true, false)}"  action="/{!quoteLnk.Id}"/>
                </apex:pageBlockButtons>
                <apex:pageMessage severity="info" summary="{!pgMsg}" rendered="{!if(pgMsg!=null, true, false)}" strength="3" escape="false"/>
        </apex:pageBlock>
    </apex:form>
</apex:page>