<apex:page showHeader="false" sidebar="false" standardStylesheets="false" doctype="html-5.0" controller="VFC_CassiniCaseCreation">

    <apex:composition template="VFP_CassiniHeaderTemplate"> 
        <apex:define name="Header"></apex:define>
    </apex:composition>
    <apex:includeScript value="{!$Resource.SimplePagination}"/>
    <apex:includeScript value="{!$Resource.PaginationUI}"/>
 
    <script>
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " ")); 
        }
        var param = getParameterByName('faq'); 
        var app = angular.module("ngApp1", ['simplePagination','PaginationUI']); 
        app.controller("CaseCreationCtrl", ["$scope", 'Pagination',"$window", function($scope, Pagination,$window) {
        $scope.products=[];
        $scope.searchForProduct='';
        $scope.errSearchText=false;
        $scope.prodid='';
        $scope.DescriptionText =param;
        $scope.alerts=[];
        $scope.alertFlag=false;
        $scope.productFlag=false;
        $scope.searchProducts=function(){
            console.log('~~~~'+$scope.searchForProduct);
            $scope.errSearchText=false;
            if($scope.searchForProduct!=''){
                Visualforce.remoting.Manager.invokeAction(
               '{!$RemoteAction.VFC_CassiniCaseCreation.getProducts}',$scope.searchForProduct,
                function(result, event) {
                    console.log(result);
                    if(result.length!=0) {
                        $scope.products=result;
                        $scope.productFlag=false;
                    }
                    else{
                       $scope.productFlag=true;
                    }                         
                $scope.viewby = 10;
                $scope.totalItems = $scope.products.length;
                $scope.currentPage = 1;
                $scope.itemsPerPage = $scope.viewby;
                $scope.maxSize = 5; //Number of pager buttons to show
                $scope.setPage = function (pageNo) {
                    $scope.currentPage = pageNo;
                };
                $scope.pageChanged = function() {
                    console.log('Page changed to: ' + $scope.currentPage);
                };
                $scope.setItemsPerPage = function(num) {
                    $scope.itemsPerPage = num;
                    $scope.currentPage = 1; //reset to first paghe
                }
                $scope.$apply();
               });
            }
            else {
                $scope.errSearchText=true;
                $scope.products=[];
            }
        }
        $scope.submitCase=function(){
           //alert(1);
            $scope.alerts=[];
            $scope.alertFlag=false;
            $scope.productFlag=false;
            console.log('From 73 $scope.prodid: '+$scope.prodid);
            if($scope.DescriptionText==null || $scope.DescriptionText==''){
                $scope.alertFlag=true;
                $scope.alerts.push({ type: 'danger', msg:'{!$Label.CLJUN16CSN152}' });
                if($scope.prodid=='')    $scope.alerts.push({ type: 'danger', msg: '{!$Label.CLJUN16CSN151}' });
                console.log('From 1 '+$scope.prodid);        
                return;
            }
            else if($scope.prodid==''){
                $scope.alertFlag=true;
                $scope.alerts.push({ type: 'danger', msg:'{!$Label.CLJUN16CSN151}' });
                console.log('From 2 '+$scope.prodid);
                return;
            }
            else {
                console.log($scope.prodid);
                console.log('From 3 '+$scope.prodid);
                console.log($scope.DescriptionText);
                var productid=$scope.prodid;
                console.log('From 92'+productid);
                var Desc = $scope.DescriptionText;
                Visualforce.remoting.Manager.invokeAction(
               '{!$RemoteAction.VFC_CassiniCaseCreation.linkedProductToCase}',$scope.prodid,$scope.DescriptionText,
                function(result, event) { 
                    $window.location.href = '/cassini/apex/VFP_CassiniCaseDetailPage?id='+result;
                });
            }
             console.log('From 4 '+$scope.prodid);
        };
        $scope.changedProductVal=function(productid){
            console.log(productid);
            $scope.prodid=productid;
            console.log('$scope.prodid'+$scope.prodid);
            return false;
        };       
    }]);
    function showSpinner(){
        document.getElementById('opaque').style.display='block';
        var popUp = document.getElementById('spinner');
        popUp.style.display = 'block';
    } 
</script> 

<style>
    section#errorWrap{
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: #fcf8e3;
    }
    section#errorWrap alert label{color:red;}
</style>
    <!--<apex:form >
        <apex:actionFunction action="{!linkedProductToCase}" name="callActionFunction"  >
            <apex:param name="productid" assignTo="{!strProductid}" value="" />  
            <apex:param name="Desc" assignTo="{!strDesc}" value="" />
        </apex:actionFunction>
    </apex:form>-->
    <div id="opaque"/>
    <div id="spinner">
        <p align="center" style='{font-family:"Arial", Helvetica, sans-serif; font-size:20px;}'><apex:image value="/img/loading.gif"/>&nbsp;Please wait</p>
    </div>
    <body ng-app="ngApp1" ng-controller="CaseCreationCtrl">
    <div class="topBackground white">
        <div class="container">
            <div class="row-fluid">
                <div class="span12 pageHeaderTitle" style="height: auto;">
                    <legend>{!$Label.CLJUN16CSN027}</legend>
                </div>
            </div>
        </div>
    </div>
    <div class="main container" >
        <div class="container-fluid">
            <div class="content">
                <section id="errorWrap" ng-show="alertFlag"><!--  alerts != null -->
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><label ng-bind="alert.msg" /></alert>
                </section>
                <div class="row-fluid row-margin">
                    <div class="span12">
                        <small>{!$Label.CLJUN16CSN029}</small>
                        <h3>{!$Label.CLJUN16CSN028}<!--<sup>*</sup>--></h3>
                    <div class="row-fluid">
                        <div class="span12">
                            <textarea name="" placeholder="{!$Label.CLJUN16CSN040}" id="" cols="30" rows="10"  ng-model="DescriptionText" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid row-margin">
                <h3>{!$Label.CLJUN16CSN030}<!--<sup>*</sup>--></h3>
                <p>{!$Label.CLJUN16CSN031}</p>
                <div class="search-layer span6 search-bar">
                    <input name="q" placeholder="Search For the Product" class="search-field headerSearchTerm" autocomplete="off" type="text" ng-model="searchForProduct"/>
                    <!--<input type="hidden" id="searchSwitch" value="searchGSS"/>
                    <input type="reset" value="Reset" class="reset-search" style="display: none;"/>-->
                    <button class="search" ng-click="searchProducts()"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>`
            </div>
            <p ng-show="errSearchText" style="color:red">*Enter Some Product keyword</p>
        </div>
        <div class="content main-content">
            <h2>{!$Label.CLJUN16CSN032}</h2>
            <div class="row-fluid row-margin">
                <div class="span8 search-case">
                    <div class="row-fluid">
                        <div class="span3">
                         <p>{!$Label.CLJUN16CSN042}</p> 
                     </div>
                     <div class="span9">
                        <form class="search-bar" method="get" action="#">
                            <label for=""></label>
                            <input name="q" class="search-field headerSearchTerm" autocomplete="off" type="text" ng-model="searchWithinResult"/>
                            <!--<input type="hidden" id="searchSwitch" value="searchGSS"/>
                            <input type="reset" value="Reset" class="reset-search" style="display: none;"/>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-contain" >
            <span ng-show="productFlag" style="text-align:center;color:red;border-left:50%;"><B>{!$Label.CLJUN16CSN172}</B></span>
            <table class="main-table search-select case-search">
                <thead>
                    <tr class="table-heading">
                        <th> {!$Label.CLJUN16CSN033}  </th> 
                        <th> <a href="" ng-click="orderByField='Family__c'; reverseSort = !reverseSort"> {!$Label.CLJUN16CSN034}<span ng-show="orderByField == 'Family__c' "><span ng-show="!reverseSort" class="arrow-up"></span><span ng-show="reverseSort" class="arrow-down"></span></span>  </a> </th>
                        <th> <a href="" ng-click="orderByField='ProductFamily__c'; reverseSort = !reverseSort"> {!$Label.CLJUN16CSN035}<span ng-show="orderByField == 'ProductFamily__c' "><span ng-show="!reverseSort" class="arrow-up"></span><span ng-show="reverseSort" class="arrow-down"></span></span>  </a> </th>
                        <th> <a href="" ng-click="orderByField='ProductLine__c'; reverseSort = !reverseSort"> {!$Label.CLJUN16CSN036}<span ng-show="orderByField == 'ProductLine__c' "><span ng-show="!reverseSort" class="arrow-up"></span><span ng-show="reverseSort" class="arrow-down"></span></span>  </a></th>
                        <th> <a href="" ng-click="orderByField='ProductBU__c'; reverseSort = !reverseSort"> {!$Label.CLJUN16CSN037}<span ng-show="orderByField == 'ProductBU__c' "><span ng-show="!reverseSort" class="arrow-up"></span><span ng-show="reverseSort" class="arrow-down"></span></span>  </a> </th>
                    </tr>
                </thead>
                <tr ng-repeat="product in products.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy:orderByField:reverseSort|filter:searchWithinResult">
                   <td><input type="radio" name="name" ng-value="item"   ng-checked="false" ng-click="changedProductVal(product.Id)" /></td>
                 <!-- <td><input type="radio" name="name"   ng-attr-name="radio{{product}}" ng-model="$parent.selectvalue" ng-attr-id="radioA{{product}}"  ng-click="changedProductVal(product.id)" /></td>-->
                    <td>{{product.Family__c}}</td>
                    <td>{{product.ProductFamily__c}}</td>
                    <td>{{product.ProductLine__c }}</td>
                    <td>{{product.ProductBU__c}}</td>
                </tr>
            </table>
      <!-- Pagination buttons -->
    
    <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
        </div>
    </div>
    <div class="content">
        <div class="row-fluid row-margin">
            <div class="span12">
                <p>{!$Label.CLJUN16CSN038}</p>
                <button id="subBtn" style="white-space:nowrap;" class="button-feature" ng-click="submitCase()" >{!$Label.CLJUN16CSN039}</button>
            </div>
        </div>
    </div>
</div>


</div>

<!-- Begin Footer -->
<apex:composition template="VFP_CassiniFooterTemplate">
    <apex:define name="Footer"></apex:define>
</apex:composition>

</body>

</apex:page>