<apex:page standardController="UIMSCompany__c" extensions="VFC_ImportPRMContacts" contentType="application/vnd.ms-excel#{!ExportFileName}.xls" cache="true">
    <apex:pageBlock >
        <apex:pageBlockTable value="{!contactGridToExport}" var="ContactInfo">
            <apex:column value="{!ContactInfo.contactsToDisplay.Email__c}" headerValue="Email"/>
            <apex:column value="{!ContactInfo.contactsToDisplay.FirstName__c}" headerValue="First Name"/>
            <apex:column value="{!ContactInfo.contactsToDisplay.LastName__c}" headerValue="Last Name"/>
            <apex:column value="{!ContactInfo.contactsToDisplay.Country__c}" headerValue="Country"/>
            <apex:column value="{!ContactInfo.contactsToDisplay.Language__c}" headerValue="Language" />
            <apex:column value="{!ContactInfo.contactsToDisplay.BusinessType__c}" headerValue="Business Type"/>
            <apex:column value="{!ContactInfo.contactsToDisplay.AreaofFocus__c}" headerValue="Area Of Focus"/>
            <apex:column value="{!ContactInfo.regLink}" headerValue="Registration Link"/>
        </apex:pageBlockTable>
    </apex:pageBlock>
</apex:page>