<!-- Intermediate Page for selection of Project or ORF -->
<apex:page standardController="OpportunityRegistrationForm__c" extensions="VFC_ORFIntermediate" action="{!CheckProceed}">
<apex:styleSheet value="{!$Resource.STR015_StyleSheet}"/>
<apex:form >
    <apex:sectionHeader title="" subtitle="{!$Label.CLMAR16PRM001}" description=""/>
        <apex:pageBlock title="">
            <apex:pageBlockSection columns="1">
                <apex:pageblockSectionItem rendered="true">
                    <apex:outputLabel value="{!$Label.CLMAR16PRM002}" style="padding-top:25px;vertical-align:bottom;font-size:125%" />
                            <apex:selectList value="{!PrgLevel}" size="1" >
                                <apex:selectOptions value="{!PrgLevelList}"/>
                            </apex:selectList>                        
            </apex:pageblockSectionItem>
       </apex:pageBlockSection>  
       
        <apex:PageBlockButtons location="Bottom" >
        <apex:commandButton value="{!$Label.CLOCT15PRM071}" action="{!doProceed}" />
        <apex:commandButton value="{!$Label.CLAPR15PRM186}"  action="{!doCancel}"/>
        </apex:PageBlockButtons>    
        
      </apex:pageBlock>
    </apex:form>
  </apex:page>