<apex:page controller="VFC_BoxAuthorization" action="{!getBoxToken}" title="Authorization Page">
  
    <style>
        .btn{width:130px;height:30px}
        .d{border: 1px solid #cd0a0a; background: #a51600 url(images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat; color: #ffffff; }
    </style> 
    <apex:form >
            <apex:outputPanel rendered="{!blnError}" id="opl">
               <apex:pageMessages />
          </apex:outputPanel>
    </apex:form>
    <apex:form >
        <apex:sectionHeader title="Box Authorization " />
         <apex:pageBlock title="Authorization Status"  id="pb">
          
            <apex:outputLabel value="" rendered="{!not(authState)}">
                <apex:pageBlockSection title="" columns="2">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="User Name" for="user__name"/>
                    <apex:inputText value="{!UserNameEmail}" id="user__name"/> 
                </apex:pageBlockSectionItem>    

                </apex:pageBlockSection>
             
                 </apex:outputLabel>  
                    <apex:pageBlockButtons location="bottom" rendered="{!not(authState)}">
                <apex:commandButton action="{!boxConnect}"  value="Authorize  " id="authButton1" styleClass="btn" /> 
                </apex:pageBlockButtons>
            
           
            <apex:outputLabel rendered="{!authState}">
                Authorized
            </apex:outputLabel> 
         </apex:pageBlock>
     </apex:form>
</apex:page>