<apex:page controller="VFC_Announcement" >

  <!--  <script src ='http://code.jquery.com/jquery-1.8.3.min.js' /> -->
    <apex:includescript value="{!URLFor($Resource.jquery_bundle,'jquery.js')}" />
    <script> 
              $(document).ready(function() {   
     $(".test").click(function () {
               
              $(this).parent().next('.showClass').toggle();
                   });            
          
});    
$(document).ready(function() {   
     $(".test1").click(function () {
               
              $(this).parent().next('.showClass1').toggle();
                   });            
          
});    
    </script>
   
    <script type="text/javascript">
    function checkAll(this1,cb,cbid){
            //alert('Test'+this1+'test123'+cb+'test134234'+cbid);
            var inputElem = document.getElementById(cb).parentNode.parentNode.getElementsByTagName("input");  
            for(var i=0; i<inputElem.length; i++)
            {            
                inputElem[i].checked = this1.checked;
            }

       
    }
</script>
<apex:form id="form2">
 <h1 style="color:Red"> 
          <apex:outputPanel rendered="{!iserror}" id="op">
               <apex:pageMessages />
          </apex:outputPanel>
        </h1>
        <h1 style="color:Red"> 
          <apex:outputPanel rendered="{!iserror1}" id="op1">
               <apex:pageMessages />
          </apex:outputPanel>
        </h1> 
        <center>
        <apex:pageBlock id="PageBlk1" rendered="{!iserror1}" >
            <apex:commandButton value="Cancel" action="{!Cancelmethod}" />
        </apex:pageBlock>
        </center>
</apex:form>
    <apex:form id="form1" >
  
      <apex:pageBlock id="PageBlk" rendered="{!not(iserror1)}">
       
      <apex:pageBlockButtons >
                <apex:commandButton value="Continue" action="{!continuemethod}" />
                    
                <apex:commandButton value="Cancel" action="{!Cancelmethod}"/>
      </apex:pageBlockButtons>
      
        <apex:pageBlockSection columns="1" id="pgblksec" >
                
             <apex:outputpanel id="counter" >
                                  
                <div id = "section1" >
                    <apex:pageBlockTable value="{!wrappervar}" var="g" id="table">
                         
                        <apex:column width="50px">
                           <apex:inputCheckbox value="{!g.chk}" id="Anything1" onclick="checkAll(this,this.id,'checkedone')"/>
                        </apex:column>
                        <apex:column width="200px" value="{!g.groups}" HeaderValue="Groups"  />
                                                
                       <apex:column headerValue="Country Leader" >   
                         <div style="Cursor:pointer" ><a href="" id="accOrg" type="default"  class="test" >
                              <u>  Expand/collpase </u>
                                </a></div>
                        <div class="showClass" > <!-- style="Display:none" -->
                                <apex:outputPanel id="out">
                                    <apex:pageBlockTable value="{!wrappervar2[g.groups]}" var="i" >                                  
                                        <apex:column width="50px">
                                            <apex:inputCheckbox value="{!i.chk2}" id="checkedone" onclick="checkAll(this,this.id,'checkedone1')" />  
                                        </apex:column>  
                                        
                                        <apex:column headerValue="Country" value="{!i.Country}" />
                                        
                                        <apex:column headerValue=" Country Introduction Leader" value="{!i.CntryLeader}"/> 
                                   <!--      <apex:column headerValue=" Group Country" value="{!i.groupcountry}"/>   -->
                                         
                                        <apex:column headerValue="Additional Stakeholders"  > 

                                         <apex:repeat value="{!newsortwrapper3}" VAR="w3">      
                                             <apex:outputPanel id="out1" rendered="{!if(w3==i.groupcountry,true,false)}">
                                             <div style="Cursor:pointer" ><a href="" id="ash1" type="default"  class="test1" >
                                                  <u>  Expand/collpase </u>
                                                    </a></div>
                                            <div class="showClass1" > <!-- style="Display:none" -->
                                            
                                                  <!--  <apex:outputPanel id="out1" rendered="{!if(w3==i.groupcountry,true,false)}"> -->
                                                        <apex:pageBlockTable value="{!newsortwrapper3[i.groupcountry]}" var="i2" >   
                                                            
                                                            <apex:column width="50px">
                                                                <apex:inputCheckbox value="{!i2.chk3}" id="checkedone1"/>  
                                                            </apex:column> 
                                                            <!-- <apex:column headerValue="User Name" value="{!i.UserName}" /> --> <!-- width="200px" -->
                                                           <!--  <apex:column headerValue="Role" value="{!i.role}" />   -->                                      
                                                            <apex:column headerValue="Email" value="{!i2.email}"/>
                                               <!--             <apex:column headerValue="groupcountry" value="{!i2.grpcntry}"/>  -->
                                                            
                                                        </apex:pageBlockTable> 
                                                  <!--   </apex:outputPanel>  -->
                                                    
                                            
                                             </div>
                                             </apex:outputPanel>
                                            
                                             </apex:repeat>
                                        </apex:column>
                                        
                                    </apex:pageBlockTable>
                                </apex:outputPanel>
                        
                         </div>
                         </apex:column>
                           
                    </apex:pageBlockTable>
                       
               </div>
                                      
            </apex:outputpanel>
        </apex:pageBlockSection>    
      </apex:pageBlock>
      
    </apex:form>
    
</apex:page>