<apex:page docType="html-5.0" standardController="OPP_Project__c" extensions="VFC_ProjectCockpit" showheader="false" sidebar="false" title="Cockpit">  
   <head>
       <apex:includeScript value="{!URLFor($Resource.STR_SLS_ClientFrameworkLibraries,'Angular/angular.min.1.3.13.js')}" />
       <apex:includeScript value="{!URLFor($Resource.STR_SLS_ClientFrameworkLibraries,'Angular/angular-route.min.1.3.13.js')}" />
       <apex:includeScript value="{!URLFor($Resource.STR_SLS_ClientFrameworkLibraries,'Angular/angular-animate.min.1.3.13.js')}" />
       <apex:includeScript value="{!URLFor($Resource.STR_SLS_ClientFrameworkLibraries,'Angular/angular-sanitize.min.1.3.13.js')}" />
       <apex:includeScript value="{!URLFor($Resource.STR_SLS_ClientFrameworkLibraries,'Others/angularloader/loading-bar.min.js')}" />
        <apex:stylesheet value="{!URLFor($Resource.STR_SLS_ClientFrameworkLibraries,'Others/angularloader/loading-bar.min.css')}" />
       <!-- background styles for table -->
       <style>
       .workpackage {
            background-color: #EBD6FF;
        }
        .firstopportunitylist{
            background-color: #D6E0F5;
        }
        .secondopportunitylist{
            background-color: #CCE0F5;
        }
        .thirdopportunitylist{
            background-color: #CCEBEB;
        }
        .Opptylinelist{
              background-color:#E0F5FF;             
        }
        .workpackageheader  {
            background-color: #D6ADFF;
              
        }
        .firstopportunitylistheader{
            background-color: #ADC2EB;  
        }
        .secondopportunitylistheader{
            background-color: #99C2EB;  
        }
        .thirdopportunitylistheader{
            background-color: #99D6D6;  
        }
        .Opptylinelistheader{
              background-color:#C2EBFF;             
        }
        .IEmsg{
            color:red;
        }
        
        .cursorhand {
        cursor: pointer;
        }
        
        .body, td {
            font-family:Calibri;
         }
    
       </style>
       
      <script>  
         function getSobjects(callback){              
           Visualforce.remoting.Manager.invokeAction(  
             '{!$RemoteAction.VFC_ProjectCockpit.getParentdata}',  '{!Id}',
             callback,  
             {escape: false}  
           );        
         }  
        var vfremote = angular.module('VFRemoting',['chieffancypants.loadingBar','ngSanitize']);
        
        vfremote.controller('VFRemoteController',['$scope','$interpolate','$sce','cfpLoadingBar','$window',function($scope,$sce,$interpolate,cfpLoadingBar,$window){  
           <!-- Page redirection on button click -->
           $scope.go = function (path) {
              console.log('>>>path'+path);
              $window.location.href = path ;
            };
           
           <!-- fetch the initial data -->
           $scope.getIntialData=function () {
                cfpLoadingBar.start();
                console.log('>>>>>>>>Initial load');           
                Visualforce.remoting.Manager.invokeAction(  
              '{!$RemoteAction.VFC_ProjectCockpit.getParentdata}',  '{!Id}',
               function(result, event) {
                  if (event.status) {
                     console.log(result);
                     $scope.data=result;
                    } else if (event.type === 'exception') 
                          console.log(event.message);
                         $scope.$apply();
                  }      
               );
               cfpLoadingBar.complete(); 
               } ;

    
        <!-- On click fetch the children data -->
           $scope.getChildren= function(currentOppty) {
               cfpLoadingBar.start();
               console.log('>>>>>>>>getChildOpportunity got called'+currentOppty);
                 Visualforce.remoting.Manager.invokeAction(
                 '{!$RemoteAction.VFC_ProjectCockpit.getChildren}',currentOppty.Id,
                  function(result, event) {
                      if (event.status) {
                            console.log(result[0]);
                            currentOppty.ChildOpportunity=result[0];
                            currentOppty.showChildren='True';
                      } else if (event.type === 'exception') 
                                        console.log(event.message);
                    $scope.$apply();
                 }); 
                 cfpLoadingBar.complete();
              } ;
         }]);  
         
        <!--To decode html and  display image -->
         vfremote.filter('trusted', ['$sce', function($sce) {
            var div = document.createElement('div');
            return function(text) {
            if (angular.isUndefined(text) || text=== null || text=== '') {
                return '';
            }
            div.innerHTML = text;
            <!--Since Account VIP formula is copied into the Master Project VIP Formula and -->
            <!--it starts with /resource and not ../resource which doesnt work in communities-->
            <!-- as a workaround suggested by the salesforce we are preceding dots here-->
            <!-- please note dots preceding works only in VFP and not on page layout in communities -->
            if('Community'+'{!$Site.Prefix}'!='Community')
              div.innerHTML = div.innerHTML.replace(new RegExp("/resource", "g"), '../resource')                    
            console.log('>>>>trustedfilter');
            return $sce.trustAsHtml(div.textContent) ;
            };
        }]);
        
        <!-- Round the value and use space as grouping seperator. fr locale has space as grouping seperator hence we using fr locale here -->
        vfremote.filter('currencyFormating', function() {
            return function(num) {
                 if(num!=undefined){
                   var newValue = Math.round(num).toLocaleString('fr');
                   return newValue ;
            };
           }
        });
        
       </script>  
      </head>  
      <body>
        <div ng-app="VFRemoting">  
            <div ng-controller="VFRemoteController" ng-init="getIntialData()"> 
            <span class="IEmsg">{!$Label.CLOCT15SLS80}</span>  
            <div ng-show="data"> <a href="{!$Site.Prefix}/{!Id}"> {!$Label.CLOCT15SLS32} </a></div>        
                <table>
                    <tr> 
                        <th colspan="3" class="workpackageheader" style="font-weight: bold;" ng-show="data">{!$Label.CLOCT15SLS34}</th>
                        <th colspan="6" class="workpackageheader" style="font-weight: bold;" ng-show="data.prodrecord.Opportunities__r"> <button ng-click="go('{!$Site.Prefix}/apex/VFP01_OpptyCockpit?&id='+data.prodrecord.Opportunities__r[0].Id)">{!$Label.CLOCT15SLS79}</button></th>
                        <th colspan="6" class="workpackageheader" style="font-weight: bold;" ng-hide="data.prodrecord.Opportunities__r"></th>
                    </tr>
                    <!-- Work package header-->
                     <tr class="workpackageheader" style="font-weight: bold;" ng-show="data">
                        <td>{!$Label.CLOCT15SLS33}</td>
                        <td>{!$Label.CLOCT15SLS35}</td>
                        <td>{!$Label.CLOCT15SLS36}</td>
                        <td>{!$Label.CLOCT15SLS37}</td>
                        <td>{!$Label.CLOCT15SLS42}</td>
                        <td>{!$Label.CLOCT15SLS38}</td>
                        <td>{!$Label.CLOCT15SLS39}</td>
                        <td>{!$Label.CLOCT15SLS40}</td>
                        <td>{!$Label.CLOCT15SLS41}</td>
                    </tr>
                    <!-- Workpackage package content -->
                    <tr class="workpackage" ng-show="data">
                        <td><img alt="" title="" src="{{data.ownerDetails.SmallPhotoUrl}}" ng-bind="data.Owner.SmallPhotoUrl" height="40" width="40"/></td>
                        <td ng-bind="data.prodrecord.Owner.Name" />
                        <td><a href="{!$Site.Prefix}/{{data.prodrecord.Id}}" ng-bind-html="data.prodrecord.Name"></a></td>
                        <td><a href="{!$Site.Prefix}/{{data.prodrecord.ProjectEndUserInvestor__c}}" ng-bind-html="data.prodrecord.ProjectEndUserInvestor__r.Name"></a></td>
                        <td ng-bind-html="data.prodrecord.VIPIcon__c | trusted"></td>
                        <td ng-bind-template="{{data.currentUserDetails.DefaultCurrencyIsoCode}} {{data.prodrecord.SumOfAllOpportunities__c|currencyFormating}}"/>
                        <td ng-bind="data.prodrecord.EstimateProjectCloseDate__c| date:'mediumDate'"></td>
                        <td ng-bind="data.prodrecord.ProjectStatus__c"/>
                        <td ng-bind-template="{{data.currentUserDetails.DefaultCurrencyIsoCode}} {{data.prodrecord.TotalProjectAmountForecastedWon__c|currencyFormating}}"/>
                    </tr>
    
                    <!-- First Level Opportunities linked to workpackage -->
                    <tr ng-show="data.prodrecord.Opportunities__r" > 
                    <th  colspan="15" class="firstopportunitylistheader" style="font-weight: bold;" ng-show="data">{!$Label.CLOCT15SLS43}</th> 
                    </tr>
                    <tr ng-show="data.prodrecord.Opportunities__r" class="firstopportunitylistheader" style="font-weight: bold;">
                        <td style="padding-left: 20px;"> </td>
                        <td>{!$Label.CLOCT15SLS44}</td>
                        <td>{!$Label.CLOCT15SLS45}</td>
                        <td>{!$Label.CLOCT15SLS46}</td>
                        <td>{!$Label.CLOCT15SLS47}</td>
                        <td>{!$Label.CLOCT15SLS68}</td>
                        <td>{!$Label.CLOCT15SLS49}</td>
                        <td>{!$Label.CLOCT15SLS50}</td>
                        <td>{!$Label.CLOCT15SLS51}</td>
                        <td>{!$Label.CLOCT15SLS53}</td>
                        <td>{!$Label.CLOCT15SLS54}</td>
                        <td>{!$Label.CLOCT15SLS55}</td>
                        <td>{!$Label.CLOCT15SLS72}</td>
                        <td>{!$Label.CLOCT15SLS48}</td>
                        <td>{!$Label.CLOCT15SLS74}</td>
                    </tr>
                    <tr ng-repeat-start="prjoppty1 in data.prodrecord.Opportunities__r" class="firstopportunitylist" style="padding-left: 20px;">
                        <td style="padding-left: 20px;"> 
                        <a ng-click="getChildren(prjoppty1);prjoppty1.showChildren='True'? true:false" ng-show="!prjoppty1.showChildren" class="cursorhand" style="font-weight: bold;font-size: 150%;">+</a> 
                        <a ng-click="prjoppty1.showChildren='True'? false:true;prjOppty2.showChildren='True'? false:true;prjOppty3.showChildren='True'? false:true" ng-show="prjoppty1.showChildren" class="cursorhand" style="font-weight: bold;font-size: 150%;" >_</a>
                        </td>
                        <td><img alt="" title="" src="{{prjoppty1.Owner.SmallPhotoUrl}}"  ng-bind="prjoppty1.Owner.SmallPhotoUrl" height="40" width="40"/></td>
                        <td ng-bind="prjoppty1.Owner.Name"/>
                        <td><a href="{!$Site.Prefix}/{{prjoppty1.Id}}" ng-bind-html="prjoppty1.Name"></a></td>
                        <td><a href="{!$Site.Prefix}/{{prjoppty1.AccountId}}" ng-bind-html="prjoppty1.Account.Name"></a></td>
                        <td ng-bind="prjoppty1.Account.ClassLevel1__c"/>
                        <td ng-bind-html="prjoppty1.StageName"/>
                        <td ng-bind-template="{{data.currentUserDetails.DefaultCurrencyIsoCode}} {{prjoppty1.Amount|currencyFormating}}"/>
                        <td ng-bind="prjoppty1.QuoteSubmissionDate__c | date:'mediumDate'"/>                  
                        <td ng-bind="prjoppty1.CloseDate | date : 'mediumDate'"/>
                        <td ng-bind="prjoppty1.ForecastCategoryName "/>
                        <td ng-bind="prjoppty1.IncludedInForecast__c"/>
                        <td ng-bind="prjoppty1.Probability"/>
                        <td ng-bind="prjoppty1.OpptyType__c"/>
                        <td ng-bind="prjoppty1.Status__c"/>
                    </tr>
                    <tr ng-show="prjoppty1.ChildOpportunity['oppLineList'];prjoppty1.showChildren" > 
                    <th></th>
                    <th colspan="11" class="Opptylinelistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS56}</th> 
                    
                    </tr>
                    <!-- Opportunity Lines of the first level Opportunities -->            
                    <tr  ng-show="prjoppty1.ChildOpportunity['oppLineList'];prjoppty1.showChildren" >
                        <td></td>
                        <td class="Opptylinelistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS57}</td>
                        <td class="Opptylinelistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS58}</td>
                        <td class="Opptylinelistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS59}</td>
                        <td class="Opptylinelistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS60}</td>
                        <td class="Opptylinelistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS61}</td>
                        <td class="Opptylinelistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS62}</td>
                        <td class="Opptylinelistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS63}</td>
                        <td class="Opptylinelistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS64}</td>
                        <td class="Opptylinelistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS65}</td>
                        <td class="Opptylinelistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS73}</td>
                        <td class="Opptylinelistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS76}</td>
                    </tr> 
    
                    <tr ng-repeat="prjOppty1line in prjoppty1.ChildOpportunity['oppLineList']"  ng-show="prjoppty1.showChildren">
                        <td></td>
                        <td class="Opptylinelist"><a href="{!$Site.Prefix}/{{prjOppty1line.Id}}" ng-bind="prjOppty1line.Name"></a></td>
                        <td class="Opptylinelist" ng-bind="prjOppty1line.LowestLevelInPyramid__c" />
                        <td class="Opptylinelist" ng-bind-html="prjOppty1line.Lowestlevelvalue__c" />
                        <td class="Opptylinelist" ng-bind="prjOppty1line.LineStatus__c" />
                        <td class="Opptylinelist" ng-bind="prjOppty1line.Quantity__c" />
                        <td class="Opptylinelist" ng-bind-template="{{data.currentUserDetails.DefaultCurrencyIsoCode}} {{prjOppty1line.Amount__c|currencyFormating}}" />
                        <td class="Opptylinelist" ng-bind-template="{{data.currentUserDetails.DefaultCurrencyIsoCode}} {{prjOppty1line.LineAmount__c|currencyFormating}}"/>
                        <td class="Opptylinelist" ng-bind="prjOppty1line.LineClosedate__c | date:'mediumDate'" />
                        <td class="Opptylinelist" ng-bind="prjOppty1line.ConcatenatedID__c" />
                        <td class="Opptylinelist" ng-bind="prjOppty1line.IncludedinForecast__c" />
                        <td class="Opptylinelist" ng-bind="prjOppty1line.Specified__c" />
                    </tr>
                    <!--  second level opportunities linked to first level opportunities -->
                    <tr ng-show="prjoppty1.ChildOpportunity['opplst'];prjoppty1.showChildren" ng-if="prjoppty1.showChildren==='True' && prjoppty1.ChildOpportunity['opplst'].length>0" > 
                    <th colspan="2"></th>
                    <th colspan="15" class="secondopportunitylistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS66}</th> 
                    </tr>
                    <tr ng-show="prjoppty1.ChildOpportunity['opplst'];prjoppty1.showChildren" ng-if="prjoppty1.showChildren==='True' && prjoppty1.ChildOpportunity['opplst'].length>0" >
                        <td> </td>
                        <td> </td>
                        <td class="secondopportunitylistheader"></td>
                        <td class="secondopportunitylistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS44}</td>
                        <td class="secondopportunitylistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS45}</td>
                        <td class="secondopportunitylistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS46}</td>
                        <td class="secondopportunitylistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS47}</td>
                        <td class="secondopportunitylistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS68}</td>
                        <td class="secondopportunitylistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS49}</td>
                        <td class="secondopportunitylistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS50}</td>
                        <td class="secondopportunitylistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS51}</td> 
                        <td class="secondopportunitylistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS53}</td>
                        <td class="secondopportunitylistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS54}</td>
                        <td class="secondopportunitylistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS55}</td>
                        <td class="secondopportunitylistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS72}</td>
                        <td class="secondopportunitylistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS48}</td>
                        <td class="secondopportunitylistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS74}</td>
                    </tr>
                    <tr  ng-repeat-start="prjOppty2 in prjoppty1.ChildOpportunity['opplst']"  ng-show="prjoppty1.showChildren">
                        <td></td>
                        <td></td>
                        <td class="secondopportunitylist" style="padding-left: 30px;"> 
                        <a ng-click="getChildren(prjOppty2);prjOppty2.showChildren='True'? true:false" ng-show="!prjOppty2.showChildren" class="cursorhand" style="font-weight: bold;font-size: 150%;">+</a> 
                        <a ng-click="prjOppty2.showChildren='True'? false:true;prjOppty2.showChildren='True'? false:true" ng-show="prjOppty2.showChildren" class="cursorhand" style="font-weight: bold;font-size: 150%;">_</a></td>
                        <td class="secondopportunitylist"><img alt="" title="" src="{{prjOppty2.Owner.SmallPhotoUrl}}" ng-bind="prjOppty2.Owner.SmallPhotoUrl" height="40" width="40"/></td> 
                        <td class="secondopportunitylist" ng-bind="prjOppty2.Owner.Name" />
                        <td class="secondopportunitylist"><a href="{!$Site.Prefix}/{{prjOppty2.Id}}" ng-bind-html="prjOppty2.Name"></a></td>
                        <td class="secondopportunitylist"><a href="{!$Site.Prefix}/{{prjOppty2.AccountId}}" ng-bind-html="prjOppty2.Account.Name"></a></td>
                        <td class="secondopportunitylist" ng-bind="prjOppty2.Account.ClassLevel1__c" />
                        <td class="secondopportunitylist" ng-bind-html="prjOppty2.StageName " />
                        <td class="secondopportunitylist" ng-bind-template="{{data.currentUserDetails.DefaultCurrencyIsoCode}} {{prjOppty2.Amount|currencyFormating}}" />
                        <td class="secondopportunitylist" ng-bind="prjOppty2.QuoteSubmissionDate__c | date:'mediumDate'" />
                        <td class="secondopportunitylist" ng-bind="prjOppty2.CloseDate | date:'mediumDate'" />
                        <td class="secondopportunitylist" ng-bind="prjOppty2.ForecastCategoryName " />
                        <td class="secondopportunitylist" ng-bind="prjOppty2.IncludedInForecast__c" />
                        <td class="secondopportunitylist" ng-bind="prjOppty2.Probability" />
                        <td class="secondopportunitylist" ng-bind="prjOppty2.OpptyType__c" />
                        <td class="secondopportunitylist" ng-bind="prjOppty2.Status__c" />
                    </tr>
                    <!-- Opportunity lines linked to second level Opportunities --> 
                    <tr ng-if="prjoppty1.showChildren==='True'" ng-show="prjOppty2.ChildOpportunity['oppLineList'];prjOppty2.showChildren" > 
                    <th colspan="3"></th>
                    <th colspan="11" class="Opptylinelistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS56}</th>
                    </tr>
                              
                    <tr ng-if="prjoppty1.showChildren==='True'" ng-show="prjOppty2.ChildOpportunity['oppLineList'];prjOppty2.showChildren"  style="font-weight: bold;">
                        <td colspan="3"></td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS57}</td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS58}</td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS59}</td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS60}</td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS61}</td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS62}</td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS63}</td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS64}</td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS65}</td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS73}</td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS76}</td>
                    </tr>
                    <tr ng-repeat="prjOppty2line in prjOppty2.ChildOpportunity['oppLineList']"  ng-show="prjOppty2.showChildren" ng-if="prjoppty1.showChildren==='True'">
                        <td colspan="3"></td>
                        <td class="Opptylinelist"><a href="{!$Site.Prefix}/{{prjOppty2line.Id}}" ng-bind="prjOppty2line.Name"></a></td>
                        <td class="Opptylinelist" ng-bind="prjOppty2line.LowestLevelInPyramid__c" />
                        <td class="Opptylinelist" ng-bind-html="prjOppty2line.Lowestlevelvalue__c" />
                        <td class="Opptylinelist" ng-bind="prjOppty2line.LineStatus__c" />
                        <td class="Opptylinelist" ng-bind="prjOppty2line.Quantity__c" />
                        <td class="Opptylinelist" ng-bind-template="{{data.currentUserDetails.DefaultCurrencyIsoCode}} {{prjOppty2line.Amount__c|currencyFormating}}" />
                        <td class="Opptylinelist" ng-bind-template="{{data.currentUserDetails.DefaultCurrencyIsoCode}} {{prjOppty2line.LineAmount__c|currencyFormating}}"/>
                        <td class="Opptylinelist" ng-bind="prjOppty2line.LineClosedate__c | date:'mediumDate'" />
                        <td class="Opptylinelist" ng-bind="prjOppty2line.ConcatenatedID__c" />
                        <td class="Opptylinelist" ng-bind="prjOppty2line.IncludedinForecast__c" />
                        <td class="Opptylinelist" ng-bind="prjOppty2line.Specified__c" />
                    </tr>
                    <!-- Third Level Opportunities linked to the second level Opportunities -->   
                    <tr ng-show="prjOppty2.ChildOpportunity['opplst'];prjOppty2.showChildren" ng-if="prjoppty1.showChildren==='True' && prjOppty2.ChildOpportunity['opplst'].length>0" > 
                    <th colspan="4"></th>
                    <th colspan="15" class="thirdopportunitylistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS66}</th> 
                    </tr>        
                    <tr ng-show="prjOppty2.ChildOpportunity['opplst'];prjOppty2.showChildren" ng-if="prjoppty1.showChildren==='True' && prjOppty2.ChildOpportunity['opplst'].length>0" style="font-weight: bold;">
                        <td colspan="4"> </td>
                        <td class="thirdopportunitylistheader"></td>
                        <td class="thirdopportunitylistheader">{!$Label.CLOCT15SLS44}</td>
                        <td class="thirdopportunitylistheader">{!$Label.CLOCT15SLS45}</td>
                        <td class="thirdopportunitylistheader">{!$Label.CLOCT15SLS46}</td>
                        <td class="thirdopportunitylistheader">{!$Label.CLOCT15SLS47}</td>
                        <td class="thirdopportunitylistheader">{!$Label.CLOCT15SLS68}</td>
                        <td class="thirdopportunitylistheader">{!$Label.CLOCT15SLS49}</td>
                        <td class="thirdopportunitylistheader">{!$Label.CLOCT15SLS50}</td>
                        <td class="thirdopportunitylistheader">{!$Label.CLOCT15SLS51}</td>
                        <td class="thirdopportunitylistheader">{!$Label.CLOCT15SLS53}</td>
                        <td class="thirdopportunitylistheader">{!$Label.CLOCT15SLS54}</td>
                        <td class="thirdopportunitylistheader">{!$Label.CLOCT15SLS55}</td>
                        <td class="thirdopportunitylistheader">{!$Label.CLOCT15SLS72}</td>
                        <td class="thirdopportunitylistheader">{!$Label.CLOCT15SLS48}</td>
                        <td class="thirdopportunitylistheader">{!$Label.CLOCT15SLS74}</td>
                    </tr>
                    <tr  ng-repeat-start="prjOppty3 in prjOppty2.ChildOpportunity['opplst']" ng-show="prjOppty2.showChildren" ng-if="prjoppty1.showChildren==='True'" >
                        <td colspan="4"></td>
                        <td class="thirdopportunitylist" style="padding-left: 45px;"> 
                        <!--<a ng-click="getChildren(prjOppty3)">Show grandgrandchildren</a> -->
                        <a ng-click="getChildren(prjOppty3);prjOppty3.showChildren='True'? true:false" ng-show="!prjOppty3.showChildren" class="cursorhand" style="font-weight: bold;font-size: 150%;">+</a> 
                        <a ng-click="prjOppty3.showChildren='True'? false:true" ng-show="prjOppty3.showChildren" class="cursorhand" style="font-weight: bold;font-size: 150%;">_</a>
                        </td>
                        <td class="thirdopportunitylist" ><img alt="" title="" src="{{prjOppty3.Owner.SmallPhotoUrl}}" ng-bind="prjOppty3.Owner.SmallPhotoUrl" height="40" width="40"/></td>
                        <td class="thirdopportunitylist" ng-bind="prjOppty3.Owner.Name" />
                        <td class="thirdopportunitylist"><a href="{!$Site.Prefix}/{{prjOppty3.Id}}" ng-bind-html="prjOppty3.Name"></a></td>
                        <td class="thirdopportunitylist"><a href="{!$Site.Prefix}/{{prjOppty3.AccountId}}" ng-bind-html="prjOppty3.Account.Name"></a></td>
                        <td class="thirdopportunitylist" ng-bind="prjOppty3.Account.ClassLevel1__c" />
                        <td class="thirdopportunitylist" ng-bind-html="prjOppty3.StageName" />
                        <td class="thirdopportunitylist" ng-bind-template="{{data.currentUserDetails.DefaultCurrencyIsoCode}} {{prjOppty3.Amount|currencyFormating}}" />
                        <td class="thirdopportunitylist" ng-bind="prjOppty3.QuoteSubmissionDate__c | date:'mediumDate'" />
                        <td class="thirdopportunitylist" ng-bind="prjOppty3.CloseDate | date:'mediumDate'" />
                        <td class="thirdopportunitylist" ng-bind="prjOppty3.ForecastCategoryName " />
                        <td class="thirdopportunitylist" ng-bind="prjOppty3.IncludedInForecast__c" />
                        <td class="thirdopportunitylist" ng-bind="prjOppty3.Probability" />
                        <td class="thirdopportunitylist" ng-bind="prjOppty3.OpptyType__c" />
                        <td class="thirdopportunitylist" ng-bind="prjOppty3.Status__c" />
                    </tr>
                    <!-- Opportunity Lines linked to the third level Opportunities -->
                    <tr ng-show="prjOppty3.ChildOpportunity['oppLineList'];prjOppty3.showChildren" ng-if="prjOppty2.showChildren==='True' && prjoppty1.showChildren==='True'" > 
                    <th colspan="5"></th>
                    <th colspan="11" class="Opptylinelistheader" style="font-weight: bold;">{!$Label.CLOCT15SLS56}</th>
                    </tr>
                    <tr  ng-show="prjOppty3.ChildOpportunity['oppLineList'];prjOppty3.showChildren" ng-if="prjOppty2.showChildren==='True' && prjoppty1.showChildren==='True'" style="font-weight: bold;">
                        <td colspan="5"></td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS57}</td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS58}</td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS59}</td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS60}</td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS61}</td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS62}</td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS63}</td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS64}</td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS65}</td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS73}</td>
                        <td class="Opptylinelistheader">{!$Label.CLOCT15SLS76}</td>
                    </tr>                            
                    <tr ng-repeat-start="prjOppty3line in prjOppty3.ChildOpportunity['oppLineList']"  ng-show="prjOppty3.showChildren" ng-if="prjOppty2.showChildren==='True' && prjoppty1.showChildren==='True'">
                        <td colspan="5"></td>
                        <td class="Opptylinelist"><a href="{!$Site.Prefix}/{{prjOppty3line.Id}}" ng-bind="prjOppty3line.Name"></a></td>
                        <td class="Opptylinelist" ng-bind="prjOppty3line.LowestLevelInPyramid__c" />
                        <td class="Opptylinelist" ng-bind-html="prjOppty3line.Lowestlevelvalue__c" />
                        <td class="Opptylinelist" ng-bind="prjOppty3line.LineStatus__c" />
                        <td class="Opptylinelist" ng-bind="prjOppty3line.Quantity__c" />
                        <td class="Opptylinelist" ng-bind-template="{{data.currentUserDetails.DefaultCurrencyIsoCode}} {{prjOppty3line.Amount__c|currencyFormating}}" />
                        <td class="Opptylinelist" ng-bind-template="{{data.currentUserDetails.DefaultCurrencyIsoCode}} {{prjOppty3line.LineAmount__c|currencyFormating}}"/>
                        <td class="Opptylinelist" ng-bind="prjOppty3line.LineClosedate__c | date:'mediumDate'" />
                        <td class="Opptylinelist" ng-bind="prjOppty3line.ConcatenatedID__c" />
                        <td class="Opptylinelist" ng-bind="prjOppty3line.IncludedinForecast__c" />
                        <td class="Opptylinelist" ng-bind="prjOppty3line.Specified__c" />
                    </tr>
                    <tr ng-repeat-end="true" class="ng-scope ng-hide"></tr>
                    <tr ng-repeat-end="true" class="ng-scope ng-hide"></tr>
                    <tr ng-repeat-end="true" class="ng-scope ng-hide"></tr>
                    <tr ng-repeat-end="true" class="ng-scope ng-hide"></tr>
                </table>                   
            </div>  
        </div>
   </body>  
 </apex:page>