<apex:page showHeader="false" sidebar="false">
<head>
    <apex:includeScript value="/support/console/30.0/integration.js"/>
    <script type="text/javascript">
        function myFunction(link) {
            if(link == 'OfferInformation'){
                sforce.console.openPrimaryTab(null, '/apex/VFP_UnifiedSearch', true, 'Search by Product', null, null );
                sforce.console.setCustomConsoleComponentWindowVisible(false);
            }
        }
    </script>
</head>
<body>
    <div class="linksModule sidebarModule">
    <div class="sidebarModuleHeader brandPrimaryBgr"></div>
        <div class="sidebarModuleBody">     
            <a href="javascript:myFunction('OfferInformation');">Search by Product</a>
        </div>
    </div>
</body>
</apex:page>