<apex:page standardController="SPARequest__c" extensions="VFC_SPAContractSync" action="{!validateSync}">
<script type="text/javascript">
      function closeNewWindow()
      { 
         window.top.close();
      }  
    </script>
<apex:pageMessages />
<apex:form >    
    <apex:inputHidden value="{!SPARequest__c.BackOfficeContractNumber__c}"/>
    <apex:inputHidden value="{!SPARequest__c.BackOfficeSystemID__c}"/>
    <apex:inputHidden value="{!SPARequest__c.ApprovalStatus__c}"/>
    
    <apex:commandButton value="Cancel" onclick="closeNewWindow();"/>
</apex:form>
</apex:page>