<apex:page standardController="RIT_TechManScope__c">
    <apex:form >
        <apex:sectionHeader title="{!$ObjectType.RIT_TechManScope__c.label}" subtitle="{!RIT_TechManScope__c.Name}"/>
                        <!-- DISPLAYS TECHNICAL-MANUFACTURING-SCOPE DETAILS -->
                        <apex:pageBlock title="{!$ObjectType.RIT_TechManScope__c.label}" mode="detail" >
                                <apex:pageBlockButtons >
                                    <apex:commandButton action="{!save}"  value="{!$Label.CL00017}"/>
                                    <apex:commandButton action="{!cancel}"  value="{!$Label.CL00010}"/>
                                </apex:pageBlockButtons>
                                <apex:pageblockSection title="{!$Label.CL00672}" columns="2">
                                    <br/>
                                    <apex:inputField value="{!RIT_TechManScope__c.QuoteLink__c}"/>
                                </apex:pageblockSection>
                                <apex:pageblockSection title="{!$Label.CLAPR14SLS40}" columns="1">
                                    <apex:inputField value="{!RIT_TechManScope__c.BriefDescriptionOfTheEquipment__c}" style="width:100%"/>
                                    <apex:inputField value="{!RIT_TechManScope__c.FinalUseOfOurSolution__c}"/>
                                    <apex:inputField value="{!RIT_TechManScope__c.ScopeofSupplyPartOfEUProcess__c}"/>                                    
                                </apex:pageblockSection>             
                                <apex:pageblockSection title="{!$Label.CL00152}" columns="2">
                                    <apex:inputField value="{!RIT_TechManScope__c.AnyEquipmentSpecificallyDesigned__c}" required="true"/>
                                    <apex:inputField value="{!RIT_TechManScope__c.ProjectReviewedValidatedbySolArch__c}"/>                                    
                                    <apex:inputField value="{!RIT_TechManScope__c.CommentsOnScopeOfWork__c}" style="width:100%"/>                                    
                                </apex:pageblockSection>                                                                   
                                <apex:pageblockSection title="{!$Label.CL00153}" columns="2">
                                    <apex:inputField value="{!RIT_TechManScope__c.SETechnOfferTotallyComplyWithSOW__c}"/>
                                    <apex:inputField value="{!RIT_TechManScope__c.PlsExplainHowRisksWillBeMitigated__c}"/>
                                    <apex:inputField value="{!RIT_TechManScope__c.IfNoPleaseCommentOnDeviation__c}" style="width:100%"/>
                                    <br/>
                                    <apex:inputField value="{!RIT_TechManScope__c.SEsTechProdsSolsImposedByClient__c}"/>
                                    <br/>
                                    <apex:inputField value="{!RIT_TechManScope__c.SEAlreadyPerformedThisTypeOfProj__c}"/>
                                    <apex:inputField value="{!RIT_TechManScope__c.IfYesPleaseComment__c}"/>                                    
                                </apex:pageblockSection>   
                                                                
                                <apex:pageblockSection title="{!$Label.CL00154}" columns="2">
                                    <apex:inputField value="{!RIT_TechManScope__c.TimeScheduleInMonths__c}"/>
                                    <apex:inputField value="{!RIT_TechManScope__c.TimeScheduleTotallyMasteredBySE__c}"/>
                                    <apex:inputField value="{!RIT_TechManScope__c.QualifyManufacturingWorkloadNew__c}"/>
                                    <apex:inputField value="{!RIT_TechManScope__c.CommentsOnTimeSchedule__c}"/>                                    
                                </apex:pageblockSection>
                                <apex:actionRegion >
                                <apex:outputPanel id="techPerf">
                                <apex:pageblockSection title="{!$Label.CL00155}" columns="2">
                                    <apex:inputField value="{!RIT_TechManScope__c.DoWeTakeAnyPerformanceCommitment__c}" required="true">
                                        <apex:actionSupport id="techPerfSection" event="onchange" rerender="techPerf"/>    
                                    </apex:inputField>
                                    <br/>
                                    <apex:inputField value="{!RIT_TechManScope__c.IfYesPleaseCommentAndGiveDetailsNew__c}" style="width:100%"  rendered="{!IF(RIT_TechManScope__c.DoWeTakeAnyPerformanceCommitment__c=='Yes', true, false)}"/>
                                    <br/>
                                    <apex:inputField value="{!RIT_TechManScope__c.TechnicalPerformanceCommitments__c}" rendered="{!IF(RIT_TechManScope__c.DoWeTakeAnyPerformanceCommitment__c=='Yes', true, false)}"/>
                                    <apex:inputField value="{!RIT_TechManScope__c.TechnicalPerfCommOGSuppliers__c}" rendered="{!IF(RIT_TechManScope__c.DoWeTakeAnyPerformanceCommitment__c=='Yes', true, false)}"/>
                                    
                                    <apex:inputField value="{!RIT_TechManScope__c.CommentsOnTechnicalPerformance__c}" style="width:100%" rendered="{!IF(RIT_TechManScope__c.DoWeTakeAnyPerformanceCommitment__c=='Yes', true, false)}"/>                                    
                                </apex:pageblockSection>
                                </apex:outputPanel>
                                </apex:actionRegion>
        </apex:pageBlock>                             
    </apex:form>                                
</apex:page>