<apex:page tabStyle="FieloPRM_Invoice__c" Controller="VFC_PRMManageInvoiceProducts" docType="html-5.0" id="InvoicePage" standardStylesheets="false" language="en-US" sidebar="false">
    <!-- 
        1. This is where you load all the static resource (bootstrap css + scripts + styles) 
        2. This is where you define the page structure
    -->
    <head>
        <c:VCC_PRMResourceInclude />
        <link href="{!URLFOR($Resource.ClientFrameworkLibraries, 'jQuery/dataTables.bootstrap.min.css')}" rel="stylesheet" />
        <link rel="stylesheet" href="{!URLFOR($Resource.PortalFiles, 'common/css/header_footer.css')}" />
        <link rel="stylesheet" href="{!URLFOR($Resource.PortalFiles, 'common/css/framework.css')}" />
        <link rel="stylesheet" href="{!URLFOR($Resource.PortalFiles, 'common/css/style.css')}" />
        <apex:includeScript value="{!URLFOR($Resource.ClientFrameworkLibraries, 'jQuery/jquery.dataTables.1.10.12.min.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.ClientFrameworkLibraries, 'jQuery/dataTables.bootstrap.min.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.ClientFrameworkLibraries, 'jQuery/jquery.appender.js')}"></apex:includeScript> 
        <apex:includeScript value="{!URLFOR($Resource.PRMBackOfficeService, 'ManageInvoiceProducts.js')}"></apex:includeScript>       
        <apex:includeScript value="{!URLFOR($Resource.ClientFrameworkLibraries, 'bootstrap-3.2.0/js/bootstrap.min.js')}"></apex:includeScript>
        <style>
        body{padding:0 !important;}
        #SearchSection #cboxContent{background-image:none !important; display: inline-block; padding:25px 30px 5px 30px !Important; width:96%;}
        .padding0{padding:0 !important;}
            #iformAction{width:100% !important; height:600px !important; overflow-y:scroll; overflow-x:hidden;}
            #mdlForm .bfobootstrapv1.modal-dialog{ width: 56.6%;
            position: absolute;
            top: -12%;
            left: 21%;
            z-index: 999;}
            #saveErr label{margin:0 !important; color:#E30000 !important;}
            #savebtn{margin-left:30px;}
            .searchContent .well{padding:30px 60px;}
            .formWrap div{float:left;}
            #cboxLoadedContent.searchContent, .searchContent .well{width:100%;}
            .searchContent h2{float:left; font-size:20px;}
            .dataTables_filter input, .dataTables_length select{display:inline !important;}
            .searchContent .container{margin:0;}
            .searchContent div{margin:5px 0;  display:block;}
            #mdlForm .bfobootstrapv1 .modal-body, .searchContent  .container {padding:0 !important;}
            #searchResultsTableD_wrapper [class*="col-"], #searchResultsTableD_filter,#searchResultsTableD_filter label{padding:0;margin:0 !important;}
            #inprogressSave{display:none;}
            .searchContent .action-container{width:100%; position:relative;}
            #selectedProductsTable.table > tbody > tr > td{vertical-align:middle;}
            #searchResultsTableD_wrapper .row, #searchResultsTableD_wrapper{float:inherit !important; clear:both; width:100%;margin:0; padding:0;}
            .action-container button{line-height:15px;}
            .hide,#searchResultsTableD_paginate .pagination .paginate_button.first,#searchResultsTableD_paginate .pagination .paginate_button.last{display:none;}
            .searchContent{overflow:visible !important; width:80%;}
            .searchContent .productWrap input{width:68%;}
            #searchResultsTableD_wrapper{width:79%;}
            #searchResultsTableD input[type="checkbox"]{height:auto !important;}
            .productWrap label, #selectedProductsTable thead tr td{font-weight:bold;}
            #searchResultsTableD.table-striped > tbody > tr:last-child td:first-child, #selectedProductsTable.table-striped > tbody > tr:last-child td:first-child{border-radius:0 0 0 4px;}
            #searchResultsTableD.table-striped > tbody > tr:last-child td:last-child,#selectedProductsTable.table-striped > tbody > tr:last-child td:last-child{border-radius:0 0 4px 0;}
            #searchResultsTableD,#selectedProductsTable{width:100% !important; background:white; border-radius:4px;}
             #searchResultsTableD div,#selectedProductsTable div{float:inherit;}
            .searchContent div.leftWrap, #searchInvForm div.rightWrap{padding:0; float:left; margin-right:5%;}
            .searchContent div.leftWrap{width:35.5%; }
            .searchContent div.rightWrap{width:27.5%;}
            .searchContent div input{width:100%;}   
            #actionButtons{position:relative;}
        #selectedProductsTable {width:60% !important;}
            #SearchSection input, #SearchSection select{height:35px !important; display:block;}
            #selectedProductsTable tbody tr td .fa-remove{font-size:16px; color:red; margin-left:20px; cursor:pointer;}
            #selectedProductsTable tbody tr td input{width:90%; margin:3px 0 !important; height:32px !important; border-radius:4px; border:1px solid #BFBFBF;padding:5px;}
           
            #inprogressinv,#inprogressSave{position: absolute;
            left: -4%;    
           margin-top: 1.6%;}
           #inprogress {
                position: absolute;
                left: 2%;
                margin-top: 0.6%;
           }
            #searchResultsTableD_filter, #searchResultsTableD_paginate{float:right;}
        </style>
    
    </head>
    <input type="hidden" id="InvoiceId" name="InvoiceId" value="{!InvoiceId}" />
    <input type="hidden" id="ValidationMessages" name="ValidationMessages" value="{!ValidationMessages}" />
    <input type="hidden" id="PRMClusterId" name="PRMClusterId" value="{!PRMClusterId}" /> 
    <input type="hidden" id="RetailerAcId" name="RetailerAcId" value="{!InvoiceAndProdInfo.InvoiceInfo.F_PRM_RetailerAccount__c}" /> 
    <input type="hidden" id="OperationStatus" name="OperationStatus" value="{!OperationStatus}" /> 
    <input type="hidden" id="retURL" name="retURL" value="{!retURL}" /> 
    <input type="hidden" id="errMsgList" name="errMsgList" value="{!ErrMsgDetail}" /> 
    <input type="hidden" id="canEdit" name = "canEdit" value="{!OR($Permission.RewardGlobalAdmin,AND($Permission.RewardLocalAdmin && CONTAINS(invCountries,TEXT($User.CountryCode))))}" />
    
    
    <apex:form id="form_invoicinfo" styleClass="form-horizontal" html-role="form">
        <apex:actionFunction name="deleteAction" action="{!deleteAttachment}" rerender="pgmessages,invoicefullview" oncomplete="return reLoadPage()">
            <apex:param name="DelAttachment" value="" assignTo="{!DelAttachmentId}" />
        </apex:actionFunction>
        <apex:actionFunction name="approveAction" action="{!ApproveOrReject}" rerender="pgmessages" >
            <apex:param name="approveInvoice" value="Approve" assignTo="{!OperationStatus}" />
        </apex:actionFunction>
        <apex:actionFunction name="rejectAction" action="{!ApproveOrReject}" rerender="pgmessages"  oncomplete="doToggleInProgress('inprogress');">
            <apex:param name="rejectReason" value="" assignTo="{!InvoiceAndProdInfo.InvoiceInfo.F_PRM_InvoiceRejectionReason__c}" />
            <apex:param name="rejectInvoice" value="Reject" assignTo="{!OperationStatus}" />
        </apex:actionFunction>
        <apex:actionFunction name="retailerChangeAction" action="{!changeRetailerAccount}" rerender="retailerSearch" />
        <apex:actionFunction name="pgMessageRefresh" rerender="pgmessages" />
        <!-- <div class="clearfix">&nbsp;</div> -->
        
        <apex:variable var="hasPermissions" value="{!AND(OR($Permission.RewardGlobalAdmin,AND($Permission.RewardLocalAdmin && CONTAINS(invCountries,TEXT($User.CountryCode)))),(InvoiceAndProdInfo.InvoiceInfo.F_PRM_Status__c=='Pending'))}"/>
        <div class="bfobootstrapv1 container">
            <apex:outputPanel id="pgmessages">
                <apex:variable var="showMsg" value="true" rendered="{!(OperationStatus == 'success')}">
                    <apex:repeat value="{!ValidationMessages}" var="ErrMsg">
                        <div id="cmpinfonocng" class="alert alert-success" role="alert">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true" />
                            <span class="sr-only">Info:</span>&nbsp;
                            <span><strong>{!ErrMsg}: </strong>{!MessageList[ErrMsg]}</span>
                        </div>
                    </apex:repeat>
                </apex:variable>
                <apex:variable var="showMsg" value="true" rendered="{! OperationStatus == 'valErrors'}">
                    <apex:repeat value="{!ValidationMessages}" var="ErrMsg">
                        <div id="cmpinfoerr" class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" />
                            <span class="sr-only">Error:</span>&nbsp;
                            <span><strong>{!ErrMsg}: </strong>{!MessageList[ErrMsg]}</span>
                        </div>
                    </apex:repeat>
                </apex:variable>
            </apex:outputPanel>
            <div id="saveErr" class="bfobootstrapv1 alert alert-danger" role="alert" hidden="true">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" />
                <span class="sr-only">Error:</span>&nbsp;
                <label for="saveErrMsgId"></label>&nbsp;<label for="saveErrMsgValue" style="font-weight:normal !important;"></label>
            </div>
        </div>
        <div class="bfobootstrapv1 container">
            <apex:outputPanel id="companyfullview">
                <div id="recordinfoview" class="bfobootstrapv1 panel panel-primary">
                    <div class="bfobootstrapv1 panel-heading">
                        <h4 class="bfobootstrapv1 panel-title">
                            <a href="javascript:void(0);" id="cmpinfo-icon"><i class="bfobootstrapv1 glyphicon glyphicon-collapse-down"></i></a><strong>  Invoice Information</strong>
                        </h4>
                    </div>
                    <div id="companycontent" class="bfobootstrapv1 panel-body panel-collapse collapse in">
                        <div class="bfobootstrapv1 row row-alternate">
                            <div class="bfobootstrapv1 col-md-1">
                                <label class="bfobootstrapv1 control-label">{!$ObjectType.FieloPRM_Invoice__c.Fields.Name.Label}</label>
                            </div>
                            <apex:outputPanel rendered="{!NOT(hasPermissions)}" layout="none">
                                <div class="bfobootstrapv1 col-md-3">
                                    <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!InvoiceAndProdInfo.InvoiceInfo.Name}"></apex:outputField>
                                </div>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!hasPermissions}" layout="none">
                                <div class="bfobootstrapv1 col-md-2">
                                    <apex:inputField id="invoiceName" styleClass="bfobootstrapv1 form-control" value="{!InvoiceAndProdInfo.InvoiceInfo.Name}"></apex:inputField>
                                </div>
                                <div class="bfobootstrapv1 col-md-1" >
                                    <apex:commandLink reRender="pgmessages" title="Check Duplicates" value="Check Duplicate" action="{!checkDuplicateInvoice}" oncomplete="hideDateFormat(); hideSaveErr(); doToggleInProgress('inprogressCheck');" onClick="doToggleInProgress('inprogressCheck');">
                                    </apex:commandLink>
                                    <i id="inprogressCheck" class="fa fa-spinner fa-spin fa-pulse fa-2x fa-fw margin-bottom hide"></i><span class="sr-only">Loading...</span>&nbsp;&nbsp;
                                </div>
                            </apex:outputPanel>
                            <div class="bfobootstrapv1 col-md-2">
                                <label class="bfobootstrapv1 control-label">{!$ObjectType.FieloPRM_Invoice__c.Fields.F_PRM_Transaction__c.Label}</label>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!InvoiceAndProdInfo.InvoiceInfo.F_PRM_Transaction__c}"></apex:outputField>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <label class="bfobootstrapv1 control-label">{!$ObjectType.FieloPRM_Invoice__c.Fields.F_PRM_Status__c.Label}</label>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <apex:outputField id="invStatus" styleClass="bfobootstrapv1 control-label" value="{!InvoiceAndProdInfo.InvoiceInfo.F_PRM_Status__c}"></apex:outputField>
                            </div>
                        </div>
                        <div class="bfobootstrapv1 row row-alternate">
                            <div class="bfobootstrapv1 col-md-1">
                                <label class="bfobootstrapv1 control-label">{!$ObjectType.FieloPRM_Invoice__c.Fields.F_PRM_InvoiceDate__c.Label}</label>
                            </div>
                            <apex:outputPanel rendered="{!NOT(hasPermissions)}" layout="none">
                                <div class="bfobootstrapv1 col-md-3">
                                    <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!InvoiceAndProdInfo.InvoiceInfo.F_PRM_InvoiceDate__c}"></apex:outputField>
                                </div>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!hasPermissions}" layout="none">
                                <div class="bfobootstrapv1 col-md-2">
                                    <!-- <input type="date" id="date" style="width:12em;" class="bfobootstrapv1 form-control" value="{!InvoiceAndProdInfo.InvoiceInfo.F_PRM_InvoiceDate__c}"/> -->
                                    <apex:inputField id="invoiceDate" styleClass="bfobootstrapv1 form-control" value="{!InvoiceAndProdInfo.InvoiceInfo.F_PRM_InvoiceDate__c}" type="date"></apex:inputField>
                                </div>
                                <div class="bfobootstrapv1 col-md-1">
                                </div>
                            </apex:outputPanel>
                            <div class="bfobootstrapv1 col-md-2">
                                <label class="bfobootstrapv1 control-label">{!$ObjectType.FieloPRM_Invoice__c.Fields.FieloPRM_InvoiceUploadDate__c.Label}</label>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!InvoiceAndProdInfo.InvoiceInfo.FieloPRM_InvoiceUploadDate__c}"></apex:outputField>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                               <!--  <label class="bfobootstrapv1 control-label">{!$ObjectType.Contact.Fields.PRMFirstName__c.Label}</label> -->
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <!-- <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!InvoiceAndProdInfo.InvoiceInfo.F_PRM_Member__r.FieloEE__User__r.Contact.PRMFirstName__c}"></apex:outputField> -->
                            </div>
                        </div>
                    </div>
                </div>
            </apex:outputPanel>
        </div>
        <div class="bfobootstrapv1 container">
            <apex:outputPanel id="PartnerView">
                <div id="PartnerInfoView" class="bfobootstrapv1 panel panel-primary">
                    <div class="bfobootstrapv1 panel-heading">
                        <h4 class="bfobootstrapv1 panel-title">
                            <a href="javascript:void(0);" id="cmpinfo-icon"><i class="bfobootstrapv1 glyphicon glyphicon-collapse-down"></i></a><strong>  Partner Information</strong>
                        </h4>
                    </div>
                    <div id="partnercontent" class="bfobootstrapv1 panel-body panel-collapse collapse in">
                        <div class="bfobootstrapv1 row row-alternate">
                            <div class="bfobootstrapv1 col-md-2">
                                <label class="bfobootstrapv1 control-label">{!$ObjectType.FieloPRM_Invoice__c.Fields.F_PRM_MemberName__c.Label}</label>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!InvoiceAndProdInfo.InvoiceInfo.F_PRM_MemberName__c}"></apex:outputField>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <label class="bfobootstrapv1 control-label">{!$ObjectType.FieloPRM_Invoice__c.Fields.F_PRM_MemberAccount__c.Label}</label>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!InvoiceAndProdInfo.InvoiceInfo.F_PRM_Member__r.F_Account__c}"></apex:outputField>
                            </div>
                            <div class="bfobootstrapv1 col-md-4">   
                            </div>
                        </div>
                        <div class="bfobootstrapv1 row row-alternate">
                            <div class="bfobootstrapv1 col-md-2">
                                <label class="bfobootstrapv1 control-label">{!$ObjectType.FieloPRM_Invoice__c.Fields.F_PRM_MemberEmail__c.Label}</label>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!InvoiceAndProdInfo.InvoiceInfo.F_PRM_MemberEmail__c}"></apex:outputField>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <label class="bfobootstrapv1 control-label">{!$ObjectType.FieloEE__Member__c.Fields.F_Country__c.Label}</label>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!InvoiceAndProdInfo.InvoiceInfo.F_PRM_Member__r.F_Country__c}"></apex:outputField>
                            </div>
                            <div class="bfobootstrapv1 col-md-4">   
                            </div>
                        </div>
                    </div>
                </div>
            </apex:outputPanel>
        </div>
        <div class="bfobootstrapv1 container">
            <apex:outputPanel id="retailerSearch">
                <div id="recordaddlinfoview" class="bfobootstrapv1 panel panel-primary">
                    <div class="bfobootstrapv1 panel-heading">
                        <h4 class="bfobootstrapv1 panel-title">
                            <a href="javascript:void(0);" id="cmpinfo-icon"><i class="bfobootstrapv1 glyphicon glyphicon-collapse-down"></i></a><strong>  Retailer Information</strong>
                        </h4>
                    </div>
                    <div id="retailercontent" class="bfobootstrapv1 panel-body panel-collapse collapse in">
                        <div class="bfobootstrapv1 row row-alternate">
                            <div class="bfobootstrapv1 col-md-2">
                                <label class="bfobootstrapv1 control-label">{!$ObjectType.FieloPRM_Invoice__c.Fields.F_PRM_RetailerAccount__c.Label}</label>
                                <i id="inprogressRetailerChange" class="fa fa-spinner fa-spin fa-pulse fa-2x fa-fw margin-bottom hide"></i><span class="sr-only">Loading...</span>
                            </div>
                            <apex:outputPanel rendered="{!hasPermissions}" layout="none">
                                <div class="bfobootstrapv1 col-md-3">
                                    <apex:inputField id="RetailerAccountId" styleClass="bfobootstrapv1 form-control" value="{!InvoiceAndProdInfo.InvoiceInfo.F_PRM_RetailerAccount__c}" onchange="doToggleInProgress('inprogressRetailerChange'); sendRetailerId();" ></apex:inputField>
                                </div>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!NOT(hasPermissions)}" layout="none">
                                <div class="bfobootstrapv1 col-md-3">
                                    <apex:OutputField id="RetailerAccountIdoutput" styleClass="bfobootstrapv1 control-label" value="{!InvoiceAndProdInfo.InvoiceInfo.F_PRM_RetailerAccount__c}"></apex:OutputField>
                                </div>
                            </apex:outputPanel>
                            <div class="bfobootstrapv1 col-md-4">
                                <a href="/001/e?nooverride=1" target="_blank" style="display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: bold; margin-top: 2%;">Create New Business Account</a>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                            </div>
                        </div>
                        <div class="bfobootstrapv1 row row-alternate">
                            <div class="bfobootstrapv1 col-md-2">
                                <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.AccountLocalName__c.Label}</label>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!retailerAccount.AccountLocalName__c}"></apex:outputField>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.StreetLocalLang__c.Label}</label>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!retailerAccount.StreetLocalLang__c}"></apex:outputField>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.LocalAdditionalAddress__c.Label}</label>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!retailerAccount.LocalAdditionalAddress__c}"></apex:outputField>
                            </div>
                        </div>
                        <div class="bfobootstrapv1 row row-alternate">
                            <div class="bfobootstrapv1 col-md-2">
                                <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.ZipCode__c.Label}</label>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!retailerAccount.ZipCode__c}"></apex:outputField>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.LocalCity__c.Label}</label>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!retailerAccount.LocalCity__c}"></apex:outputField>
                            </div>
                            <div class="bfobootstrapv1 col-md-4">
                            </div>
                        </div>
                        <div class="bfobootstrapv1 row row-alternate">
                            <div class="bfobootstrapv1 col-md-2">
                                <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.Country__c.Label}</label>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!retailerAccount.Country__c}"></apex:outputField>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <label class="bfobootstrapv1 control-label">{!$ObjectType.Account.Fields.StateProvince__c.Label}</label>
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <apex:outputField styleClass="bfobootstrapv1 control-label" value="{!retailerAccount.StateProvince__c}"></apex:outputField>
                            </div>
                            <div class="bfobootstrapv1 col-md-4">
                            </div>
                        </div>
                    </div>
                </div>
            </apex:outputPanel>
        </div>
        <apex:outputPanel id="invoicefullview">
        <div class="bfobootstrapv1 container">
           <!--  <apex:outputPanel id="invoicefullview"> -->
                <div id="Attachmentsview" class="bfobootstrapv1  panel panel-primary">
                    <div class="bfobootstrapv1 panel-heading">
                        <h4 class="bfobootstrapv1 panel-title">
                            <a href="javascript:void(0);" id="cmpinfo-icon"><i class="bfobootstrapv1 glyphicon glyphicon-collapse-down"></i></a><strong>  Invoice Attachments</strong>
                        </h4>
                    </div>

                    <div id="invoicecontent" class="bfobootstrapv1 panel-body panel-collapse collapse in">
                        <div class="bfobootstrapv1 row">
                            <div class="bfobootstrapv1 col-md-2"><label class="control-label" style="padding-top: 10px"><strong>Action</strong></label></div>
                            <div class="bfobootstrapv1 col-md-6"><label class="control-label" ><strong>{!$ObjectType.Attachment.Fields.Name.Label}</strong></label></div>
                            <div class="bfobootstrapv1 col-md-2"><label class="control-label" style="padding-top: 10px"><strong>{!$ObjectType.Attachment.Fields.LastModifiedDate.Label}</strong></label></div>
                            <div class="bfobootstrapv1 col-md-2"><label class="control-label" style="padding-top: 10px"><strong>Created By</strong></label></div>
                        </div>
                        <apex:repeat value="{!InvoiceAndProdInfo.InvoiceAttachmentsList}" var="attchment">
                            <div class="bfobootstrapv1 row row-alternate">
                                <div class="bfobootstrapv1 col-md-2" style="margin-top: 10px;">
                                    <a href="/{!attchment.Id}/e?retURL=%2Fapex/VFP_PRMManageInvoiceProducts?id={!InvoiceAndProdInfo.InvoiceInfo.Id}&clusterId={!InvoiceAndProdInfo.InvoiceInfo.F_PRM_Country__c}">Edit </a>|
                                    <a href="{!$Label.CLQ316PRM001}{!attchment.Id}" target="_blank"> View </a>|
                                    <!-- <apex:commandLink title="Delete Attachment" value="Del" onClick="return conformDelete(); " reRender="form_invoicinfo">
                                        <apex:param name="DelAttachment" value="{!attchment.Id}" assignTo="{!DelAttachmentId}" />
                                    </apex:commandLink> -->
                                    <a href="javascript:void(0);" onClick="return conformDelete('{!attchment.Id}')"> Del</a>
                                </div>
                                <div class="bfobootstrapv1 col-md-6" style="margin-top: 10px;">
                                <a href="/{!attchment.Id}" target="_blank">{!attchment.Name}</a>
                                </div>
                                <div class="bfobootstrapv1 col-md-2" style="margin-top: 10px;"><label class="control-label">{!attchment.LastModifiedDate}</label></div>
                                <div class="bfobootstrapv1 col-md-2" style="margin-top: 10px;">
                                    <a href="/{!attchment.CreatedById}" target="_blank">{!attchment.CreatedBy.Name}</a>
                                </div>
                            </div>
                        </apex:repeat>
                    </div>
                </div> 
           <!--  </apex:outputPanel> -->
        </div>
        </apex:outputPanel>
        <div class="bfobootstrapv1 container">
            <apex:outputPanel id="SKUlineup">
                <div id="Attachmentsview" class="bfobootstrapv1 panel panel-primary">
                    <div class="bfobootstrapv1 panel-heading">
                        <h4 class="bfobootstrapv1 panel-title">
                            <a href="javascript:void(0);" id="cmpinfo-icon"><i class="bfobootstrapv1 glyphicon glyphicon-collapse-down"></i></a><strong>  SKU Line Input</strong>
                        </h4>
                    </div>
                    <!--  Search section-->
                         <div id="SearchSection">  
                          <div >                                  
                                    <div style="clear: left;">
                                        <div id="cboxMiddleLeft"></div>
                                            <div id="cboxContent" style=" margin:0 !important; max-height:100% !important;">
                                                <div id="cboxLoadedContent" style="height: 100%;" class="searchContent">
                                                    <div class="well" id="searchPanel">
                                                
                                                        <form name="searchInvForm" id="searchInvForm">
                                                            <h2 style="margin-bottom:0px !important;">Search Products</h2>
                                                            <div class="formWrap">
                                                            <div style="width:100%; margin:0 !important;">
                                                                <label style="font-size:14px;font-weight:normal;margin-bottom:1%;display:inline-block;margin-top:1%;color:#626469;">{!$Label.CLQ316PRM002}</label>
                                                                <div style="float:left; width:100%;" class="productWrap">
                                                                            <label>Product Name/Product Description</label>
                                                                            <input type="text" name="productDesc" id="productDesc" />     
                                                               </div>  
                                                                <div class="leftWrap">
                                                                        <label>SKU</label>
                                                                        <input type="text" name="sku" id="sku" />
                                                               </div>
                                                               <div class="rightWrap">
                                                                        <label>Product Family</label>
                                                                        <input type="text" name="productFamily" id="productFamily" />                                      
                                                               </div>
                                                                </div>
                                                                <div class="action-container" style="border-top:0px !important; margin:0 0 20px 0 !important;">
                                                                <i id="inprogressinv" class="fa fa-spinner fa-spin fa-pulse fa-2x fa-fw margin-bottom hide"></i><span class="sr-only">Loading...</span>&nbsp;&nbsp;
                                                                <button type="button" id="searchid" style="display:inline;background: #42B4E6;color: #fff;height: 34px;padding: .8em 1.5em;font-weight: bold;text-align: center;border-radius: 2px;border-color: #fff;border-style: solid;border-width: 0px;margin:15px 10px 10px 0;width: auto;display: block;margin-top:15px auto;float: left;" >Search</button>
                                                                                                          
                                                                </div>
         
                                                            </div>                         
                                                        </form>
                                                        <div class="bfobootstrapv1 container">
                                                            <table id="searchResultsTableD" class="bfobootstrapv1 table table-striped table-bordered dt-responsive nowrap" cellspacing="0" >
                                                            </table>
                                                        </div> 
                                                    </div>
                                                    
                                                    <div class="well" id="selectedProd">
                                                        <h2>List of Selected Products</h2>
                                                            
                                                        <div id="selectedProducts" class="bfobootstrapv1 container" style="background:none !important;">                                    
                                                            <table id="selectedProductsTable" class="bfobootstrapv1 table table-striped table-bordered dt-responsive nowrap dataTable no-footer" style="margin-top:-5px; margin-bottom:0 !important;">
                                                                <thead>
                                                                    <tr>
                                                                        <td style="width:14%;">SKU</td>
                                                                        <td style="width:30%;">Quantity</td>
                                                                        <td style="width:20%;">Unit Price</td> 
                                                                        <td style="width:20%;">Total Price</td> 
                                                                        <td style="width:20%;">Points</td> 
                                                                        <td style="width:5%;">Remove</td> 
                                                                    </tr>
                                                                </thead>
                                                                <tbody style="overflow:auto !important;">                                                            
                                                                </tbody>                                    
                                                            </table>                                
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                             </div>                        
                                                   
                                    </div>
                                            
                                                
                                  
                         </div>
                         
                        
                        <!--  End of Search -->
                    </div>
                </div>
            </apex:outputPanel>
        </div>
        <apex:outputPanel >
            <div class="bfobootstrapv1 container">
                <div class="bfobootstrapv1 row" style="margin-right: 0px;">
                    <apex:outputPanel id="invactionButtons">
                        <div class="bfobootstrapv1 col-md-10 pull-left">
                            <i id="inprogress" class="fa fa-spinner fa-spin fa-pulse fa-2x fa-fw margin-bottom hide"></i><span class="sr-only">Loading...</span>&nbsp;&nbsp;
                            <div class="bfobootstrapv1 col-md-5">
                            
                                <button type="button" id="savebtn" Class="bfobootstrapv1 btn btn-primary btn-md">Save</button>&nbsp;                                                    
                                
                                <apex:commandButton id="approveRequest" disabled="{! OR( NOT(hasPermissions), InvoiceAndProdInfo.InvoiceInfo.F_PRM_Status__c != 'Pending')}"  styleClass="bfobootstrapv1 btn btn-primary btn-md" title="Approve" value="Approve" onclick="doToggleInProgress('inprogress'); approveCheck();" reRender="pgmessages" />
                      
                                <button type="button" id="resetbtn" Class="bfobootstrapv1 btn btn-primary btn-md">Reset All</button>&nbsp;
                                
                                <apex:commandButton id="rejectRequest" disabled="{! OR( NOT(hasPermissions), InvoiceAndProdInfo.InvoiceInfo.F_PRM_Status__c != 'Pending') }" styleClass="bfobootstrapv1 btn btn-primary btn-md" title="Reject" value="Reject & Email" onclick="doToggleInProgress('inprogress'); rejectReasonCheck();" reRender="pgmessages" />
                            </div>
                            <div class="bfobootstrapv1 col-md-2">
                                <label class="bfobootstrapv1 control-label">{!$ObjectType.FieloPRM_Invoice__c.Fields.F_PRM_InvoiceRejectionReason__c.Label}</label>
                            </div>
                            <div class="bfobootstrapv1 col-md-4"> 
                                <apex:inputField id="rejectReason" styleClass="bfobootstrapv1 form-control" value="{!InvoiceAndProdInfo.InvoiceInfo.F_PRM_InvoiceRejectionReason__c}"></apex:inputField>   
                            </div>
                        </div>
                    </apex:outputPanel>
                    <a href="/{!InvoiceId}" Class="bfobootstrapv1 btn btn-primary btn-md" style="float:right !important;margin-right:30px;">Back</a>
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
        </apex:outputPanel>
    </apex:form>
</apex:page>