<apex:page controller="VFC_DK_CreateContact" >
<script  type="text/javascript">
        function lockScreen()
        {
                document.getElementById('loading').style.display='block';
        }

        function unlockScreen(Arg)
        {
                document.getElementById('loading').style.display='none';
        }
    </script>


    <apex:styleSheet value="{!$Resource.STR015_StyleSheet}"/>
    <apex:includeScript value="{!$Resource.STR019_JavaScripts}"/>
    <apex:includeScript value="{!URLFor($Resource.jquery_bundle,'jquery.js')}" />

    <div id='loading' class='divstyleCreateSeries'>
        <apex:image value="{!$Resource.STR014_ProgressBar}" style="display:block;margin:0 auto;text-align:center;margin-top:300px;"/>
    </div>
   <apex:form id="theForm">
    <apex:pageBlock mode="Edit" id="inputSearch" >
    <apex:pageMessages id="messages" escape="false"/>

    <apex:pageBlockSection title="{!$Label.CLOCT13ACC12}" columns="2" id="conInfo">
    <apex:inputField value="{!contact.Salutation}" id="conSalutation" />
    <apex:inputField value="{!contact.email}" id="conEmail"/>
    <apex:inputField value="{!contact.FirstName}" id="conFirstName" />
    <apex:inputField value="{!contact.MobilePhone}"  id="conMobilePhone" />
     <apex:inputField value="{!contact.lastName}" id="conLastName"/>
     <apex:inputField value="{!contact.WorkPhone__c}" id="conWorkPhone"/>
     <apex:inputField value="{!contact.LocalFirstName__c}" id="conLocalFirstName" />
     <apex:inputField value="{!contact.WorkPhoneExt__c}" id="conWorkPhoneExt" />
    <apex:inputField value="{!contact.LocalLastName__c}" id="conLocalLastName"/>
    <apex:inputField value="{!contact.HowHeard__c}" id="conHowHeard" />
    <apex:inputhidden rendered="{!NOT(recordType==$Label.CLDEC12ACC01)}"/>
    <apex:inputField value="{!account.AccountLocalName__c}" id="conAccountLocalName" rendered="{!recordType==$Label.CLDEC12ACC01}"/>
    <apex:inputField value="{!contact.OtherreasonHowHeard__c}" id="conOtherreasonHowHeard" />
    </apex:pageBlockSection>

    <apex:pageBlockSection title="{!$Label.CLOCT13ACC13}" columns="2" id="accInfo" rendered="{!recordType!=$Label.CLDEC12ACC01}">
    <apex:inputField value="{!account.Name}" id="Name" />
    <apex:inputField value="{!account.CurrencyIsoCode}" id="accCurrency"/>
    <apex:inputField value="{!account.AccountLocalName__c}" id="AccountLocalName" />
    <apex:inputField value="{!account.Phone}" id="accPhone"/>
    <apex:inputField value="{!account.AccType__c}" id="accType"/>
    <apex:pageBlockSectionItem />
    <apex:inputField value="{!account.LeadingBusiness__c}" id="accLeadingBusiness"/>
    <apex:pageBlockSectionItem />
    <apex:inputField value="{!account.MarketSegment__c}" id="MarketSegment"/>
    <apex:inputField value="{!account.ClassLevel1__c}" id="ClassLevel1" required="true"/>
    <apex:inputField value="{!account.MarketSubSegment__c}" id="MarketSubSegment" />
    <apex:inputField value="{!account.ClassLevel2__c}" id="ClassLevel2"/>
    </apex:pageBlockSection>

    <apex:pageBlockSection collapsible="true" id="accountAddress" columns="2" title="{!$Label.CLOCT13ACC17}"    rendered="{!recordType!=$Label.CLDEC12ACC01}">
    <apex:inputField value="{!account.Street__c}"  id="Street"  style="width:150px;"/>
    <apex:inputField value="{!account.StreetLocalLang__c}" id="StreetLocalLang" style="width:150px;" />
    <apex:inputField value="{!account.AdditionalAddress__c}" id="AdditionalAddress"/>
    <apex:inputField value="{!account.LocalAdditionalAddress__c}" id="LocalAdditionalAddress" />
    <apex:inputField value="{!account.City__c}" id="City" required="true"/>
    <apex:inputField value="{!account.LocalCity__c}" id="LocalCity" />
    <apex:inputField value="{!account.ZipCode__c}" id="ZipCode" />
    <apex:pageBlockSectionItem />
    <apex:inputField value="{!account.StateProvince__c}" id="StateProvince"/>
    <apex:pageBlockSectionItem />
    <apex:inputField value="{!account.County__c}" id="County" />
    <apex:inputField value="{!account.LocalCounty__c}" id="LocalCounty" />
    <apex:inputField value="{!account.Country__c}" id="Country" required="true"/>
    <apex:pageBlockSectionItem />
    <apex:inputField value="{!account.POBox__c}" id="POBox" />
    <apex:pageBlockSectionItem >
        <apex:actionRegion >
             <apex:outputLabel style="font-weight:Bold;font-size:11px;color:#2C3539;margin-left:10px;margin-right:5px;float: left;width:150px;" value="{!$Label.CLOCT13ACC16}" for="conUpdateAccountAddress"  rendered="{!recordType!=$Label.CLDEC12ACC01}"/>
                  <apex:inputCheckbox style="margin-left:20px;" value="{!ischecked}" id="conUpdateAccountAddress" rendered="{!recordType!=$Label.CLDEC12ACC01}">
                      <apex:actionsupport event="onclick"  rerender="contactAddressfields" />
                  </apex:inputCheckbox>
         </apex:actionRegion>
    </apex:pageBlockSectionItem>
    </apex:pageBlockSection>

    <apex:outputPanel id="contactAddressfields">
        <apex:pageBlockSection columns="2" id="conaddInfo" title="{!$Label.CLOCT13ACC18}" rendered="{!OR(recordType==$Label.CLDEC12ACC01,AND(IF(ischecked==True,False,True),recordType!=$Label.CLDEC12ACC01))}" >
              <apex:inputField value="{!contact.Street__c}"  id="conStreet"  style="width:150px;" />
              <apex:inputField value="{!contact.StreetLocalLang__c}" id="conStreetLocalLang" style="width:150px;" />
              <apex:inputField value="{!contact.AdditionalAddress__c}" id="conAdditionalAddress"/>
              <apex:inputField value="{!contact.LocalAdditionalAddress__c}" id="conLocalAdditionalAddress" />
              <apex:inputField value="{!contact.City__c}" id="conCity" required="true"/>
              <apex:inputField value="{!contact.LocalCity__c}" id="conLocalCity" />
              <apex:inputField value="{!contact.ZipCode__c}" id="conZipCode" />
           <apex:pageBlockSectionItem />
              <apex:inputField value="{!contact.StateProv__c}" id="conStateProvince"/>
           <apex:pageBlockSectionItem />
              <apex:inputField value="{!contact.County__c}" id="conCounty" />
              <apex:inputField value="{!contact.LocalCounty__c}" id="conLocalCounty" />
              <apex:inputField value="{!contact.Country__c}" id="conCountry" required="true"/>
           <apex:pageBlockSectionItem />
               <apex:inputField value="{!contact.POBox__c}" id="conPOBox" />
           </apex:pageBlockSection>
      </apex:outputPanel>

     <apex:pageBlockButtons id="theBlockBtn" location="both">
            <apex:commandButton action="{!saveContact}" value="{!$Label.CL00017}" onclick="lockScreen()" oncomplete="unlockScreen()"  rerender="theForm"/>
             <apex:actionRegion >
            <apex:commandButton action="{!cancelContact}" value="{!$Label.CL00010}"  immediate="true"/>
             </apex:actionRegion>
        </apex:pageBlockButtons>

        </apex:pageBlock>
    </apex:form>
    <script>
      jQuery(document).ready(function(){
        if({!$CurrentPage.parameters.AutoSave} && jQuery('.errorM3').length==0)
          jQuery('input[type="button"][value="{!$Label.CL00017}"]:first').click();
      });
    </script>
    <apex:includeScript value="{!URLFor($Resource.GoogleAnalytics)}" />
</apex:page>