<apex:page standardController="Hotfix__c" extensions="VFC_SubmitForReview" tabStyle="OppAgreement__c" action="{!UpdateRecordStatus}">
<apex:styleSheet value="{!$Resource.STR015_StyleSheet}"/>
    <div id='loading' class='divstyleCreateSeries'>
    <apex:image value="{!$Resource.STR014_ProgressBar}" style="display:none-moz-opacity:0.5; opacity:0.5;position:absolute;left:700px; top:100px;"/>
    </div>
    <script type="text/javascript">
        function lockScreen(){document.getElementById('loading').style.display='block';}
        function unlockScreen(){document.getElementById('loading').style.display='none';}
    </script>
    <apex:form >
        <div align="Center">
         
            <table id='tbl'>
                <tr>
                    <td id='tbltd'></td>
                </tr>
                <tr>                
                    <td>
                        <apex:pageBlock >
                        <apex:pageBlockSection columns="1"  >
                        <apex:outputPanel id="output1"   >
                          <!--Showing messages on various conditions -->
                          <p class='pclass'><apex:outputText >{!message}</apex:outputText></p>
                          
                          <!--Showing buttons on various conditions -->
                          <p align="center">
                              <apex:commandLink value="{!$Label.CLJUL16PAN13}" id="btnCanConf" action="{!unLoadMe}" rendered="{!displayConfBtn}" onclick="lockScreen()" oncomplete="unlockScreen()"  styleClass="btn" />
                          </p>
                        </apex:outputPanel>
                        </apex:pageBlockSection>
                        </apex:pageBlock>
                    </td>
                </tr>
            </table>
        </div>  
    </apex:form>  
</apex:page>